<%= form_for @template, remote: @template.persisted?, html: {multipart: true} do |f| %>
	<div class="block">
		<div class="section header">
			<h3>Основные настройки</h3>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= f.label :name, 'Наименование шаблона'%>
				<%= f.text_field :name %>
			</div>
		</div>
		<div class="section">
			<table class="block-table" id="f_features">
				<thead>
					<tr>
						<td class="feature-name">
							Характеристика
						</td>
						<td>
							Значения
						</td>
						<td class="basic">
							Основная
						</td>
						<td class="delete">
							Удаление
						</td>
						<td class="order">
						</td>
					</tr>
				</thead>
				<tbody>
					<%= render partial: 'products/f_feature', :collection => @template.template_features, as: :template_feature, locals: {product: nil} %>
				</tbody>	
			</table>
			<%= link_to_add_feature %>
		</div>
	</div>
<% end %>
<% content_for :top_bar_buttons do %>
	<%= link_to 'Вернуться к списку шаблонов', features_templates_path, class: 'label-button' %>
	<%= content_tag(:a, 'Сохранить', data: {form: '#admin_workspace form'}, class: 'label-button submit') %>
<% end %>

<% content_for :top_bar do %>
	<h2 class="features">
		<%= @template.persisted? ? 'Изменение шаблона' : 'Создание шаблона' %>
	</h2>
<% end %>