<div class="block">
	<div class="section">
		<table id="features_templates" class="basic-table">
			<thead>
				<tr>
					<th class="template-name">
						Наименование шаблона
					</th>
					<th class="edit">
						Изменение
					</th>
					<th class="delete">
						Удаление
					</th>
				</tr>
			</thead>
			<tbody>
				<% FeaturesTemplate.all.each do |template| %>
					<tr>
						<td class="template-name">
							<%= link_to template.name, edit_features_template_path(template) %>
						</td>
						<td class="edit">
							<%= link_to 'Изменить', edit_features_template_path(template) %>
						</td>
						<td class="delete">
							<%= link_to 'Удалить', template, method: :delete  %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<% content_for :top_bar do %>
	<h2 class="features">
		Шаблоны характеристик
	</h2>
<% end %>

<%= 
content_for :top_bar_buttons do
	link_to 'Новый шаблон', new_features_template_path, class: 'label-button'
end 
%>