<ul name="<%=prev_id %>">
	<% Category.where(prev_id: prev_id).order(order: :asc).each do |category| %>
		<% if category.last %>
			<li name="<%=category.id %>">
				<span class="move-icon"></span> <%= content_tag 'a', category.name, class: 'link-to-get-form', style: 'color:'+(category.special ? "#ff0000" : "")%>
				<% if category.products.empty? %>
					<ul name="<%= category.id %>"></ul>
				<% end %>
			</li>
		<% else %>
			<li name='<%= category.id %>'>
				<span class="move-icon"></span> <%= content_tag 'a', category.name, class: 'link-to-get-form', style: 'color:'+(category.special ? "#ff0000" : "") %>
				<%= render partial: 'category', locals: {prev_id: category.id} %>
			</li>
		<% end %>
	<% end %>
</ul>