<div class="row">
	<div class="medium-8 columns catalog-edit">
		<%= content_tag 'a', 'Добавить категорию', class: 'link-to-get-form' %>
		<%= render partial: 'category', locals: {prev_id: 0} %>
	</div>
	<div class="medium-8 columns category-edit">

	</div>
</div>
<div class="row">
	<div class="medium-16 columns">
		<%= button_tag 'Сохранить изменения', type: 'button', class: 'catalog-save'%>
	</div>
</div>