<%= form_for @category, url: {action: (params[:id] ? 'update' : 'create')}, :html => { :multipart => true }, remote: true do |f| %>
	
	<%= f.label :name, 'Имя категории' %>
	<%= f.text_field :name %>

	<%= f.label :title, 'Заголовок' %>
	<%= f.text_field :title %>

	<%= f.label :product_prefix, 'Префикс' %>
	<%= f.text_field :product_prefix %>

	<%= f.check_box :special %>
	<%= f.label :special, 'Категория относится к разряду акций?' %><br>

	<%= f.check_box :hidden %>
	<%= f.label :hidden, 'Скрытая категория?' %><br>

	<%= f.label :label, 'Выбрать пометку' %>
	<% if f.object.label.exists? %>
					<%= f.file_field :label, value: f.object.label.path, id: 'basic_image' %>
					<%= image_tag  f.object.label.url, id: 'basic_image'%>
				<% else %>
					<%= f.file_field :label, id: 'basic_image' %>
					<%= tag 'img', src: '#', id: 'preview'  %>
				<% end %>

	<%= f.label :description, 'Описание' %>
	<%= f.text_area :description %>

	<%= f.hidden_field :id %>

	<% if params[:id] %>
		<%= f.submit 'Сохранить изменения' %> или <%= button_tag 'Удалить категорию', type: 'button', data: {path: '/catalog', id: @category.id}, class: 'cat-delete' %>
	<% else %>
		<%= f.submit 'Создать категорию' %>
	<% end %>
<% end %>