<% @values.maximum("row").downto(0) do |p| %>
	<div class="product">
		<h1><%= name = @attr.find_by(attr_type: 'Название').name %>: <%= name.rows.find_by(row: p).value %></h1>
		<h2><%= price = @attr.find_by(attr_type: 'Цена').name %>: <%= price.rows.find_by(row: p).value %></h2>
		<% @attr.where.not(attr_type: 'Изображение').each |pic| %>
			<div class="productpic">
				
		<% product= @values.where("row = ?", p) %>
		<h1><% product.joins(:table_attr).where("attr_type = ?", 'Название').take.value %></h1>
	</div>
<% end %>
