<nav class="s-nav">
	<h2><%= link_to 'Каталог', catalog_path, class: 'cat-link' %></h2>
	<ul id="catalog">
		<% Category.where(prev_id: nil, hidden: false).order(:order).each do |main| %>
			<li>
				<%= link_to main.name, catalog_path(main.id),  class: 'main' + (main.special ? ' special' : '') %>
				<% if Category.where(prev_id: main.id).exists? %>
					<ul>
						<% Category.where(prev_id: main.id, hidden: false).order(:order).each do |c| %>
							<li>
								<%= link_to c.name, catalog_path(c.id),  class: (main.special ? ' special' : '') %>
							</li>
						<% end %>
					</ul>
				<% end %>
			</li>
		<% end %>
	</ul>
</nav>