<fieldset>
	<legend>Заполните форму</legend>
		<%= form_for @call do |f| %>
			<%= f.label :second, 'Ваша фамилия' %>
			<%= f.text_field :second%> 

			<%= f.label :first, 'Имя' %>
			<%= f.text_field :first%> 

			<%= f.label :phone, 'Контактный телефон' %>
			<%= f.phone_field :phone%> 

			<%= f.submit 'Отправить' %>
		<% end %>
</fieldset>