<div>
		<%= form_for Slide.new, remote: true, class: 'slide' do|f| %>

			<img />	
			<%= label :image, 'Выберите изображение' %>
			<%= f.file_field :image %>	
			<%= f.label :description, 'Описание слайда' %>
			<%= f.text_field :description  %>
			

		<% end %>
</div>