<aside>
	<%= render partial: 'layouts/catalog' %>

	<% if (CONFIG[:news] and NewsItem.any?) or current_user.try(:admin?) %>
		<div class="aside-news">
			<h3>
				Новости
				<% if current_user.try(:admin?) %>
					<%= link_to image_tag('settings_white.png'), edit_news_path, class: 'edit-news-item' %>
				<% end %>
			</h3>

			<% NewsItem.last(2).reverse.each do |news_item| %>
				<div class="news-item">
					<h4>
						<%= link_to news_index_path(:anchor => "news_#{news_item.id-1}") do %>
							<%= news_item.headline %>
							<span><%= news_item.created_at.strftime("%d.%m.%Y") %></span>
						<% end %>
					</h4>
					
					<%= image_tag(news_item.image.url(:small)) if  news_item.image.exists? %>
					<p> <%= news_item.description %> </p>
				</div>
			<% end %>

			<%= link_to 'Просмотреть все', news_index_path, style: 'padding-bottom: 20px;' %>

		</div>	
	<% end %>
</aside>
<main id="main" class="r-aside">
	<h2 class="m-header">Популярные товары</h2>
	<% @mp_presenter.main_categories.each do |main_cat| %>
		<% if @mp_presenter.products(main_cat).any? %>
			<h3 class="cat-header"><%= link_to main_cat.title, catalog_path(main_cat) %></h3>
			<div class="cat-products">
			
				<% @mp_presenter.products(main_cat).each do |prod| %>
					<%= render partial: 'products/product', locals: {page: 'main', product: prod} %>
				<% end %>

			</div>
		<% end %>
	<% end %>
	<div class="main-bottom">
		<% if current_user.try(:admin?) %>
			<%= form_tag({:controller => :general_content, :action => :update}, :method => :patch, :remote => true) do %>
				<%= text_area :general_content, :main_page_content, data: {toolbar: 'ContentEditInline'}, class: "inline-area" %>
				<div class="inline-content">
					<%= @mp_presenter.content.html_safe %>
				</div>
			<% end %>
		<% else %>
			<%= @mp_presenter.content.html_safe %>
		<% end %>
	</div>
</main>

<% content_for :admin_menu do %>
	<li>
		<%= link_to 'Настройка каталога', edit_catalog_path %>
	</li>
	<li>
		<%= link_to 'Управление новостями', edit_news_path %>
	</li>
	<li>
		<%= link_to 'Настроить слайдер', edit_slider_path %>
	</li>
	<li>
		<%= link_to 'Управление контентом', edit_mp_content_path %>
	</li>
	<li>
		<p>Вы также можете изменить текст, следующий после списка товаров, не уходя с данной страницы.</p>
	</li>
<% end %>

<% content_for :title do %>
	<%= @mp_presenter.title  %>
<% end %>

<% content_for :meta do %>
	<meta name="Description" content="<%= @mp_presenter.description %>" >
	<meta name="Keywords" content="<%= @mp_presenter.keywords %>">
<% end %>

<% content_for :divider do %>
	<div class="slider-wrapper">
		<div class="slider-container">
			<ul id="sb-slider" class="sb-slider">
				<% SimpleSlide.all.each do |slide| %>
 				    <li>
 				    	<%= link_to slide.link do %>
 				    		<%= image_tag slide.image.url(:normal) %>
 				    	<% end %>
 				    </li>
 				<% end %>
 			</ul>			
		</div>
	</div>
<% end %>