<div class="row">
	<p class="open-soon-admin"><%= link_to 'админ?', new_user_session_path %></p>
</div>

<div class="row">
	<div class="small-11 small-centered columns">
		<div class="open-soon-wrapper">
			<h1>Скоро открытие!</h1>
			<h3>Интернет магазин дверей и обоев "Двери возим" находится в разработке</h3>
			<%= form_tag '/subscribers', :id => 'mail_form', :data => {abide: '', type: 'json'}, :remote => true, :method => :post do %>
				<p> Мы можем уведомить вас об открытии, для этого введите свой e-mail в поле ниже. </p>
				<div class="row">
					<div class="small-13 columns">
						<%= email_field_tag :new_mail, '', :placeholder => 'Введите свой e-mail', :required => true %>
						<small class="error">Пожалуйста введите адрес электронной почты</small>
					</div>
					<div class="small-3 columns">
						<%= content_tag :button, 'Отправить запрос', :type => 'submit', :class => 'open-soon-add-email', data: { disable_with: 'Submitting...' } %></div>
				</div>
			<% end %>
		</div>
	</div>
</div>