<div class="row">
	<div class="medium-12 columns">
		<fieldset>
			<legend>Слайдер</legend>
			<%= form_for SiteOption.find_by(name: 'show_slider') do |f| %>
				<p>'Отображать' слайдер на главной странице?</p>
					<%= f.radio_button :value, 'on' %> <%=label_tag :value, 'да' %>
					<%= f.radio_button :value, 'off' %> <%=label_tag :value, 'нет' %>
			<% end %>
			<p>Настройка слайдов</p>
				<%=content_tag :a, 'Добавить слайд', class: 'add-slide' %>
				<%Slide.all.each do |slide| %>
					<%= form_for slide, remote: true, class: 'slide' do |f|%>
						<%=image_tag slide.image.url %>
						<%=f.label :image, 'Изменить картинку' %>
						<%=f.file_field :image %>
						<%=f.label :description, 'Описание слайда' %>
						<%=f.text_field :description %>
					<% end %>
				<% end %>
			</fieldset>
		<fieldset>
			<legend>Новости</legend>
			<%= form_for SiteOption.find_by(name: 'show_news') do |f| %>
			<p>Отображать новости на главной странице?</p>
					<%= f.radio_button :value, 'on' %> <%=label_tag :value, 'да' %>
					<%= f.radio_button :value, 'off' %> <%=label_tag :value, 'нет' %>
			<% end %>
		</fieldset>
		<%= button_tag 'Сохранить изменения', type: 'button', class: 'save-site-opt' %>
	</div>
</div>