<% if @isSaved %>
	$('#header_cart').replaceWith("<%= escape_javascript render( partial: 'layouts/cart' ) %>");
<% else %>
	alert("Произошла ошибка при добавлении товара, однако вы всегда можете заказать обратный звонок 
		(или позвонить самостоятельно) и оформить заказ по телефону.");
<% end %>