<%= form_tag({:controller => :slides, :action => @slide_presenter.action, :id => @slide.id}, :remote => @slide.persisted?, :multipart => true, class: 'slide-form') do %>	
	<div id="fields"></div>

	<div class="block">
		<div class="section header">
			<h3 class="inline">Выбор макета</h3>
		</div>
		<div class="section">
			<a class="select-pattern" data-pattern="pattern1"><%= image_tag 'pattern1.jpg' %></a>
			<a class="select-pattern" data-pattern="nopattern"><%= image_tag 'nopattern.jpg' %></a>
		</div>
	</div>

	<div id="slide_form_block" class="block">
		<div class="section header">
			<h3 class="inline">Основные свойства</h3>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= label_tag 'slide[data][in]', 'Анимация слайда' %>
				<%= select_tag 'slide[data][in]', options_for_select([ 'none', 'fade', 'left', 'right', 'top', 'bottom', 'scrollLeft', 'scrollRight', 'scrollTop', 'scrollBottom'], @slide.get_data('in')) %>
			</div>
		</div>
	</div>
<% end %>

<div id="pattern1" class="replaceable">
	<div class="section">
		<div class="form-input-1">
			<%= label_tag :header, 'Заголовок' %>
			<%= text_field_tag :header %>
		</div>
	</div>
	<div class="section">
		<div class="form-input-1">
			<%= label_tag :text, 'Текст' %>
			<%= text_area_tag :text %>
		</div>
	</div>
	<div class="section">
		<div class="form-input-2">
			<%= label_tag :link_text, 'Текст кнопки' %>
			<%= text_field_tag :link_text %>
		</div>
		<div class="form-input-2-l">
			<%= label_tag :link, 'Ссылка' %>
			<%= text_field_tag :link %>
		</div>
	</div>
	<div class="section">
		<div class="form-input-1 pattern-image">
			<%= label_tag :image, 'Изображение' %>
			<%= file_field_tag :image %>
			<img>
		</div>
	</div>
	<%= hidden_field_tag :pattern, value: 1 %>
</div>

<div id="nopattern" class="section replaceable">
	<div class="s-add-buttons">
		<a id="add_to_slide" data-id="<%= @slide.id %>" class="add-slide-item">Добавить элемент</a>
		<a class="add-slide-item animated" data-id="<%= @slide.id %>" data-type="text">Текст</a>
		<a class="add-slide-item animated" data-id="<%= @slide.id %>" data-type="image">Изображение</a>
		<a class="add-slide-item animated" data-id="<%= @slide.id %>" data-type="button">Кнопка</a>
	</div>

	<div id="slide_editor">
			<div id="editor_workspace">
				
				<% @slide.slide_items.each do |item| %>
					<% case item.item_type %>
					<% when 'image' %>
						<%= content_tag(:div, {id: "__#{item.id}", style: item.style, class: 'slide-item s-image', data: Marshal::load(item.data)}) do 
							image_tag(item.image.url, class: 'slide-img-preview', style: item.style) +
							content_tag(:a, '&#xD7;'.html_safe, class: "delete-slide-item")
						end %>
					<% when 'text' %>
						<%= content_tag(:div, {style: item.style, class: 'slide-item s-text', data: Marshal::load(item.data)}) do
							content_tag(:div, item.content.html_safe) +
							content_tag(:a, '&#xD7;'.html_safe, class: "delete-slide-item")
						end %>
					<% when 'button' %>
						<% content = item.get_content_object %>
						<%= content_tag(:div, {class: 'slide-item s-button', data: Marshal::load(item.data)}) do
							content_tag(:a, '&#xD7;'.html_safe, class: "delete-slide-item") +
							content_tag(:div, {style: item.style, id: item.id}, href: content['link']) do
								content_tag(:div, content['text'].html_safe)
							end
						end %>
					<% end %>
				<% end %>
			</div>

			<div id="editor_menu">
				<div id="top_panel">
					<div class="left">
						<% @slide.slide_items.where(item_type: 'image').each do |item|  %>
							<div class="img-content-opt" style="display: none;">
								<label>Выбрать другой файл</label>
								<%= file_field_tag "_#{item.id}", name: "image_items[#{item.id}]"  %>
							</div>
						<% end %>
					</div>

					<div id="cke_wrapper">
					</div>
					
				</div>
				<div id="bottom_panel"> 
					<div>
						<div><%= check_box_tag :fixed, 1, false, disabled: true %> Зафиксировать?</div>
						<div><%= check_box_tag :special, 'cycle', false, disabled: true %> В цикле?</div>
					</div>

					<div>
						<div>
							Тип появления: 
							<%= select_tag :in, options_for_select(@slide_presenter.data_in_out), :include_blank => true, disabled:true %>
						</div>
						<div>
							Тип исчезновения: 
							<%= select_tag :out, options_for_select(@slide_presenter.data_in_out), :include_blank => true, disabled:true %>
						</div>
						<div>
							"Сглаживание" появления: 
							<%= select_tag 'ease-in', options_for_select(@slide_presenter.data_ease), :include_blank => true, disabled:true %>
						</div>
						<div>
							"Сглаживание" исчезновения: 
							<%= select_tag 'ease-out', options_for_select(@slide_presenter.data_ease), :include_blank => true, disabled:true %>
						</div>
					</div>
					<div>
						<div>
							Продолжительность: 
							<%= text_field_tag :time, '', disabled: true %>
						</div>
						<div>
							Задержка: 
							<%= text_field_tag :delay, '', disabled: true %>
						</div>
						<div>
							Шаг: 
							<%= text_field_tag :step, '', disabled: true %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :top_bar do%>
	<h2 class="slider">
		<%= @slide_presenter.name %>
	</h2>
<% end %>

<%= 
content_for :top_bar_buttons do
	content_tag(:a, 'Сохранить', data: {form_id: '#admin_workspace form'}, id:'slide_submit', class: 'label-button')
end 
%>