<%- if controller_name != 'sessions' %>
  <%= link_to "Вход", new_session_path(resource_name) %><br />
<% end -%>


<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
