<tr>
	<td>
		<img>
	</td>
	<td class="edit">
		<%= file_field_tag 'slide[new_id][image]' %>
		<%= content_tag :a, 'Изменить изображение', class: 'change-picture' %>
	</td>
	<td class="link">
		<%= text_field_tag 'slide[new_id][link]', '', placeholder: 'Введите ссылку' %>
	<td class="delete">
		<%= content_tag :a, 'Удалить', class: 'delete-slide' %>
	</td>
	<td class="order">
	</td>
</tr>