<%= form_tag({:controller => :slider, :action => :update}, :method => :patch, multipart:true, remote: true, class: 'slider-edit' ) do %>
	<div class="block">
		<div class="section header">
			<h3>Настройка слайдера</h3>
		</div>
		<div class="section">
			<div class="form-input-2">
				<%= label :site_options, :slider, 'Включить слайдер' %>
				<%= check_box :site_options, :slider, {:checked => CONFIG[:slider]}, 1, 0 %>
				<span class="after-cb">Если данное поле отмечено, то слайдер будет отображаться на главной странице.</span>
			</div>
			<div class="form-input-2-l">
				<%= label :slider, :interval, 'Время задержки слайда' %>
				<%= number_field :slider, :interval, :value => @slider.interval, min: 0, step: 1000 %>
			</div>
		</div>
	</div>
	
	<div class="block">
		<div class="section header">
			<h3>Слайды</h3>
		</div>
		<div class="section">
			<table id="s_slides" class="block-table">
				<thead>
					<tr>
						<th  class="s-slide-name">
							Слайд
						</th>
						<th class="edit">
							Изменение
						</th>
						<th class="link">
							Ссылка
						</th>
						<th class="delete">
							Удаление
						</th>
						<th class="order">
						</th>
					</tr>
				</thead>
				<tbody>
					<% SimpleSlide.all.order(:order).each do |slide| %>
						<tr>
							<td>
								<%= image_tag slide.image.url(:preview) %>
							</td>
							<td class="edit">
								<%= file_field_tag 'slide['+slide.id.to_s+'][image]' %>
								<%= content_tag :a, 'Изменить изображение', class: 'change-picture' %>
							</td>
							<td class="link">
								<%= text_field_tag 'slide['+slide.id.to_s+'][link]', slide.link, placeholder: 'Введите ссылку' %>
							<td class="delete">
								<%= content_tag :a, 'Удалить', class: 'delete-slide' %>
							</td>
							<td class="order">
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= link_to_add_slide %>
		</div>
	</div>
<% end %>
	

<% content_for :top_bar do%>
	<h2 class="slider">
		Слайдер
	</h2>
<% end %>

<%= 
content_for :top_bar_buttons do
	content_tag(:a, 'Сохранить', data: {form: '#admin_workspace form'}, class: 'label-button submit')
end 
%>