<%= form_tag({:controller => :general_content, :action => :update}, :method => :patch, :remote => true, class: 'gc-edit') do %>
	<div class="block">
		<div class="section header">
			<h3>Контент и описание</h3>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= label :general_content, :main_page_title, "Заголовок страницы"%>
				<%= text_field :general_content, :main_page_title, :value => GeneralContent.find_by(name: 'main_page_title').try(:content) %>
			</div>
		</div>

		<div class="section">
			<div class="form-input-1">
				<%= label :general_content, :main_page_description, "Описание (мета)" %>
				<%= text_field :general_content, :main_page_description, :value => GeneralContent.find_by(name: 'main_page_description').try(:content) %>
			</div>
		</div>

		<div class="section">
			<div class="form-input-1">
				<%= label :general_content, :main_page_keywords, "Ключевые слова (мета)" %>
				<%= text_field :general_content, :main_page_keywords, :value => GeneralContent.find_by(name: 'main_page_keywords').try(:content) %>
			</div>
		</div>

		<div class="section">
			<div class="form-input-1">
				<%= label :general_content, :main_page_content, "Контент в нижней части страницы" %>
				<%= cktext_area :general_content, :main_page_content, :value => GeneralContent.find_by(name: 'main_page_content').try(:content), :ckeditor => {toolbar: 'ContentEdit'} %>
			</div>
		</div>
	</div>
<% end %>

<% content_for :top_bar do%>
	<h2 class="">Настройки главной страницы</h2>
<% end %>

<% content_for :top_bar_buttons do %>
	<%= content_tag(:a, 'Сохранить изменения',class: 'label-button submit', data: {form: '#admin_workspace form'}) %>
<% end %>