<%= form_tag({:controller => :general_content, :action => :update}, :method => :patch, :remote => true, class: 'edit-cart-content') do %>
	<div class="block">
		<div class="section header">
			<h3>Краткая информация о доставке</h3>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= cktext_area :general_content, :delivery_info, :value => GeneralContent.find_by(name: 'delivery_info').try(:content) %>
			</div>
		</div>
		<div class="section header">
			<h3>Краткая информация о самовывозе</h3>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= cktext_area :general_content, :pickup_info, :value => GeneralContent.find_by(name: 'pickup_info').try(:content) %>
			</div>
		</div>
		<div class="section header">
			<h3>Общая информация о заказе</h3>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= cktext_area :general_content, :order_info, :value => GeneralContent.find_by(name: 'order_info').try(:content) %>
			</div>
		</div>
	</div>
<% end %>

<% content_for :top_bar do%>
	<h2 class="">Настройки страницы корзины</h2>
<% end %>

<% content_for :top_bar_buttons do %>
	<%= content_tag(:a, 'Сохранить изменения',class: 'label-button submit', data: {form: '#admin_workspace form'}) %>
<% end %>