<%= form_tag({:controller => :general_content, :action => :update}, :method => :patch, :remote => true, class: 'c-edit') do %>
	<div class="block">
		<div class="section header">
			<h3>Информация под основным изображением</h3>
		</div>
		<div class="section">
			<div class="form-input-1">	
				<%= cktext_area :general_content, :product_page_content_left, :value => GeneralContent.find_by(name: 'product_page_content_left').try(:content) %>
			</div>
		</div>
		<div class="section header">
			<h3>Информация над основным описанием</h3>
		</div>
		<div class="section">
			<div class="form-input-1">		
				<%= cktext_area :general_content, :product_page_content_bottom, :value => GeneralContent.find_by(name: 'product_page_content_bottom').try(:content) %>
			</div>
		</div>
	</div>
<% end %>

<% content_for :top_bar do%>
	<h2 class="">Контент на странице продукта</h2>
<% end %>

<% content_for :top_bar_buttons do %>
	<%= content_tag(:a, 'Сохранить изменения',class: 'label-button submit', data: {form: '#admin_workspace form'}) %>
<% end %>