<%= form_tag({:controller => :general_content, :action => :update}, :method => :patch, :remote => true, class: 'gc-edit') do %>
	<div class="block">
		<div class="section header">
			<h3>Описание каталога</h3>
		</div>
		<div class="section">
			<div class="form-input-2">
				<%= label :general_content, :catalog_description, "Описание (мета)" %>
				<%= text_area :general_content, :catalog_description, :value => GeneralContent.find_by(name: 'catalog_description').try(:content) %>
			</div>
			<div class="form-input-2-l">
				<%= label :general_content, :catalog_keywords, "Ключевые слова (мета)" %>
				<%= text_field :general_content, :catalog_keywords, :value => GeneralContent.find_by(name: 'catalog_keywords').try(:content) %>
			</div>
		</div>
	</div>
<% end %>

<% content_for :top_bar do%>
	<h2 class="">Настройки главной страницы каталога</h2>
<% end %>

<% content_for :top_bar_buttons do %>
	<%= link_to 'Перейти к редактору каталога', edit_catalog_path, class: 'label-button' %>
	<%= content_tag(:a, 'Сохранить изменения',class: 'label-button submit', data: {form: '#admin_workspace form'}) %>
<% end %>