<div id="news_first_block" class="block">
	<div class="section header">
		<h3>Редактировать новости</h3>
	</div>
	<div class="section">
		<div class="form-input-1">
			<%= form_tag({:controller => :site_options, :action => :update}, :method => :patch, :remote => true) do %>
			
				<%= label :site_options, :news, "Отображать на главной?" %>
				<%= check_box :site_options, :news, {:checked => CONFIG[:news]}, 1, 0 %><span class="after-cb">Если данное поле отмечено, то новости будут отображаться на главной странице.</span>
			
			<% end %>
		</div>
	</div>
</div>

<% NewsItem.all.order(created_at: :desc).each do |news_item| %>
	<div class="block">
		<div class="section">
			<%= render partial: 'news/news_item', locals: {news_item: news_item} %>
		</div>
	</div>
<% end %>

<% content_for :top_bar do%>
	<h2 class="">Новости</h2>
<% end %>

<% content_for :top_bar_buttons do %>
	<%= content_tag(:a, 'Добавить новость', id: "add_news_item", class: 'label-button') %>
<% end %>
			
		