<%= form_tag({:controller => :general_content, :action => :update}, :method => :patch, :remote => true, class: 'gc-edit') do %>
	<div class="block">
		<div class="section header">
			<h3>Используемые почтовые адреса и тексты</h3>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= label :general_content, :info_emails, "E-mail'ы для связи" %>
			 	<%= text_field :general_content, :info_emails, :value => GeneralContent.find_by(name: 'info_emails').try(:content) %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= label :general_content, :order_emails, "E-mail'ы для информирования о заказе" %>
			 	<%= text_field :general_content, :order_emails, :value => GeneralContent.find_by(name: 'order_emails').try(:content) %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= label :general_content, :order_email_text, "Текст сообщения о создании заказа" %>
				<%= cktext_area :general_content, :order_email_text, :value => GeneralContent.find_by(name: 'order_email_text').try(:content), :ckeditor => {toolbar: 'EmailEdit'} %>
			</div>
		</div>
	</div>
<% end %>

<% content_for :top_bar do%>
	<h2 class="">Настройки e-mail</h2>
<% end %>

<% content_for :top_bar_buttons do %>
	<%= content_tag(:a, 'Сохранить изменения',class: 'label-button submit', data: {form: '#admin_workspace form'}) %>
<% end %>