<%= form_tag({:controller => :general_content, :action => :update}, :method => :patch, :remote => true, class: 'edit-footer-content') do %>
	<div class="block">
		<div class="section header">
			<h3>Текст в левой части</h3>
		</div>
		<div class="section">
			<%= cktext_area :general_content, :footer_left, :value => GeneralContent.find_by(name: 'footer_left').try(:content), :ckeditor => {toolbar: 'ContentEdit'} %>
		</div>
		<div class="section header">
			<h3>Текст в правой части</h3>
		</div>
		<div class="section">
			<%= cktext_area :general_content, :footer_right, :value => GeneralContent.find_by(name: 'footer_right').try(:content), :ckeditor => {toolbar: 'ContentEdit'} %>
		</div>
	</div>
<% end %>

<% content_for :top_bar do%>
	<h2 class="">Настройки "подвала" сайта</h2>
<% end %>

<% content_for :top_bar_buttons do %>
	<%= content_tag(:a, 'Сохранить изменения',class: 'label-button submit', data: {form: '#admin_workspace form'}) %>
<% end %>