<div class="block">
	<div class="section header">
		<h3>Изменить информацию</h3>
	</div>
	<div class="section">
		<%= form_tag({:controller => :general_content, :action => :update}, :method => :patch, :remote => true, class: 'general-content-edit') do %>
			<div class="form-input-3">
				<%= label :general_content, :email, "Тест ссылки для отправки e-mail'а" %>
			 	<%= text_field :general_content, :email_link, :value => GeneralContent.find_by(name: 'email_link').try(:content) %>
			</div>

			<div class="form-input-3">
				<%= label :general_content, :business_hours, "Время работы" %>
			 	<%= text_field :general_content, :business_hours, :value => GeneralContent.find_by(name: 'business hours').try(:content) %>
			</div>

			<div class="form-input-3-l">
				<label>Телефоны:</label>
					
				<% GeneralContent.where(name: 'phone').each do |phone| %>
			 		<div class="edit-phone">
			 			<%= text_field_tag 'general_content[phone][]', phone.content %> <a class="del-phone">&#215;</a>
			 		</div>
				<% end %>
				
				<a id="add_phone" class="">Добавить телефон</a>
			</div>
		<% end %>
	</div>
</div>

<% content_for :top_bar do%>
	<h2 class="">Настройки шапки сайта</h2>
<% end %>

<% content_for :top_bar_buttons do %>
	<%= content_tag(:a, 'Сохранить изменения',class: 'label-button submit', data: {form: '#admin_workspace form'}) %>
<% end %>