<div class="block">
	<div class="section header">
		<h3>Изменить настройки</h3>
	</div>
	<div class="section">
		<%= form_tag({:controller => :site_options, :action => :update}, :method => :patch, :remote => true, class: 'form-group') do %>
			<div class="form-input-1">
				<%= label :site_options, :maintenance, 'Режим разработки' %>
				<%= check_box :site_options, :maintenance, {:checked => CONFIG[:maintenance]}, 1, 0 %>
				<span class="after-cb">Если данное поле отмечено, то доступ к сайту будет только у администратора</span>
			</div>
		<% end %>
	</div>
</div>
<% content_for :top_bar do%>
	<h2 class="">Настройки сайта</h2>
<% end %>

<% content_for :top_bar_buttons do %>
	<%= content_tag(:a, 'Сохранить изменения',class: 'label-button submit', data: {form: '#admin_workspace form'}) %>
<% end %>

