<nav>
		<div class="container divider">
			<ul>
				
				<li><a href="#">Заказы</a></li>
				
				<li><a href="#">Продукты</a></li>
				
				<li><a href="#">Управление контентом</a></li>
				
				<li><a href="#">Другое</a></li>
								
			</ul>
		</div>
</nav>
