<% if params[:val_num].nil? %>
	<% params[:val_num] = 1 %>
<% end %>
<%= form_for @property do |f| %>
<table>
	<tr>
		<td>
			Название списка:
			<%= f.text_field :name %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.submit '+', :name => 'add' %><%= f.submit '-', :name => 'remove' %>
		</td>
	</tr>
	<%= f.fields_for :property_values do |val_f| %>
		<tr>
			<td>
				<%= val_f.text_field :value %>
			</td>
		</tr>
	<% end %>
	<td>
		<%= f.submit 'Создать' %>
	</td>
</table>
<% end %>
	
