<%= form_for @property do |f| %>
	<table class="products">
		<tr class="header_row">
			<td>
				<% if !params[:newname].nil? %>
					<%= f.text_field :name%> <br />
				<% else %>
					<h2><%= @property.name %></h2> <%= link_to 'Переименовать', url_for(:newname => 1) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>
				<% if params[:value_id].nil? && params[:newname].nil?%>
					<% value = @property.property_values.build %>
					<%= f.fields_for :property_values, value do |val_f|%>
						<%= val_f.text_field :value %>
					<% end %>
					<%= f.submit 'Добавить'%>
				<% else %>
					<%= link_to 'Добавить', url_for(:value_id => nil) %>
				<% end %>
			</td>
		</tr>
		<% @property.property_values.each do |val| %>
			<tr>
				<td>	<% if !val.id.nil? %>
					<% if val.id.to_s != params[:value_id] %>
						<%= val.value %> <%= link_to 'Изменить', url_for(:value_id => val.id) %>
					<% else %>
						<% value = @property.property_values.find(params[:value_id]) %>
						<%= f.fields_for :property_values, value do |val_f|%>
							<%= val_f.text_field :value %>
						<% end %>
						<%= f.submit 'Изменить'%>
					<% end %><% end %>
					</td>
				</tr>
		<% end %>
	</table>
<% end %>
