<div id="news_<%= news_item.id %>" class="news-item">
	<% if news_item.image.exists? %>
		<div class="news-item-image">
			<%= image_tag news_item.image.url(:medium) %>
		</div>
	<% end %>

	<div class="news-item-content">
		<h3>
			<%= news_item.headline %>
		</h3>
		<p><%= news_item.content.html_safe %></p>
	</div>
</div>
<div class="news-separator">
</div>
<% if @edit_on %>
	<a class="edit-news-item" data-id="<%= news_item.id %>">Редактировать</a>
	<a class="delete-news-item" data-id="<%= news_item.id %>">Удалить</a>
<% end %>