<div class="block news-item">
	<%= form_for @news_item, url: {:controller => :news, :action => @action, :id => @news_item.id}, remote: true, multipart: true, class: 'c-edit'  do |f| %>	
		<div class="section">	
			<div class="form-input-2">	
				<%= f.label :headline, "Заголовок" %>
				<%= f.text_field :headline, required: true %>
			</div>
			<div class="form-input-2-l">
				<%= f.label :image, "Изображение" %>
				<img class="news-item-image-preview">
				<%= f.file_field :image, class: "news_item-image-upload" %>
			</div>
		</div>
		<div class="section">
			
			<div class="form-input-1">
				<%= f.label :description, "Краткое описание новости" %>
				<%= f.text_area :description, required: true %>
			</div>

		</div>

		<div class="section">

			<div class="form-input-1">
				<%= f.label :content, "Текст новости" %>
				<%= f.cktext_area :content, required: true %>
			</div>
			<div class="block-buttons-wrapper">
				<%= content_tag(:a, 'Сохранить изменения',class: 'save-news submit') %>
			</div>
		</div>
			
		<% end %>
	</div>
</div>