<h2 class="m-header">
	Новости
</h2>
<div class="news">
	<% if @news.empty? %>
		<h3 id="no_news">Пока не добавлено ни одной новости</h3>
	<% else %>
		<%= render(partial: 'news_item', collection: @news.order(created_at: :desc)) %>
	<% end %>
</div>

<% content_for :admin_menu do %>
	<li>
		<%= link_to 'Редактировать новости', edit_news_path %>
	</li>
<% end %>