<%= form_for @news, url: {action: 'create'} do |f| %>
	<fieldset>
		<legend>Создать новость</legend>
		<%= f.label :headline, "Заголовок" %>
		<%= f.text_field :headline %>

		<%= f.label :description, "Краткое <span data-tooltip class='has-tip' title='Краткое описание будет отображено на главной странице'>Краткое описание</span> новости".html_safe %>
		<%= f.text_field :description %>

		<%= f.label :image, "Выберите <span data-tooltip class='has-tip' title='Даное изображение будет отображено рядом с кратким описанием или текстом новости'>Изображение</span>".html_safe %>
		<img src="#" id="preview">
		<%= f.file_field :image, id: 'basic_image' %>

		<%= f.label :text, "Текст новости" %>
		<%= f.text_area :text %>

		<%= f.submit 'Создать новость' %>
	</fieldset>
<% end %>