<%= render 'admin_panel/products_menu' %>
<%= form_tag({controller: 'veneered_doors', action: 'index'}, method: "get") do %>
	<%= label_tag("Модель:") %>
  	<%= text_field(:product, :name, size:10) %>
  	
  	<%= label_tag("Цвет:") %>
  	<%= collection_select(:product, :color, Color.all, :name, :name, include_blank: 'Any') %>
  	
  	
  	
  
  	
  	<%= submit_tag("Поиск") %>
<% end %>
<table>
<tr>
	<td>Модель</td>
	<td>Цена</td>
	<td>Цвет</td>
	<td>Заполнение</td>
	<td>Отделка</td>
</tr>
<%= render @list %>
</table>
</div>
