<%= form_for order, remote: true do |f|%>
<table class="order">
  <thead>
    <tr>
      <th colspan="0">
        <h3> № заказа: <%= '%06d' % order.id %> <%= link_to 'Удалить заказ', '#', data: {id: order.id}, class: 'order-del' %></h3>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="0" class="order-main-info">
          <p><span class="underline">Заказчик:</span> <%= order.first %> <%= order.second %></p> 
          <p><span class="underline">Телефон:</span> <%= order.phone %></p>
          <p><span class="underline">e-mail:</span> <%= mail_to order.email, order.email %></p>
          <p><span class="underline">Метод оплаты:</span> <%= order.payment_method %></p>
          <p>
            <span class="underline">Состояние оплаты:</span> <span class="dotted-underline"><%= content_tag :a, order.payment_status, class: 'order-popup-open'  %> </span>
          </p>
          <div class="order-popup">
              <%= f.select :payment_status, options_for_select([['Не оплачено','Не оплачено'], ['Оплачено', 'Оплачено']], order.payment_status) %>
              <%= f.submit 'Сохранить изменения' %>
              <%= content_tag :a, '&#215;'.html_safe, class: "order-popup-cancel" %>
          </div>
          <p>
            <span class="underline">Текущий статус заказа:</span> <span class="dotted-underline"><%= content_tag :a, order.status, class: 'order-popup-open'  %></span>
          </p>
          <div class="order-popup">
              <%= f.select :status, options_for_select([['В обработке', 'В обработке'],['Обработан','Обработан'], ['Доставлен','Доставлен']], order.status) %>
              <%= f.submit 'Сохранить изменения' %>
              <%= content_tag :a, '&#215;'.html_safe, class: "order-popup-cancel" %>
          </div>          
      </td>
    </tr>
    
           <%= render partial: 'carts/product_in_cart', collection: order.products_in_cart %>
     
      
        
     
    <tr>
      <td colspan="0"><span class="order-sum-text">Общая сумма заказа:</span><span class="order-sum"><%= order.sum %> руб</span></td>
    </tr>
  </tbody>
</table>
<% end %>