<div class="block">
	<div class="section">
		<table id="orders" class="basic-table">
			<thead>
				<th>Заказ</th>
				<th>Заказчик</th>
				<th>Телефон</th>
				<th>e-mail</th>
				<th>Метод оплаты</th>
				<th>Состояние оплаты</th>
				<th>Статус</th>
				<th>Товары</th>
				<th>Удаление</th>
			</thead>
			<tbody>
				<% @orders.each do |order| %>
					<tr>
						<td>
							<%= link_to order.id, edit_order_path(order) %>
						</td>
						<td>
							<%= order.second + ' ' + order.first %>
						</td>
						<td>
							<%= order.phone %>
						</td>
						<td>
							<%= order.email %>
						</td>
						<td>
							<%= order.payment_method %>
						</td>
						<td class="payment-status">
							<a class="show-form"><%= order.payment_status %></a>
							<%= form_for order, url: {action: :update, id: order.id}, method: :patch, remote: true do |f|%>
								<%= f.select :payment_status, options_for_select([['Не оплачено','Не оплачено'], ['Оплачено', 'Оплачено']], order.payment_status) %>
								<a class="gray-button change-order-status">Ок</a>
							<% end %>
						</td>
						<td class="status have-form">
							<a class="show-form"><%= order.status %></a>
							<%= form_for order, url: {action: :update, id: order.id}, method: :patch, remote: true do |f|%>
								<%= f.select :status, options_for_select([['В обработке', 'В обработке'],['Обработан','Обработан'], ['Доставлен','Доставлен']], order.status) %>
								<a class="change-order-status">Ок</a>
							<% end %>
						</td>
						<td class="products">
							<% order.chosen_products.each do |c| %>
								<% complectation = c.complectation %>
								<% values = c.chosen_values.exists? %>
								<% if c.product %>
									<%= c.product.name %> 
									<% if c.quantity > 1 %>
										(x<%=c.quantity%>)
									<% end %>
									<% if complectation || values %>
										<ul>
											<% if complectation %>
												<li>
													Комплект: <%= complectation.name %>
												</li>
											<% end %>

											<% if values %>
												<%= c.chosen_values.map {|v| 
													'<li>' + v.text_value.feature.name + ': ' +
												 	v.text_value.text + '</li>'
												 }.join.html_safe %>
											<% end %>
										</ul>
									<% end %>
								<% else %>
									ПРОДУКТ УДАЛЕН
								<% end %>
							<% end %>
						</td>
						<td class="delete">
							<a class="delete-order" data-id="<%= order.id %>">Удаление</a>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>