<%= form_for @order, remote: true do |f|%>
	<div class="block">
		<div class="section header">
			<h3>Настройки заказа</h3>
		</div>
		<div class="section">
			<div class="form-input-2">
				<%= f.label :first, 'Имя заказчика' %>
				<%= f.text_field :first %>
			</div>
			<div class="form-input-2-l">
				<%= f.label :second, 'Имя заказчика' %>
				<%= f.text_field :second %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-3">
				<%= f.label :email, 'E-mail' %>
				<%= f.text_field :email %>
			</div>
			<div class="form-input-3">
				<%= f.label :phone, 'Телефон' %>
				<%= f.text_field :phone %>
			</div>
			<div class="form-input-3-l">
				<%= f.label :delivery, 'Нужна доставка?' %>
				<%= f.check_box :delivery %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-2">
				<%= f.label :payment_method, 'Способ оплаты' %>
				<%= f.select :payment_method, options_for_select([['Наличными','Наличными'], ['Безналичный расчет', 'Безналичный расчет']]) %>
			</div>
			<div class="form-input-2-l">
				<%= f.label :payment_status, 'Состояние оплаты' %>
				<%= f.select :payment_status, options_for_select([['Не оплачено','Не оплачено'], ['Оплачено', 'Оплачено']]) %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= f.label :status, 'Состояние заказа' %>
				<%= f.select :status, options_for_select([['В обработке', 'В обработке'],['Обработан','Обработан'], ['Доставлен','Доставлен']]) %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= f.label :address, 'Адрес доставки' %>
				<%= f.text_area :address %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= f.label :comment, 'Комментарий заказчика' %>
				<%= f.text_area :comment %>
			</div>
		</div>
	</div>

	<div class="block">
		<div class="section header">
			<h3> Товары в заказе</h3>
		</div>
		<table id="orders_products" class="basic-table">
			<thead>
			<tr>
				<th>
					Изображение
				</th>
				<th>
					Товар
				</th>

				<th>
					Цена
				</th>

				<th>
					Количество
				</th>

				<th>
					Итого
				</th>
				<% if @order.new_record? %>
					<th>
						Удалить
					</th>
				<% end %>
				</tr>
			</thead>

			<tbody>
				<% @order.chosen_products.each do |chosen_product| %>
					<% if chosen_product.product %>
						<%= render partial: "carts/chosen_product", locals: {chosen_product: chosen_product, form_helper: nil} %>
					<% else %>
						<tr>
							<td colspan=5>
								ПРОДУКТ УДАЛЕН
							</td>
						</tr>
					<% end %>
				<% end %>
				<tr>
					<td colspan=0 class="total-price">
						Общая сумма заказа: <span id="sum"><%= @order.sum %></span> <span class="rouble"><span>руб.</span></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<% end %>

<% content_for :top_bar do%>
	<h2 class="h-order">
		Редактировать заказ
	</h2>
<% end %>

<% content_for :top_bar_buttons do %>
	<%= content_tag :a, 'Сохранить', data: {form: '#admin_workspace form'}, class: 'label-button submit' %>
<% end %>