<div id="main" class="m-order">
	<h3 class="order-accepted">
		Ваш заказ № <%= @order.id %> успешно принят.
	</h3>
	<h4 class="order-accepted">
		В ближайшее время вам перезвонит наш менеджер.
	</h4>
	<h3>Заказ № <%= @order.id %> <%= link_to 'Печать', pdf_orders_path(@order.id), class: 'print-order'%></h3>

	<table class="customer-info">
		<tbody>
			<tr>
				<td>
					<strong>Заказчик:</strong> 
				</td>
				<td>
					<%= @order.first + ' ' + @order.second %>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Телефон:</strong>
				</td> 
				<td>
					<%= @order.phone %>
				</td>
			</tr>
			<tr>
				<td>
					<strong>e-mail:</strong> 
				</td>
				<td>
					<%= @order.email %>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Выбранный способ оплаты:</strong> 
				</td>
				<td>
					<%= @order.payment_method %>
				</td>
			</tr>
			<% unless @order.address.blank? %>
				<tr>
					<td>
						<strong>Адрес доставки:</strong>
					</td>
					<td>
						<%= @order.address %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<table id="chosen_products">
		<thead>
			<tr>
				<th>
					Изображение
				</th>
				<th>
					Товар
				</th>

				<th>
					Цена
				</th>

				<th>
					Количество
				</th>

				<th>
					Итого
				</th>
				<% if @order.new_record? %>
					<th>
						Удалить
					</th>
				<% end %>
			</tr>
		</thead>

		<tbody>
			<% @order.chosen_products.each do |chosen_product| %>
				<% if chosen_product.product %>
					<%= render partial: "carts/chosen_product", locals: {chosen_product: chosen_product, form_helper: nil} %>
				<% else %>
					<tr>
						<td colspan=5>
							ПРОДУКТ УДАЛЕН
						</td>
					</tr>
				<% end %>
			<% end %>
			<tr>
				<td colspan=0 class="total-price">
					Общая сумма заказа: <span id="sum"><%= @order.sum %></span> <span class="rouble"><span>руб.</span></span>
				</td>
			</tr>
		</tbody>
	</table>

	<% if @order.delivery %>
		<p>Доставка согласовывается и оплачивается дополнительно.</p>
	<% end %>

	<%= order_info %>
<br>
<%= link_to 'Вернуться к покупкам', catalog_path %>

<% content_for :divider do %>
	<div class="h-divider gray">
		<div class="container">
			<div class="info-category">
				<h4>Просмотр заказа</h4>
			</div>
			<div class="route">
				<span>Вы здесь: </span>
				<%= link_to 'Главная страница' %> / 
				мой заказ
			</div>
		</div>
	</div>
<% end %>