<div class="infoside">
  <%= form_for @info_page, :url => {:controller => 'info_pages', :action => @action, :id => @id}, :method => @method do |f| %>
      	<ul class="menu">
	    <% @info_pages.select(:infotype).distinct.where.not(infotype: 'mainInfoPage').each do |type| %>
                <% info_id = type.infotype.delete(' ') %>
		<li id=<%= info_id %> >
                  <% if params[:infotype] == type.infotype %>
                    <%= text_field_tag :infotype, 'Введите сюда название', class:'infoedit' %>
		    <%= f.submit 'Переименовать' %>
		    <ul class="sub-menu">
                  <% else %>
		    <%= link_to type.infotype, '#'+info_id, class: 'headerlink' %>
			<ul class="sub-menu">
                        <li>
                          <%= link_to 'Изменить название', url_for(:infotype => type.infotype),  class: 'infomenulabel'%>
                        </li>
                  <% end %>
		    
                        
			<% @info_pages.where("infotype = ?", type.infotype).each do |page| %>
			    <li>
				
				<%= link_to strip_tags(page.title), page, class:'sublink'%>
				    
				   <%= link_to 'Редактировать', '/editor' + info_page_path(page), class: 'infoeditlink' %>
                                    <%= link_to 'Удалить', { :controller => 'info_pages', :action => :destroy, :id => page.id}, { :method => :delete, class: 'infodellink'}  %>
                              
			    </li>
			<% end %>
			<li>
			  <%= link_to 'Добавить страницу', url_for(:new => type.infotype), class: 'sublink red' %>
			</li>
		    </ul>
		</li>
	    <% end %>
		<li id="newgroup">
                  <%= link_to 'Создать новую группу', '#newgroup', class: 'headerlink' %>
		    <ul class="sub-menu">
			<li>
			    <%=f.text_field :infotype, value:'Введите название новой группы' %>
			    <%=f.submit 'Создать'%>
			</li>
		    </ul>
		</li>
	</ul>
    <% end %>
</div>
