<nav class="i-menu">
	<ul>
		<% @page_presenter.subcategories.each do |sub| %>
			
			<% if sub.nil? or sub.empty? %>
				<% @page_presenter.pages_in_subcategory(sub).each do |page| %>
					<li>
						<%= link_to page.title, page %>
					</li>
				<% end %>
			<% else %>
				<li><h4 class="sub-name"><%= sub %></h4>
					<ul>
						<% @page_presenter.pages_in_subcategory(sub).each do |page| %>
							<li>
								<%= link_to page.title, page %>
							</li>
						<% end %>
					</ul>
				</li>
			<% end %>
		<% end %>
	</ul>
</nav>