<div class="infoside">
  <ul class="menu">
      <% @info_pages.select(:infotype).distinct.where.not(infotype: 'mainInfoPage').each do |type| %>
          <% info_id = type.infotype.delete(' ') %>
              <li id=<%= info_id %> >
                  <%= link_to type.infotype, '#'+info_id, class: 'headerlink' %>
		    <ul class="sub-menu">
                        <% @info_pages.where("infotype = ?", type.infotype).each do |page| %>
			    <li>
				<%= link_to strip_tags(page.title), page, class:'sublink'%>
                             </li>
			<% end %>
		    </ul>
		</li>
	<% end %>
    </ul>
</div>
