<% @info_presenter.pages_in_subcategory(sub).each do |page| %>
	<li data-id="<%= page.id %>" class="tree-item-wrapper">
		<div class="line">
			<div class="t-article-name">
				<span><%= page.title %></span>
			</div>
			<div class="tree-actions">
				<a class="tree-action delete-info-page">Удалить</a>
				<%= link_to 'Изменить', edit_info_page_path(page.id), class: 'tree-action'%>
			</div>
		</div>
	</li>
<% end %>