<div class="tree-edit">
	<%= form_tag({:controller => :info_pages, :action => :update_subcategory_order}, method: :patch, remote: true, id: 'subcategory_tree_form') do %>
		<div class="line">
			<h3 class="inline">Статьи</h3>
			<div class="tree-actions">
				<%= link_to 'Добавить', new_info_page_path(info_category: @info_category), title: 'Добавить статью', class: 'tree-action'%>
				<a id="add_info_subcategory" title="Добавить категорию" class="tree-action">+ подкатегория</a>
				<a id="expand_all" title="Развернуть все" class="tree-action">Развернуть все</a>
				<a id="collapse_all" title="Свернуть все" class="tree-action">Свернуть все</a>
			</div>
		</div>
		<%= hidden_field_tag :category, @info_category %>
		<ul id="tree_editor" data-category="<%= @info_category %>">
			<% @info_presenter.subcategories.each do |sub| %>
				<% if sub.nil? or sub.blank? %>
					<%= render partial: 'subcategory_pages', locals: {sub: sub} %>
				<% else %>
					<li class="tree-info-subcategory">
						<div class="line">
							<div class="t-subcategory-name">
								<a class="collapse"></a>
								<span class="t-sub-name"><%= sub %></span>
							</div>
							<div class="tree-actions">
								<%= link_to 'Добавить', new_info_page_path(subcategory: sub, info_category: @info_category), title: 'Добавить категорию', class: 'tree-action'%>
								<a class="tree-action delete-subcategory">Удалить</a>
								<a class="tree-action change-subcategory-name">Изменить</a>
							</div>
						</div>
					
						<ul data-subcategory="<%= sub %>">
							<%= render partial: 'subcategory_pages', locals: {sub: sub} %>
						</ul>
					</li>
				<% end %>
			<% end %> 
		</ul>
		</div>
	<% end %>
</div>

<% content_for :top_bar do%>
	<h2 class="article">
		<%= @info_category %>
	</h2>
<% end %>

<%= 
content_for :top_bar_buttons do
	content_tag :a, 'Сохранить', data: {form: '#subcategory_tree_form'}, class: 'label-button submit'
end 
%>