<div class="row">
	<div class="small-8 columns">
		<%= hidden_field_tag :info_category, @page.info_category %>
		<%= content_tag :a, 'Добавить страницу', class: 'get-info-page-form', data: {info_category: @page.info_category}  %> <%= content_tag :a, 'Добавить категорию', class: 'get-info-page-form', data:{subcategory: '', info_category: @page.info_category} %>
		<ul class="info-menu-edit">
			<% @pages_in_category.order(:order).select(:subcategory).distinct.each do |sub| %>
				<% if sub.subcategory.nil? %>
					<% @pages_in_category.where(:subcategory => sub.subcategory).each do |page| %>
						<li name="<%= page.id %>">
							<span class="move-icon"></span>
							<%= content_tag :a, page.title, class: 'get-info-page-form', data: {id: page.id} %>
						</li>
					<% end %>
				<% else %>
					<li>
						<span class="move-icon"></span>
						<strong> <%= content_tag :a, sub.subcategory, class: 'get-info-page-form', data: {subcategory: sub.subcategory, id: @page.id} %></strong>
						<ul name="<%= sub.subcategory %>">
							<% @pages_in_category.where(:subcategory => sub.subcategory).each do |page| %>
								<li name="<%= page.id %>">
									<span class="move-icon"></span>
									<%= content_tag :a, page.title, class: 'get-info-page-form', data: {id: page.id} %>
								</li>
							<% end %>
						</ul>
					</li>
				<% end %>
			<% end %>
		</ul>
		<%= button_tag 'Сохранить изменения', class: 'info-page-order-save'%>
	</div>
	<div class="small-8 columns info-page-edit">
	</div>
</div>
