<% if params[:subcategory] %>
	<% if @page.new_record? %>
		Имя категории
		<%= text_field_tag :subcategory, params[:subcategory] %>
		<% if params[:subcategory].blank? %>
			<%= button_tag 'Создать', class: 'add-info-subcategory' %>
		<% else %>
			<%= button_tag 'Сохранить изменения', class: 'update-new-subcategory' %> или <%= button_tag 'Удалить категорию', class: 'delete-info-subcategory' %>
		<% end %>
	<% else %>
		<%= form_for @page, remote: true do |f| %>
			<%= f.label :subcategory, 'Имя категории' %>
			<%= f.text_field :subcategory %>
			<%= f.hidden_field :old_sub_name, value: params[:subcategory] %>
			<%= f.submit 'Сохранить изменения', name: 'update' %> или <%= f.submit 'Удалить категорию', class: 'delete-info-subcategory', name: 'delete' %>
		<% end %>
	<% end %>
<% else %>

	<%= form_for @page, url: (params[:id] ? {action: 'update', id: params[:id]} : { action: 'create'}), remote: true do |f| %>
		
		<%= f.label :title, 'Заголовок' %>
		<%= f.text_field :title %>
		<%= f.label :content, 'Контент' %>
		<%= f.text_area :content, data: {toolbar: 'ContentEdit'}, class: 'editable' %>
		<%= f.label :page_description, 'Описание (meta)' %>
		<%= f.text_area :page_description, data: {toolbar: 'TitleEdit'}, class: 'editable' %>
		<%= f.label :keywords, 'Ключевые слова (meta)' %>
		<%= f.text_field :keywords %>
		<%= f.hidden_field(:info_category, value: params[:infoCategory]) if params[:infoCategory] %>
		<%= f.hidden_field :id %>
		<% if params[:id] %>
			<%= f.submit 'Сохранить изменения' %> или <%= button_tag 'Удалить категорию', type: 'button', data: {path: '/catalog', id: @page.id}, class: 'cat-delete' %>
		<% else %>
			<%= f.submit 'Создать категорию' %>
		<% end %>
	<% end %>
<% end %>