<% if current_user.try(:admin?) %>
  <%= render 'infomenu' %>
<% else %>
  <%= render 'menu_without_form' %>
<% end %>
<div class="content">
       
  <div id="page_title" data-mercury="full" >
    <%= @info_main_page.title.html_safe %> 
</div>
<div id="page_content" data-mercury="full" >
    <%= @info_main_page.content.html_safe %>
</div>
<% if current_user.try(:admin?) %>
    <%= link_to "Редактировать", "/editor" + request.path, id: "edit_link", data: {save_url: info_page_path(@info_main_page)}, class: 'infoeditpage' %>
<% end %>
</div>
