<div class="block">
	<%= form_for @page, :url => {:action => @action}, method: @method, html: {class: @class, id: @id, remote: @remote} do |f| %>
		<div class="section header">
			<h3>Основные параметры</h3>
		</div>
		<div class="section">
			<div class="form-input-2">
				<%= f.label :title, 'Заголовок' %>
				<%= f.text_field :title, disabled: @info_presenter.isContacts?, required: true %>
			</div>
			<div class="form-input-2-l">
				<%= f.label :subcategory, 'Подраздел' %>
				<%= f.collection_select :subcategory, @info_presenter.array_for_select(@subcategory), :to_s, :to_s, {:include_blank => "Без подраздела"} %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= f.label :keywords, 'Ключевые слова' %>
				<%= f.text_field :keywords, required: true %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= f.label :page_description, 'Описание(мета)' %>
				<%= f.text_area :page_description, required: true %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= f.label :content, 'Контент' %>
				<%= f.cktext_area :content, :ckeditor => {:toolbar => 'InfoPageEdit'} %>
			</div>
		</div>
		<%= f.hidden_field :info_category %>
	</div>
<% end %>

<% content_for :top_bar do%>
	<h2 class="article">
		<%= @info_presenter.info_category %>
	</h2>
<% end %>
<%= content_for :top_bar_buttons do %>
	<% unless @info_presenter.isContacts? %>
		<%= link_to 'Вернуться к списку страниц категории', admin_info_pages_path(:info_category => @info_presenter.info_category), class: 'label-button' %>
	<% end %>

	<%= content_tag :a, 'Сохранить', data: {form: '#admin_workspace form'}, class: 'label-button submit' %>

<% end %>
