<main id="main" class="info-p<%= @page_presenter.is_single_in_category? ? '-1' : '' %>">

	<% if current_user.try(:admin?) %>
		<%= form_for @page, :url => {:action => :update}, method: :patch, remote: true do |f| %>
			<%= f.text_area :content, data: {toolbar: 'InfoPageEditInline'}, class: "inline-area" %>
			<div class="inline-content">
				<%= @page.content.html_safe %>
			</div>
		<% end %>
	<% else %>
		<%= @page.content(false).html_safe %>
	<% end %>
</main>

<% unless @page_presenter.is_single_in_category? %>
	<aside>
		<%= render partial: 'info_pages_menu' %>
	</aside>
<% end %>

<% content_for :divider do %>
	<div class="h-divider gray">
		<div class="container">
			<div class="info-category">
				<h4><%= @page.info_category %></h4>
			</div>
			<div class="route">
				<span>Вы здесь: </span>
				<%= link_to 'Главная страница' %> / 
				<%= @page.info_category %>
			</div>
		</div>
	</div>
<% end %>

<% content_for :title do %>
	<%= @page.title %>
<% end %>

<% content_for :meta do %>
	<meta name="Description" content="<%= @page.page_description %>" >
	<meta name="Keywords" content="<%= @page.keywords %>">
<% end %>

<% content_for :admin_menu do %>
	<li>
		<%= link_to 'Редактировать страницу', edit_info_page_path(@page.id) %>
	</li>
	<li>
		<%= link_to 'Удалить страницу', product_path(@page), method: :delete, confirm: 'Вы уверены?' %>
	</li>
<% end %>