<% InfoPage.where("infotype = ?", @info_page.infotype).each do |page| %>
            <%= params %>
            <%= page.update(:infotype => params[:infotype]) %>
            <%= page.infotype %>
       <% end %>