<p>Клиент заказал услугу "Вызов замерщика".</p>
<p>Контактная инфрмация:</p>
<ul>
	<li>Имя: <%= @client[:first] %></li>
	<li>Фамилия: <%= @client[:second] %></li>
	<li>Телефон: <%= @client[:phone] %></li>
	<li>E-mail: <%= @client[:email] %></li>
</ul>
<p>Комментарий: <%= @client[:comment].blank? ? @client[:comment] : '-' %></p>