<tr>
	<td class="cp-picture">
		<%= image_tag chosen_product.product.basic_image.url(:small) %>
	</td>

	<td>
		<p><%= link_to chosen_product.product.name, product_path(chosen_product.product.id) %></p>
		<p>
			<% chosen_product.text_values.each do |option| %>
				<%= option.feature.name %>: <%= option.text %> <br>
			<% end %>
			<% if (complectation = chosen_product.complectation) %>
				Комплектность: <%= complectation.name %> <br>
			<% end %>
		</p>
	</td>

	<td class="cp-price">
		<%= chosen_product.current_price %> <span class="rouble"><span>руб.</span></span>
	</td>

	<td>
		<% if chosen_product.cart %>
			<%= form_helper.fields_for :chosen_products, chosen_product do |cp_form_helper| %>
				<%= cp_form_helper.number_field :quantity, min: 1, step: 1, class: 'cp-quantity' %>
				<%= cp_form_helper.hidden_field :id %>
			<% end %>
		<% else %>
			<%= chosen_product.quantity %>
		<% end %>
	</td>

	<td class="cp-sum">
		<%= chosen_product.current_price * chosen_product.quantity %> <span class="rouble"><span>руб.</span></span>
	</td>
	<% if @order.new_record? %>
		<td>
			<a class="delete-from-cart" data-id="<%= chosen_product.id %>" title="Удалить товар из корзины">&#215;</a>
		</td>
	<% end %>
</tr>