<tr>
	<td>
		<%= image_tag product_in_cart.product.basic_image.url(:small) %>
	</td>

	<td>
		<p><%= link_to product_in_cart.product.name + ' ' + product_in_cart.product.modification, product_path(product_in_cart.product_id) %></p>
		<p>
			<% product_in_cart.text_values.each do |option| %>
				<%= option.feature.name %>: <%= option.text %> <br>
			<% end %>
			<% product_in_cart.pictures.each do |option| %>
				<%= option.feature.name %>: <%= image_tag option.image.url %> <br>
			<% end %>
			<% complectation = product_in_cart.complectations.take %>
			<% if complectation %>
				Комплектность: <%= complectation.name %> <br>
			<% end %>
		</p>
	</td>

	<td>
			<% if complectation %>
				<%= price = complectation.price %> руб.
			<% else %>
				<%= price = product_in_cart.product.price %> руб.
			<% end %>
	</td>

	<td>
			<% if product_in_cart.cart %>
				<%= f.fields_for :products_in_cart, product_in_cart do |pr| %>
					<%= pr.text_field :quantity %>
				<% end %>
			<% else %>
				<%= product_in_cart.quantity %>
			<% end %>
	</td>

	<td>
			<%= price * product_in_cart.quantity %>
	</td>
	<% if product_in_cart.cart %>
		<td>
				<%= button_tag 'удалить', data: {product_id: product_in_cart.id}, type: 'button', class: 'del-from-cart' %>
		</td>
	<% end %>
</tr>