<div id="main" class="m-cart">
	
	<% if flash[:create_order_error] %>
		<div class="order-error">
			<%= flash[:create_order_error] %>
		</div>
	<% end %>

	<% if @cart.chosen_products && @cart.chosen_products.exists? %>
		<%= form_for @order do |f| %>
			<table id="chosen_products">
				<thead>
					<tr>
						<th>
							Изображение
						</th>
						<th>
							Товар
						</th>

						<th>
							Цена
						</th>

						<th>
							Количество
						</th>

						<th>
							Итого
						</th>
						<% if @order.new_record? %>
							<th>
								Удалить
							</th>
						<% end %>
					</tr>
				</thead>

				<tbody>
					<%= render partial: "chosen_product", collection: @cart.chosen_products, locals: {form_helper: f} %>
					<tr>
						<td colspan=0 class="total-price">
							Общая сумма заказа: <span id="sum"><%= @cart.sum %></span> <span class="rouble"><span>руб.</span></span>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="section">
				<div class="delivery">
					<%= f.label :delivery, 'Доставка' %>
					<div class="r-button-wrapper">
						<%= f.radio_button :delivery, true, checked: true %> <span>Нужна доставка</span>
					</div>
					<%=	delivery_info %>
					<div class="r-button-wrapper">
						<%= f.radio_button :delivery, false, checked: false %> <span>Самовывоз</span>
					</div>
					<%= pickup_info %>
				</div>
				<div class="address">
					<%= label_tag :address, 'Адрес доставки (опционально, будет уточнен менеджером)' %>
					<%= text_area_tag :address %>
				</div>
			</div>

			<div class="section">
				<div class="payment-method">
					<%= f.label :payment_method, 'Способ оплаты' %>
					<div class="r-button-wrapper">
						<%= f.radio_button :payment_method, 'Наличными', checked: true %> <span>Наличными</span>
					</div>
					<div class="r-button-wrapper">
						<%= f.radio_button :payment_method, 'Безналичный расчет' %> <span>Безналичный расчет</span>
					</div>
				</div>
			</div>

			<div class="section">
				<div class="contacts">
					<label>Контактная информация</label>

					<%= f.text_field :second, required: true, placeholder: 'Ваша фамилия'%> 

					<%= f.text_field :first, required: true, placeholder: 'Имя'%> 

					<%= f.email_field :email, required: true, placeholder: 'E-Mail'%> 

					<%= f.phone_field :phone, required: true, placeholder: 'Контактный телефон'%> 
				</div>
			</div>

			<div class="section">
				<div class="comment">
					<%= f.label :comment, 'Примечание к заказу (опционально)' %>
					<%= f.text_area :comment %>
				</div>
			</div>

			<div class="section">
				<%= order_info %>

			<%= f.submit 'Оформить заказ' %>
			</div>
		<% end %>
	<% else %>
			<h3>Корзина пуста</h3>
	<% end %>
</div>

<% content_for :divider do %>
	<div class="h-divider gray">
		<div class="container">
			<div class="info-category">
				<h4>Корзина</h4>
			</div>
			<div class="route">
				<span>Вы здесь: </span>
				<%= link_to 'Главная страница' %> / 
				Корзина
			</div>
		</div>
	</div>
<% end %>

<% content_for :admin_menu do %>
	<li>
		<%= link_to 'Редактировать контент на странице', edit_cart_content_path %>
	</li>
<% end %>