<div class="tree-edit">
	<%= form_tag({:controller => :catalog, :action => :update}, method: :patch, remote: true, id: 'catalog_tree_form') do %>
		<div class="line">
			<h3 class="inline">Корневая</h3>
			<div class="tree-actions">
				<%= link_to 'Добавить', new_category_path, title: 'Добавить категорию', class: 'tree-action'%>
				<a id="expand_all" title="Развернуть все" class="tree-action">Развернуть все</a>
				<a id="collapse_all" title="Свернуть все" class="tree-action">Свернуть все</a>
				<%= link_to 'Редактировать', edit_catalog_content_path, class: 'tree-action' %>
			</div>
		</div>
		<ul id="catalog_editor">
			<%= render partial: 'categories/category', locals: {categories: Category.where(prev_id: nil)} %> 
		</ul>
	<% end %>
</div>
<% content_for :top_bar do%>
	<h2 class="catalog">
		Каталог
	</h2>
<% end %>

<%= 
content_for :top_bar_buttons do
	content_tag :a, 'Сохранить', data: {form: '#catalog_tree_form'}, class: 'label-button submit'
end 
%>