<%= form_for @color, :url => color_path do |f| %>
	<table class="colors">
		<tr class="header_row">
			<td> Наименование цвета </td>
			<td> Значение </td>
			<td></td>
		</tr>
		<tr>
			<td><%= f.text_field :name %></td>
			<td>
				<%= f.text_field :value, :id => 'color' %>
				<script>
					$('#color').minicolors();
				</script>
			</td>
			<td>
				<%= f.submit 'Добавить' %>
			</td>
		</tr>
		<% Color.all.each do |c| %>
			<tr>
				<td><%= c.name %></td>
				<td style=" background-color:<%= c.value %>"><%= c.value %></td>
			</tr>
		<% end %>
	</table>
<% end %>
