<% if params[:attr_num].nil? %>
	<% params[:attr_num] = 1 %>
<% end %>

<%= form_for @table do |f| %>
	<% name = if !params[:name].nil? then params[:name] else params[:table][:name] end %>
	<h2>Название таблицы: <%= f.label name %></h2>
	<%= f.hidden_field :name, {:value => name} %>
	
	<table class="products">
		<tr class="header_row">
			<%= f.fields_for :table_attrs, class: "tbform" do |attr_f| %>
			<td>
				<% type = attr_f.object.attr_type %>
				<% if type=='Название' || type=='Цена' %>
					<%= attr_f.hidden_field :attr_type, {:value => type} %>
					<%= attr_f.label :attr_type, type %><br />
					<%= attr_f.text_field :name, class: "tbinput" %>
				<% else %>
				<%= attr_f.select :attr_type, options_for_select(['Название', 'Цена', 'Строка', 'Текст', 'Список', 'Цвет', 'Метка', 'Количество', 'Изображение'], type), {}, {class: "tbselect", :onchange => "this.form.submit();"} %>
				<br />
				<% if type == 'Список' %>
					<%= attr_f.collection_select :name, Property.all, :name, :name, {class: "tbselect"} %>
				<% else %>
					<%= attr_f.text_field :name, class: "tbinput" %>
				<% end %>
				<br />
				<%= attr_f.label :visible, 'Скрыть?'%>
				<%= attr_f.check_box :visible %>
				<% end %>				
			</td>
			<% end %>
			
			<td><%= f.submit '+', :name => 'add', class: "add_rem" %><br />
				<%= f.submit '-', :name => 'remove', class: "add_rem" %></td>
		</tr>
	</table>
	<%= f.submit 'Создать', :name => 'confirm' %>
<% end %>

<%= form_tag(property_path("#"), class: "chooseprop", method: "get") do %>
  <%= label_tag(:id, "Выберите список:") %><br />
  <%= collection_select :property, :id, Property.all, :id, :name %><br />
  <%= submit_tag("Редактировать") %><br /><br />
  <%= link_to  'Создать новый?', new_property_path %>
<% end %>

