<%= form_for @table do |f| %>
<%= @table.name %>
<table class="products">
		<tr class="header_row">
			<% @attrs.each do |a| %>
				<td> <%= a.name %>
					<% if a.attr_type == 'Цвет' %>
						<br />
						<%= link_to 'Добавить цвет', color_path %>
					<% end %>
				 </td>
			<% end %>
			<td></td>
		</tr>
		<tr>
			<% if params[:row].nil? %>
		
					<%= f.fields_for :table_attrs do |attr_f| %>
						<td>
							<% @row = attr_f.object.rows.build %>
							<%= attr_f.fields_for :rows, @row do |r| %>
								<% case attr_f.object.attr_type %>
									<% when 'Название', 'Строка' %>
										<%= r.text_field :value %>
									<% when 'Цена' %>
										<%= r.text_field :value %>
									<% when 'Текст' %>
										<%= r.text_area :value %>
									<% when 'Список' %>
										<%= r.collection_select(:value, attr_f.object.property.property_values, :value, :value) %>
									<% when 'Метка' %>
										<%= r.collection_select(:value, Label.all, :id, :name) %>
									<% when 'Цвет' %>
										<%= r.collection_select :value, Color.all, :name, :name  %>
									<% when 'Количество' %>
										<%= r.text_field :value %>
									<% when 'Изображение' %>
										<%= r.file_field :value %>
									
								<% end %>
								<%= r.hidden_field :row, { :value => (@row_count).to_s }%>
							<% end %>
						</td>
					<% end %>
					<td> <%= f.submit "Добавить" %> </td>
				
			<% else %>
				<td> <%= link_to 'Добавить', url_for(params.merge(:row => nil)) %> </td>
			<% end %>
		</tr>
		<% @row_count.downto(1) do |c|%>
			<tr>
			<% if params[:row] == c.to_s %>
				
					<%= f.fields_for :table_attrs do |attr_f| %>
						<td>
							<% @row = attr_f.object.rows.find_by(row: c-1) %> 
							<%= attr_f.fields_for :rows, @row do |r| %>
								<% case attr_f.object.attr_type %>
									<% when 'Название', 'Строка', 'Цена' %>
										<%= r.text_field :value %>
									<% when 'Текст' %>
										<%= r.text_area :value %>
									<% when 'Список' %>
										<%= r.collection_select(:value, attr_f.object.property.property_values, :value, :value) %>
									<% when 'Метка' %>
										<%= r.collection_select(:value, Label.all, :id, :name) %>
									<% when 'Цвет' %>
										<%= r.collection_select :value, Color.all, :name, :name  %>
									<% when 'Количество' %>
										<%= r.text_field :value %>
									<% when 'Изображение' %>
										<%= r.file_field :value %>
									
								<% end %>
								<%= r.hidden_field :row, { :value => (c-1).to_s }%>
							<% end %>
						</td>
					<% end %>
				<td> <%= f.submit "Изменить" %></td>
			
			<% else %>
				<% @attrs.each do |a| %>
					<td>
						<% case a.attr_type %>
								<% when 'Название', 'Строка', 'Цена' %>
									<%= a.rows.find_by(row: c-1).value %>
								<% when 'Текст' %>
									<%= a.rows.find_by(row: c-1).value %>
								<% when 'Список' %>
									<%= a.rows.find_by(row: c-1).value %>
								<% when 'Метка' %>
									<%= a.rows.find_by(row: c-1).value %>
								<% when 'Цвет' %>
									<div style= "background-color: <%= a.rows.find_by(row: c-1).value %>">
									<%= a.rows.find_by(row: c-1).value %>
									</div>
								<% when 'Количество' %>
									<%= a.rows.find_by(row: c-1).value %>
								<% when 'Изображение' %>
									<%= a.rows.find_by(row: c-1).value %>
						<% end %>
					</td>
				<% end %>
				<td> <%= link_to 'Изменить', url_for(params.merge(:row => c)) %> </td>
			<% end %>
			</tr>
		<% end %>
		
		
</table>
<% end %>
