<div class="row">
	<div class="small-11 small-centered columns">
		<h2>Форма входа</h2>

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <div><%= f.label 'Адрес электронной почты' %><br />
		  <%= f.email_field :email, :autofocus => true %></div>

		  <div><%= f.label 'Пароль' %><br />
		  <%= f.password_field :password %></div>

		  <% if devise_mapping.rememberable? -%>
		    <div><%= f.check_box :remember_me %> <%= f.label 'Запомнить меня' %></div>
		  <% end %>

		  <div><%= f.submit "Войти" %></div>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
</div>
