function path_to_css(string) {
	return "<%= asset_path('application.css') %>,<%= asset_path('admin.css') %>"
}
function settingsImage() {
	return '<%= image_tag "settings_white.png", width:12, height:12 %>'
}
function trashImage() {
	return '<%= image_tag "trash_white.png", width:12, height:12 %>'
}