//= require beaverslider
//= require beaverslider-effects

sliderReady = ->
	<%	
		slides = Array.new
		links = Array.new
		SimpleSlide.all.each do |slide|
			slides.push slide.image.url(:normal)
			links.push slide.link
		end 
	%>

	slides = <%= slides.to_json %>

	links = <%= links.to_json %>

	slider = new BeaverSlider({
    structure: {
        container: {
            id: "slider",
            width: 1260,
            height: 300
        }
    },
    content: {
        images: slides
    },
    animation: {
        waitAllImages: true,
        effects: effectSets["slider: big set 2"],
        initialInterval: 1000,
        interval: 2000
    },
	events: {
		imageClick: (slider) ->
			currentLink = links[slider.currentImage]
			if (currentLink) 
				window.location.href = currentLink
    }
	}) 

$(window).load(sliderReady)
$(document).on('page:load', sliderReady)

