<table class="orders">
  <tr>
    <td rowspan="0">
      <h3>Заказчик</h3>
      <%= @order.first %> <%= @order.second %>
      <h3>Телефон</h3>
      <%= @order.phone %> <br />
      <h3>e-mail</h3>
      <%= @order.email %>
      <h3>Выбранный метод оплаты</h3>
      <%= @order.payment_method %>
      <h3>Состояне оплаты</h3>
      <%= @order.payment_status %>
    </td>
  </tr>
  <tr>
    <td style="vertical-align:top">
      <table>
         <%= render partial: 'product_in_cart', collection: @order.products_in_cart %>
      </table>
    </td>
    <td>
      Текущий статус заказа: <%= @order.status %>
      </td>
  </tr>
  <tr>
    <td colspan="0"><strong>Общая сумма</strong><%= @order.sum %></td>
  </tr>
</table>