@import "imports_and_variables";
.tree-edit {
	width: 55%;
	min-width: 680px;
	h3 {
		font-size: u(30);
		margin: u(10 0);
		width: 30%;
		~ .tree-actions {
			width: 69%;
			text-align: left;
		}
	}
	.line {
		font-family: 'Exo 2', sans-serif;
		padding: u(10 10);
		@include box-sizing(border-box);
		width: 100%;
		@include box-shadow(rgba(0, 0, 0, 0.1) 0 1px 3px);
		background-color: #fff;
		font-size: u(18);
		margin-bottom: u(5);
	}
	.t-category-name, .t-subcategory-name,
	.t-article-name {
		width: 54%;
		@include inline-block;

	}
	.tree-actions {
		text-align: right;
		width: 44%;
		@include inline-block;
		line-height: u(18);
	}
	.tree-action {
		color: #777;
		font-size: u(14);
		text-decoration: underline;
		@include inline-block;
		margin-left: u(20);
		line-height: u(18);
	}
	icon {
		@include inline-block;
		width: u(26);
		height: u(26);
		background-size: 26px 26px;
		margin-left: 0;
		margin-right: u(5);
	}
	.collapse {
		@extend icon;
		background-image: url(down_right.png);
	}
	.expand {
		@extend icon;
		background-image: url(right.png);
	}
}
#tree_editor, #catalog_editor, .feature-tree {
	width: 100%;
	display: block;
	padding: 0;
	margin: 0;
	ul {
		padding-left: u(50);
	}
	li {
			display: block;
			min-height: u(27);
	}
}
.placeholder {
		padding: u(10 10);
		@include box-sizing(border-box);
		width: 100%;
		@include box-shadow(rgba(0, 0, 0, 0.1) 0 1px 3px);
		background-color: #fff;
		font-size: u(18);
		margin-bottom: u(5);
		@include box-shadow(0 0 7px 1px #0f0);
}
.bad-placeholder {
	@include box-shadow(0 0 7px 1px #f00);
}
