@import "imports_and_variables";
@import "admin_variables";

html {
	height: 100%;
} 
body {
	min-height: 100%;
}
.col1of3 {
	@include span(1 of 3);
}
a {
	cursor: pointer;
}
.clear {
	clear: both;
}
.inline {
	display: inline-block;
	vertical-align: middle;
}
.fluid {
	@include container;
	background-color: rgb(230,232,234); 
	min-width: 960px;
	min-height: 100%;
}

.inline-area {
	display: none;
}

.inline-content {
	background-color: #fff;
	@include transition-property(box-shadow);
	@include transition-duration(0.3s);
	cursor: pointer;

	&:hover {
		@include box-shadow(0 0 7px $active);
	}
}

.ajax-loader {
	background: url('ajax_loader.gif') no-repeat center center;
}

.products-ui {
	opacity: 0;
	background-color: $active;
	margin-right: -100%;
	float: left;
	margin-top: u(-45);
	position: relative;
	height: u(40);
	width: 100%;
	z-index: 999;
	a {
		@include span(1 of 3);
		text-align: center;
		line-height: u(40);
		height: 100%;
		&:nth-child(2) {
			border-right: 1px solid #fff;
			border-left: 1px solid #fff;
			}
		&:hover {
			background-color: adjust-lightness($active, 10) 
		}
		@include transition-property(color);
	  	@include transition-duration(0.7s);
	}
	img {
			height: u(18);
			vertical-align: middle;
		}
}

#am_label { 
	position: absolute;
	background-color: #fff;
	
	left: u(-34);
	top: 0;
	padding: 5% u(10);
	height: u(30);
	width: u(34);

	font-size: u(20);
	z-index: 9991;
	@include box-shadow(rgba(0,0,0,0.2) -2px 0px 4px);
	@include border-radius(20px 0 0 20px);
}

#admin_menu {
	z-index: 9992;
	position: fixed;
	top: 40%;
	left: 1600px;
	width: u(250);
	background-color: #fff;

	@include box-shadow(rgba(0,0,0,0.2) 0px 0px 4px);
	@include border-radius(0 5px 5px 5px);

	.am-header {
		text-align: center;
		padding-left: 0;
		font-weight: bold;
	}

	.am-order-search {
		background-color: $active;

		input[type="text"] {
			@include border-radius(5px);
			@include box-sizing(border-box);
			font-weight: normal;
			border: 1px solid $h-border;
			height: u(30);
			width: 90%;
			padding: u(0 0 0 10);
			z-index: 1;
			margin-right: u(-30);
		}

	}

	a{
		text-decoration: none;

	    font-weight: bolder;
		color: #000;

		&:hover {
			color: $active;
		}
	}

	p {
		text-align: justify;
		font-weight: normal;
		font-size: u(14);
		color: #555;
		padding-right: u(25);
		margin: 0;
	}
	
	ul { 
	    width: 100%;
	    padding: 0;
	    margin: 0;
	    display: block;
	    position: relative;
	    z-index: 9993;	
	    font-family: 'Exo 2', sans-serif;
	
	    li {
	    	position: relative;
	    	display: block;
	    	margin: 0;
	    	padding: u(10 0 10 25);
	    	border-bottom: 1px solid #e9e9e9;
	    }
	} 
	.exit {
		text-align: right;
		a {
			font-size: u(14);
			color: #555;
			padding-right: u(25);

			&:hover {
				color: $active;
			}
		}
	}
}


.modification-tr {
	height: u(150);
	cursor: pointer;
	td {
		vertical-align: middle;
		&:first-child {
			width:auto;
		}
	}
}
#feature_categories {
	background-color: $panel-borders;
	width: u(400);
}
#basic_img_preview {
	display: block;
}


.switch-form {
	display: inline-block;
	vertical-align: middle;
	float: right;
}
header_button {
	font-family: Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	color: #fff;	
	@include inline-block;
	vertical-align: middle;
	background-color: $active;
	@include border-radius(3px);
	&:hover {
		background-color: adjust-lightness($active, 10)
	}
	@include transition-property(color);
	@include transition-duration(0.7s);
}
.header-action {
	@extend header_button;
	width: u(20);
	height: u(20);
	line-height: u(20);
	img {
		@include inline-block;
	}
}
.add {
	@extend header_button;
	width: u(35);
	font-size: u(40);
	height: u(35);
	line-height: u(35);
	margin-top: u(10);
	margin-left: u(30);
	margin-right: u(30);
	
}

.add-field {
	@extend .header-action;
	@include isolate(687px);
	width: u(25);
	height: u(25);
	line-height: u(25);
	margin-top: u(12);
}


.add-feature {
	margin-top: 0;
}
.delete-news-item {
	margin-left: u(7);
}

.block-header {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid $aside-border;
}

.mp-content {
	input[type="text"] {
		width: 100%;
		height: u(30);
		padding-left: u(10);
	}
	label {
		font-size: u(20);
		padding: u(20 0 10 0);
	}
	input[type="submit"] {
		margin: u(20 0);
		font-size: u(20);
	}
}


label {
	display: block;
}



#slide_editor {
	position: relative;
	width: 100%;
}
#item_type {
	display: inline-block;
	vertical-align: middle;
	opacity: 0;
	margin-top: u(10);
}
#editor_menu {
	background-color: $h-divider;
	display: none;
}
#top_panel {
	padding: u(10 20);
	border: 1px solid #ccc;
	height: u(80);
	> div {
		@include span(1 of 2);
	}
}
#bottom_panel {

	> div {
		@include inline-block;
		padding: u(10);
		border: 1px solid #ccc;
		min-height: u(142);

		> div {
			height: u(30);
		}
		input, select {
			float: right;
		}
		&:first-child{
			width: u(160);
		}
	}
	&:after {
		display: block;
		content: ".";
		clear: both;
	}
}
#editor_workspace {
	clear: both;
	height: u(332);
	border: 1px solid #000;
	position: relative;
	overflow: hidden;

	.slide-item{
		@include border-radius(5px);
		@include box-shadow(rgba(0,0,0,0.5) 0 0 3px 0);
		padding: u(15);
		position: absolute;
		cursor: move;

		.delete-slide-item {
			font-family: Arial, sans-serif;
			position: absolute;
			right: 5px;
			top: 0;
			color: red;
		}

		.cke_editable {
			@include box-shadow(rgba(0,0,0,0.5) 0 0 3px 0);
			overflow: hidden;
		}
		img {
			max-height: u(300);
		}
	}

	.text {
		padding: u(10);
	}
}

.s-button > div {
	background-color: #212121;
	padding: u(10 20);
	color: #fff;
}

input[type="checkbox"] + label {
	@include inline-block;
}
input[type="checkbox"] {
	@include inline-block;
	margin-right: u(20);
}

.edit-top-info {
	margin-top: u(30);
	max-width: u(900);
	
	.col-2-6 {
		@include span(2 of 6);
	}

	a {
		cursor: pointer;
	}
}

.submit input[type=radio] {
	position: absolute;
	clip: rect(0 0 0 0);
}


.gray-button {
    display: inline-block;
    background: #e4e4e4;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#d7d7d7));
    background: -moz-linear-gradient(center top, #f6f6f6 0%, #d7d7d7 100%);
    -webkit-box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
    -moz-box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
    box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0px 10px;
    display: inline-block;
    font-family: arial;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    text-align: center;
}
.gray-button:hover {
    -webkit-box-shadow: 0px 0px 0px 1px #a8a8a8 inset, 1px 1px 4px 0px #bababa;
    -moz-box-shadow: 0px 0px 0px 1px #a8a8a8 inset, 1px 1px 4px 0px #bababa;
    box-shadow: 0px 0px 0px 1px #a8a8a8 inset, 1px 1px 4px 0px #bababa;
    color: #424242;
}
.gray-button:active {
    background: #e6e6e6;
    -webkit-box-shadow: 0px 1px 5px 0px #808080 inset;
    -moz-box-shadow: 0px 1px 5px 0px #808080 inset;
    box-shadow: 0px 1px 5px 0px #808080 inset;
}







.top-bar {
	input[type=text] {
		margin: 0;
		height: u(30);
	}
}
#header-container{
	overflow: hidden;
	.edit-button {
		position: relative;
		top: -30px;
	}
}

.order {
	width:100%;
	border-spacing: 0px;
    border-collapse: collapse;
    .order-del {
		font-size: 12px;
		float: right;		
	}
    .order-sum-text {
    	font-weight: bolder;
    	font-size: 20px;
    	color: red;
    }
    .order-sum {
    	font-size: 20px;
    }
	td,th {
		border: 1px solid #ccc;
	}
	.order-main-info {
		vertical-align: top;
		width: u(450);
		.underline {
			text-decoration: underline;
		}
		.dotted-underline {
			border-bottom: 1px dotted #000;
		}
		.dotted-underline:hover {
			border-bottom: 1px dotted #e5493a;
		}
		.order-popup { 
			position: absolute;
			background: #ffffff; 
			border: 2px solid #a6a6a6;
			padding: u(15 40 15 40);
			width: u(360);
			border-radius: u(7);
			display: none;

			.order-popup-cancel {
				position: absolute;
				top: 5px;
				right: 5px;
				color: #aaa;
				font-size: 30px;
				font-weight: bold;
			}
		} 

		.order-popup:after, .order-popup:before { 
			top: 100%; 
			left: 50%; 
			border: solid transparent; 
			content: " "; 
			height: 0; 
			width: 0; 
			position: absolute; 
			pointer-events: none; 
		} 
		.order-popup:after { 
			border-color: rgba(255, 255, 255, 0); 
			border-top-color: #ffffff; 
			border-width: 7px; 
			margin-left: -7px; 
		} 
		.order-popup:before { 
			border-color: rgba(166, 166, 166, 0); 
			border-top-color: #a6a6a6; 
			border-width: 10px; 
			margin-left: -10px; 
		}

		a {
			color: #000;
		}
		a:hover {
			color: #e5493a;
		}
	}
}

