@import "imports_and_variables";
@import "admin_variables";
$delete-button: #c05;

.block {
	@include box-shadow(rgba(0, 0, 0, 0.1) 0 1px 3px);
	padding: 0;
	background-color: #fff;
	position: relative;
	margin-bottom: u(50);
	.header {
		background-color: rgb(245,245,245);
		h3 {
			font-size: u(24);
			margin: 0;
		}
	}
	
	.section {
		@include container;
		border-bottom: 1px solid rgb(221,221,221);
		padding: u(20 10);
	}
	form-input {
		label {
			font-size: u(16);
			font-weight: 500;
			margin-bottom: u(16);
		}
		input, select {
			height: u(30);
			width: 100%;
			@include box-sizing(border-box);
		}
		input[type="checkbox"] {
			width: auto;
		}
		.after-cb {
			font-size: u(14);
			color: #777;
		}
		textarea {
			width: 100%;
		}
		.checkboxes {
			@include box-sizing(border-box);
			max-height: u(350);
			padding: u(10);	
			width: 100%;
			overflow-y: scroll;
			border: 1px solid #ccc;
			label {
				font-size: u(15);
				margin-bottom: 0;
			}
		}
		.radios {
			@include inline-block;
			margin-left: u(400);
		}
		.preview-image-wrapper {
			width: u(150);
			height: u(150);
			@include inline-block;
			margin-right: u(20);
			padding: u(10);
			@include border-radius(5px);
			border: 1px solid #ccc;
			background-color: rgb(230,232,234);
			text-align: center;  
			img {
				height: 100%;
			}
		}
		.after-preview-wrapper {
			@include inline-block(top);
		}
		.no-file {
			display: none;
		}
		.f-additional-image {
			width: u(110);
			height: u(110);
			padding: u(5);
			@include inline-block;
			position: relative;
			margin: u(0 0 10 10);
			@include border-radius(3px);
			border: 1px solid #ccc;
			background-color: rgb(230,232,234);
			text-align: center;
			line-height: u(110);
			font-size: u(50);
			font-weight: bold;
			color: #fff;
			@include single-text-shadow;
			.delete-additional-image {
				font-family: Arial, sans-serif;
				position: absolute;
				top: u(3);
				right: u(3);
				color: $active;
				font-size: u(18);
				line-height: u(18);

			}
			input {
				display: none;
			}
			img {
				max-height: u(100);
				max-width: u(100);
			}
		}		
	}
	.edit-phone {
		input {
			width: 80%;
			margin: 0;
		}
	}
	.footnote {
		font-size: u(14);
		color: #555;
		margin-bottom: u(20);
		margin-top: u(-10);
	}

	#orders {
		th {
			text-align: left;
		}
		td {
			vertical-align: top;
		}
		.payment-status, .status {
			form {
				display: none;
			}
		}
		.products {
			text-align: left;
			ul {
				font-size: u(14);	
				margin-bottom: u(8);
				margin-top: 0;
			}
		}
	}
	.basic-table {
		width: 100%;
		background-color: #fff;
		thead {
			font-size: u(14);
			font-weight: bolder;
		}
		tbody {
			tr:nth-child(2n) td {
				background-color: rgb(249, 249, 249);
			}
			tr td{
				border-top: 1px solid rgb(223, 225, 229);	
			}
			.t-product-picture {
				img {
					max-width: u(80);
					max-height: u(80);
				}
			}
			.total-price {
				text-align: right;
				color: $active;
				font-weight: 500;
				font-size: u(18);
				#sum, .rouble {
					color: #000;
				}
			}
		}
		td,th {
			padding: u(10);
			a {
				color: #555;
				font-size: u(14);
			}
		}

	}
	.block-table {
		width: 100%;
		margin-bottom: u(20);
		table {
			width: 100%;
		}
		thead {
			background-color: $panel-background;
			font-size: u(15);
		}
		td,th {
			border: 1px solid $panel-borders;
			vertical-align: middle;
			padding: u(10);
		}
		input, textarea {
			border: none;
			width: 100%;
			line-height: u(36);
			background-color: transparent;
		}
		.name {
			width: u(190);
		}
		.feature-name {
			width: u(240);
		}
		.basic {
			width: u(90);
			text-align: center;
		}
		.price {
			width: u(150);
		}
		.standart {
			width: u(95);
			text-align: center;
			
		}
		
		.value-picture {
			text-align: center;
			a {
				font-size: u(14);
				color: #777;
				text-decoration: underline;
				@include inline-block;
			}
			img {
					max-height: u(100);
					max-width: u(100);
					@include inline-block;
				}
			input[type=file] {
				display: none;
			}
		}
		.delete-value {
			width: u(30);
			text-align: center;
			a {
				font-size: u(30);
				font-family: Arial, sans-serif;
				font-weight: bold;
				color: #777;
			}
		}
		.delete {
			width: u(90);
			text-align: center;
		}
		.order {
			width: u(20);
			text-align: center;
			background: url("up_down.png") no-repeat center center;
		}
		.product-image-tr {
			text-align: center;
			width: u(180);
		}
		.product-tr:hover {
			cursor: pointer;
			td {
				background-color: #eee;
			}
		}
		.category-tr:hover {
			cursor: pointer;
			td {
				background-color: #eee;
			}
		}
		delete {
			@include border-radius(5px);
			@include text-shadow(0px -1px 0px #000);
			@include box-shadow(#bdbdbd 0px 1px 1px 0px);
			font-weight: bolder;
			line-height: u(12);
			text-decoration: none;
			font-size: u(12);
			color: #fff;
			@include background(linear-gradient(top, adjust-lightness($delete-button,5), $delete-button));
			border: 1px solid adjust-saturation($delete-button, 60);
			padding: u(5 15);
		}
		.disabled {
			opacity: 0.5;
		}
		tbody {
			.order {
				cursor: move;
			}
			.product-image-tr img {
				height: u(100);
			}
		}
		.delete-complectation, .delete-modification, .delete-feature, 
		.delete-c-feature, .delete-related-product,
		.delete-related-category, .destroy-feature-value {
			@extend delete;
		}
	}
	#f_features {
		>tbody {
			> tr:nth-child(2n) {
				background-color: #eff3f4;
			}
		}
		.values {
			padding: 0;
			table {
				margin: 0;
			}
			td,th {
				border: none;
			}
			.value, .value-picture {
				border-right: 1px solid $panel-borders;
				border-bottom: 1px solid $panel-borders;
			}
			.value-picture {
				width: u(300);
			}
			.delete-value {
				border-bottom: 1px solid $panel-borders;
			}
			.new-value {
				text-align: center;
				padding: u(3);
				a {
					display: block;
					width: 100%;
					height: 100%;
					font-size: u(14);
					font-weight: bold;
					color: #000;
				}                                                                                                                                                                                                                         
			}

		}
	}
	#orders_products {
		th {
			text-align: left;
		}
	}
	#features_templates {
		th {
			text-align: left;
		}
	}
	.form-input-3 {
		@extend form-input;
		@include span(1 of 3 after);
	}
	.form-input-3 {
		@extend form-input;
		@include span(1 of 3 after);
	}
	.form-input-3-l {
		@extend form-input;
		@include span(1 of 3 after last);
	}
	.form-input-2 {
		@extend form-input;
		@include span(1 of 2 after);
	}
	.form-input-2-l {
		@extend form-input;
		@include span(1 of 2 after last);
	}
	.form-input-1 {
		@extend form-input;
	}
	.table-section-2 {
		@include span(1 of 2 after);
	}

	.table-section-2-l {
		@include span(1 of 2 after last);
	}
	.add-complectation, #add_feature,
	.add-slide, .add-slide-item, #p_reset_fields,
	#add_feature_value, #add_phone, .save-news, 
	.edit-news-item, .delete-news-item, .open-popup, 
	.batch-action {
		@extend red-label;
		padding: u(3 10);
	}

	.batch-action {
		position: relative;
		top: +u(10);
	}

	.edit-news-item, .delete-news-item {
		margin: u(10);
	}
	.block-buttons-wrapper {
		padding-top: u(20);
	}

	#admin_products_search {
		margin-bottom: u(20);
	}

	.s-add-buttons {
		height: u(40);
		overflow: visible;
		.add-slide-item:not(#add_to_slide) {
			opacity: 0;
		}
	}

	#products_index {
		th {
			text-align: left;
		}
	}

	.panel-button {
		width: u(300);
		@include inline-block;

		&:hover {
			> a:not(.disabled) {
				background-color: #e7e7e7;
			}
		}

		> a {
			border: 1px solid #000;
			color: #000;
			@include border-radius(3px);
			padding: u(7 12);
			&.disabled {
				color: #999;
				border-color: #999;
			}
		}

		.dropdown {
			display: none;
			padding: 0;
			position: absolute;
			top: u(35);
			z-index: 20;
			background-color: #fff;
			@include box-shadow(0 0 15px -2px rgba(0,0,0,0.2));

			li > a {
				display: block;
				padding: u(8 10);
				color: #000;
				width: u(200);
				border-bottom: 1px solid #eee;
				&:hover {
					background-color: #f0f0f0;
				}
			}
		}

		.open-dropdown:after {
			content: '';
			display: inline-block;
			border-left: u(5) solid transparent;
			border-right: u(5) solid transparent;
			border-top: u(5) solid #000;
			margin-left: u(5);
		}
		.disabled.open-dropdown:after {
			border-top: u(5) solid #999;
		}
	}
	.per-page {
		float: right;
		width: u(60);
		li {
			overflow: hidden;
			width: u(60);
		}
	}
}

.del-phone {
	font-family: Arial, sans-serif;
	line-height: 0;
}

#add_phone {
	@include inline-block;
	color: #1E90FF;
	font-size: u(30);
}

.del-phone {
	@include inline-block;
	color: red;
	font-size: u(30);
}

#slide_form_block, .replaceable  {
	display: none;
}

#modifications_popup, #related_products_popup,
#related_categories_popup, #move_products_popup {
	position: fixed;
	display: none;
	z-index: 9997;
	top:50%;
	left: 50%;
	margin-left: u(-300);
	margin-top: u(-200);
	background-color: #fff;
	width: u(600);
	height: u(400);
	padding: u(10);
	overflow-y: scroll;
	@include box-shadow(0 0 10px rgba(0,0,0,0.4));
	h2 {
		font-size: u(32);
		margin-top: 0;
		margin-bottom: u(30);
	}
	input, select {
		height: u(30);
		width: 100%;
		@include box-sizing(border-box);
	}
	.chosen-container {
		width: 100% !important;
	}
	table {
		margin-top: u(15);
		overflow-y: auto;
		thead {
			background-color: $panel-background;
		}
		td {
			border: 1px solid $panel-borders;
			vertical-align: middle;
			padding: u(10);
		}

		.delete, .order {
			display: none;
		}
	}
}
#move_products_popup {
	overflow-y: visible;
	margin-top: u(-100);
	height: u(200); 
}