@import "imports_and_variables";
@import "admin_variables";

#admin_panel {
	width: u(200);
	background:#40454D;
	position:fixed;
	top:0;
	bottom:0;
	font-family: Arial, sans-serif;
	padding: 0;
	z-index: 1;
	
	.header {
		background-color: $active;
		height: u(85);
		padding-top: u(18);
		font-weight: 600;
		font-family: 'Exo 2', sans-serif;
		@include box-sizing(border-box);
		color: #fff;
		.letter {
			font-size: u(36);
			padding: u(0 3);
			margin: u(0 10);
			float: left;
			font-weight: 900;
			@include border-radius(2px);
			border: 1px solid #fff;
		}
		.word-part {
			font-size: u(16);
			line-height: u(10);
			vertical-align: middle;
		}
	}

	> ul {
		padding: 0;
		margin: 0;
		> li {
			position: relative;
			.has-child:after {
				content: '';
				display: inline-block;
				  border-top: 5px solid transparent;
				  border-bottom: 5px solid transparent;
				  border-left: 5px solid rgba(255,255,255,0.3); /* change color here, modified for a black arrow */
				  position: absolute;
				  top: 50%;
				  margin-top: -5px;
				  right: 10px;
			}
			.open {
				color: #fff;
				font-weight: bolder;
				&:after {
					margin-top: -3px;
					border-bottom: 0;
					border-left: 5px solid transparent;
				  	border-right: 5px solid transparent;
					border-top: 5px solid rgba(255,255,255,0.3); /* change color here, modified for a black arrow */
				}
			}
			a {
				position: relative;
				display:block;
				border-bottom:1px solid rgba(255,255,255,0.05);
				color:rgba(255,255,255,0.7);
				text-decoration:none;
				padding: u(10 0 10 20);
				font-size: u(14);
				&:hover {
					background:rgba(0,0,0,0.05);
				}
				&.active {
					font-weight:bold;
					color:#fff;
					background:rgba(0,0,0,0.08);
				}
			}
			ul {
				display: none;
				padding: 0;
				background-color: rgba(91,98,112,0.8);
				a {
					padding-left: u(35);
				}
				ul {
					a {
						background-color: rgba(255,255,255,0.1);
						color: #fff;
						border: none;
						padding-left: u(50);
						&:hover {
							background:rgba(255,255,255,0.05);
						}
					}
				}
			}
		}
	}
}

.top-bar {
	z-index: 1;
	position:fixed;
	line-height: u(85);
	left: u(200);
	right:0;
	height: u(85);
	background:#fff;
	@include box-shadow(0 0 15px -2px rgba(0,0,0,0.2));
	h2 { 
		font-size: u(32); 
		margin: 0;
		margin-left: u(35);
		color:#333; 
		background-repeat:no-repeat; 
		background-size: u(22); 
		background-position: 0 50%; 
		padding-left: u(32);
		@include inline-block;
	}
	h2.products { background-image:image-url('product_icon.png')}
	h2.catalog { background-image:image-url('category_icon.png')}
	h2.features { background-image:image-url('property_icon.png')}
	h2.slider { background-image:image-url('slide_icon.png')}
	h2.article { background-image:image-url('article_icon.png')}
	h2.h-order { background-image: image-url('order_icon.png')}

	.buttons {
		float: right;
		line-height: u(85);
		margin-right: u(35);
	}
}

#order_search {
	background-color: rgba(91,98,112,0.8);
	width: 100%;
	line-height: u(50);
	text-align: center;
	input[type="text"] {
		@include border-radius(5px);
		@include box-sizing(border-box);
		height: u(30);
		width: 90%;
		padding: u(0 0 0 10);
		z-index: 1;
		margin-right: u(-30);
		margin-left: u(-10);
	}

	#search_icon {
	height: u(30); 
	img {
		@include inline-block;
		width: u(25);
		height: u(25);
		margin-left: u(-10);
		z-index: 2;
		cursor: pointer;
	}
}

}

#admin_workspace {	
	padding: u(120 35 35 235);
	width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: 0;
}

.label-button {
	@extend red-label;
	padding: u(6 10);
	margin-left: u(20);
}

#inform_popups {
	position: fixed;
	right: u(10);
	top: u(90);
	z-index: 9999;
}
.ajax-popup {
	@include box-shadow(0 0 15px -2px rgba(0,0,0,0.2));
	color: #fff;
	font-weight: bolder;
	display: none;
	padding: u(15);
	text-align: center;
	margin-bottom: u(5);
	z-index: 9999;
}

.success {
	@extend .ajax-popup;
	background-color: #9ac835;
}

.error {
	@extend .ajax-popup;
	background-color: #F2DEDE;
}