@import 'imports_and_variables';
$aside-border: rgba(0,0,0,0.1);
$panel-background: #f9f9f9;
$panel-borders: #ccc;

red-label {
	@include text-shadow(0px -1px 0px #000);
	@include box-shadow(#bdbdbd 0px 1px 1px 0px);
	@include border-radius(3px);
	font-weight: bolder;
	line-height: u(12);
	text-decoration: none;
	font-size: u(12);
	color: #fff;
	@include background(linear-gradient(top, adjust-lightness($active,5), $active));
	border: 1px solid adjust-saturation($active, 60);

	&:hover {
		@include background(linear-gradient(top, adjust-lightness($active,10), adjust-lightness($active,5)));
		@include box-shadow(#bdbdbd 0px 0px 0px 0px);
	}
}