@import "imports_and_variables";

#chosen_products {
	width: 100%;
	margin-top: u(20);
	background-color: #fff;
	border-bottom: 1px solid rgb(233,233,233);
	thead {
		font-size: u(14);
		font-weight: bolder;
	}
	tbody {
		tr:nth-child(2n) td {
			background-color: rgb(249, 249, 249);
		}
		tr td{
			text-align: center;
			border-top: 1px solid rgb(223, 225, 229);	
		}
		.cp-picture {
			img {
				max-width: u(80);
				max-height: u(80);
			}
		}
		.delete-from-cart {
			cursor: pointer;
			font-family: Arial, sans-serif;
			font-size: u(36);
			font-weight: bolder;
			color: #777;
		}
		.total-price {
			text-align: right;
			color: $active;
			font-weight: 500;
			font-size: u(18);
			#sum, .rouble {
				color: #000;
			}
		}
		input {
			@extend field;
			width: 30%;
		}
	}
	td,th {
		padding: u(10);
		a {
			color: #555;
			font-size: u(14);
		}
	}
}
.m-cart {
	.section {
		border-bottom: 1px solid rgb(233,233,233);
		@include container;
		padding: u(20 0);
	}
	label {
		font-size: u(20);
		display: block;
		width: 100%;
		margin-bottom: u(25);
	}
	.after-cb {
		font-size: u(12);
		color: #555;
	}
	.r-button-wrapper {
		margin-bottom: u(10);
		* {
			@include inline-block;
			margin-right: u(6);
		}
	}
	.contacts {
		input {
			@extend field;
			width: 40%;
		}
	}
	textarea {
		@extend field;
		width: 40%;
		height: u(100);
	}
	input[type=submit] {
		border: none;
		padding: u(10);
		@include border-radius(3px);
		background-color: #000;
		color: #fff;
		margin: u(8);
		&:hover {
			background-color: $active;
		}
	}
	.delivery {
		@include span(1 of 5);
	}
	.address {
		@include span(4 of 5);
		textarea {
			height: u(50);
			width: u(550);
		}
	}
}

.order-accepted {
	text-align: center;
}
h3.order-accepted {
	margin-top: u(50);
}
h4.order-accepted {
	margin-bottom: u(50);
}
.print-order {
	color: $active;
	font-size: u(18);
	margin-left: u(20);
}
.customer-info {
	margin: u(30);
	td {
		padding: u(5 10);
	}
}

.order-error {
	margin: u(10 0);
	text-align: center;
	color: $active;
	font-size: u(24);
}