@import "imports_and_variables";

aside {
	@include span(1 of 4);
}
.s-nav {

	h2 {		
		a {
			color: #000;
			text-decoration: none;
		}
	}
}

#catalog {
	padding-left: 0;
	ul {
		padding-left: 0;
	}
	li {
		position: relative;
		a {
			font-family: 'Exo 2', sans-serif;
			font-size: u(16);
			font-weight: 400;
			color: #000;
			text-decoration: none;
			@include inline-block;
			width: 99%;
			margin-right: u(-21);
			padding: u(8 0 8 0);

			&:hover {
				color: $active;
			}
		}
		.expand {
			@include inline-block;
			cursor: pointer;
			position: relative;
			height: u(20);
			width: u(20);
			background: url('expand.png') no-repeat center center;
			margin-top: u(10);
			padding: 0;
			z-index: 2;
		}

		.checked {
			background-image: url('collapse.png');
		}

		li {
			border-bottom: 1px solid $h-border;

			&:last-child {
				border-bottom: none;
			}
		}
	}

	> li {

		> ul {
			margin-bottom: u(30);
			.main {
				padding-left: u(30);
				> a {
					font-size: u(18);
				}
			}
		}

	}

	> .main {
		> a {
			font-size: u(22);
		}
	}
	
	.main {
		> a {
			color: #000;
			font-weight: 500;
			margin-bottom: u(10);	
			position: relative;	
			z-index: 1;
		}
	}

	.special {
		> a {
			color: #e5493a;
		}
	}
}

