@import "imports_and_variables";
@import "normalize";

html {
	font-size: u(16);
	font-family: 'Exo 2' ,sans-serif;
	height: 100%;
}

body {	
	height: 100%;
	background-color: #fff;
}

.container {
	@include container(1260px);
	min-width: u(960);
}

.wrapper {
	width: 100%;
	@include box-shadow(rgba(0,0,0,0.1) 0 1px 2px);
}


h1,h2,h3,h4,h5,h6 {
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: u(56);
}

h2 {
	font-size: u(48);
	margin: u(20 0);
	a {
		color: #000;
		text-decoration: none;
	}
}

h3 {
	font-size: u(36);
	margin: u(10 0);
	a {
		color: #000;
		text-decoration: none;
	}
}

h4 {
	font-size: u(26);
	margin: u(7 0);
}

h5 {
	font-size: u(20);
	margin: u(5 0);
}

ul {
	list-style: none;
}

.col4 {
	@include span(1 of 4);
}
.col12 {
	@include span(3 of 4);
}

main {
	@include span(4 of 4 no-gutters);
}

.r-aside {
	@include span(3 of 4);
}

.main-bottom {
	clear: both;
}

.h-divider {
	margin-top:-100%;
	padding-top:100%;
	border-bottom: 1px solid $h-border;
	font-size: u(14);
	color: $interface-link;
	font-family: 'Exo 2', sans-serif;
	span {
		font-size: u(13);
		margin-right: u(10);
	}
	a {
		color: #000;
		text-decoration: none;

		&:hover {
			color: $active;
		}
	}
	h4 {
		color: #000;
		margin: 0;
		padding: 0;
	}
}

.rouble {
	&:before {
		font-family: 'rouble';
		font-weight: 100;
		content: 'p';
	}
	span {
		display: none;
	}
}
#shade {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background:rgb(0,0,0);
	background: transparent\9;
	background:rgba(0,0,0,0.45);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#72000000,endColorstr=#72000000);
	zoom: 1;
	z-index: 9996;
}
#shade:nth-child(n) {
	filter: none;
}

.close-popup {
	position: absolute;
	top: u(5);
	right: u(5);
	font-size: u(30);
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: red;
	line-height: u(20);
	cursor: pointer;
}

.show-on-printing {
	display:none;
}
.product-image-column {
	width: 200px;
}

.site_imap_anchor {
	display: block;
}

#popup {
	z-index: 9000;
	position: absolute;
	background-color: #fff;
	padding: 5px;
	opacity: 0;
	@include border-radius(5px);
	@include box-shadow(0 0 10px rgba(0,0,0,0.12));
}

@include sticky-footer(172px, ".page-wrapper", ".page-wrapper-footer", "footer");

footer {
	width: 100%;
	background-color: $h-divider;
	.footer-block {
		@include span(1 of 2);
		padding-top: u(15);
		padding-bottom: u(15);
		top: -100%;
	}
}

.mfp-wrap, .mfp-bg {
	z-index: 9999;
} 




.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 20;
}





.cke_textarea_inline {
	min-height: 50px;
	-webkit-box-shadow: 0 0 5px 3px #248AFF;
	box-shadow: 0 0 5px 3px #248AFF;
}




.edit-button {
	display: inline-block;
    background: #393939;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#2a2a2a));
    background: -moz-linear-gradient(center top, #565656 0%, #2a2a2a 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 15px;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    font-family: Arial;
        font-size: 12px;
        color: #ffffff;
        font-weight: bold;
    a {font-family: Arial;
        font-size: 12px;
        color: #ffffff;
        font-weight: bold;}
}
.edit-button:hover {
    background: #486816;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d921f), color-stop(100%,#335111));
    background: -moz-linear-gradient(center top, #6d921f 0%, #335111 100%);
}










.orders {
	border-spacing: 0px;
	    border-collapse: collapse;
	td {
		border: 1px solid #000;
	}

	width: 100%;
	> tr:last-child {
		height: 30px;
	}
}
