@import "imports_and_variables";

#callback_popup {
	position: fixed;
	padding: u(20);
	left: 50%;
	top:50%;
	margin-left: u(-200);
	margin-top: u(-175);
	height: u(350);
	width: u(400);
	background-color: $background;
	z-index: 9999;
	display: none;
	opacity: 0;
	text-align: left;
	label {
		display: block;
		font-size: u(16);
		font-weight: 500;
	}
	.c-accepted {
		font-size: u(18);
		text-align: center;
	}

	input[type="text"] {
		margin-right: 0;

	}
}

header {
	height: u(146);
}

#header_container {
	@include box-shadow(rgba(0,0,0,0.12) 0 0 10px);
	@include pie;
	background-color: $background;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	min-width: 960px;
	opacity: .99;
	z-index: 9995;

	input[type="text"] {
		@include border-radius(0);
		@include box-sizing(border-box);
		border: 1px solid $h-border;
		height: u(25);
		width: 100%;
		padding: u(0 0 0 10);
		z-index: 1;
		margin-right: u(-30);
	}
}

.top-info {
	line-height: u(36);
	border-bottom: 1px solid $h-border;
	font-size: u(12);
	color: $h-text;

	.icon {
		width: u(25);
		height: u(25);
		@include inline-block;
	}

	span {
		@include inline-block;
		margin-right: u(20);
		a {
			color: $h-text;
			text-decoration: none;
			cursor: pointer;
		}			
	}

	.callable {
		display: none;
	}
	.phone-text {
		display: inline;
	}

	form {
		position: relative;
	}
}
#open_popup {
	color: $active;
	cursor: pointer;
}
.phone-email {
	float: left;
}
.callback {
	text-align: center;
}

#search_icon img {
	@include inline-block;
	width: u(25);
	height: u(25);
	margin-left: u(-10);
	z-index: 2;
	cursor: pointer;
}

#header_main {
	font-family: 'Exo 2', sans-serif;
	line-height: u(106);
	position: relative;
}

.logo {
	@include span(1 of 4);
	img {
		@include inline-block;
	}
}

.h-nav {
	@include span(2 of 4);
	> ul {
		width: 100%;
		text-align: right;
		position: relative;
		padding: 0;
		margin: 0;
		z-index: 0;
	
		> li {
			@include inline-block;
			> a {
				display: block;
				z-index: 1;
				height: 100%;
				color: $interface-link;
				text-decoration: none;
				position: relative;
				font-weight: 600;
				font-size: u(12.5);
				padding: u(0 20);
				margin-right: u(-4);

				@include transition-property(color);
	  			@include transition-duration(0.3s);
			}
		}
	}

	a.selected-nav-item {
		color: #000;
	}
	
	li > a:hover {
		color: $active;
	}
}

#underline {
	position: absolute;
	display: block;
	top: u(65);
	height: u(2);
	background-color: #000;
	z-index: 0;
}

.cart-wrapper {
	@include span(1 of 4 no-gutters);
	text-align: center;
}

.cart {
	img {
		@include inline-block;
		height: u(33);		
	}
	p {
		@include inline-block;

		font-size: u(14);
		font-weight: 600;	
		color: #000;		
		line-height: u(14);
		margin-left: u(15);
		text-align: left;
		span {
			font-size: u(17);
		}
	}

	&:hover {
		p {
			color: $active;
		}
	}	
}

.popover {
	position: absolute;
	display: none;
	z-index: 0;
	background-color: #fff;
	margin-top: 1px;
	overflow: hidden;
	padding: u(0 10);
	
	@include box-shadow(3px 3px 8px rgba(0,0,0,0.1));

	ul {
		margin: 0;
		padding: 0;
	}
}
.cat-dropdown {
	> ul {
		> li {
			@include gallery(1 of 5);
			line-height: u(16);
			position: relative;
			text-align: left;
			padding: u(10);
			a {
				color: $h-text;
				text-decoration: none;
				display: block;
			}
			.main {
				color: #000;
				font-weight: 500;
				margin-bottom: u(10);	
				position: relative;	
				z-index: 1;
			}

			.special {
				color: $active;
			}
		}
	}
}
.p-header{
	font-size: u(16);
	font-weight: 600;

}
with-n {
	> ul > li {
		padding: 0;
	}
	ul {
		display: block;
		width: 100%;
		line-height: u(16);
		margin: 0;
		padding: 0;

		li {
			display: block;
			text-align: left;
			width: 100%;
			padding: u(10 0);

			a {
				display: block;
				width: 100%;
				height: 100%;
				text-align: left;
				padding-left: u(15);
				font-size: u(14);
				color: #555;
				text-decoration: none;
			}
		}
	}
}

.with-1 {
	width: u(200);
	@extend with-n;
}

.with-2 {
	width: u(400);
	> ul > li {
		@include span(1 of 2);
	}
	@extend with-n;
}

.with-3 {
	> ul > li {
		@include span(1 of 3);
	}
	width: u(600);
	@extend with-n;
}

@include susy-breakpoint(1200px,16 1/4) {
	.logo {
		@include span(1 of 4 no-gutters);
	}
	.h-nav {
		@include span(2 of 4);
		> ul {
			> li {
				> a {
					padding: u(0 30);
				}
			}
		}
	}
	.cart-wrapper {
		@include span(1 of 4);
	}

}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.animated {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated-slow {
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .9;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .9;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}