$background: #fff; 
$h-border: #e9e9e9;
$h-divider: #f9f9f9;
$h-text: #555;
$active: #e54939;
$interface-link: #6b6b6b;
$px-only:false;
$pixelBase: 16;

@import "compass";
@import "compass/layout.scss";
@import "susy";
@import "functions";
@import "breakpoint";

$susy: (
  columns: 16,
  gutters: 1/16,
  gutter-position: inside,
  math: fluid,
  output: float
);

field {
  @include border-radius(0);
  @include box-sizing(border-box);
  border: 1px solid #ccc;
  height: u(40);
  padding: u(0 0 0 10);
  z-index: 1;
  margin: u(10);
}

@font-face {
    font-family: 'rouble';
    src: url('rouble-webfont.eot');
    src: url('rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('rouble-webfont.woff') format('woff'),
         url('rouble-webfont.ttf') format('truetype'),
         url('rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mixin pie {
  behavior: url(/assets/PIE.htc);
}