@import "imports_and_variables";

.gray {
	background-color: $h-divider;
}

.info-category {
	width: 50%;
	@include inline-block;
	margin-right: -0.5%;
	padding: u(25 0);
}
.route {
	width: 50%;
	@include box-sizing(border-box);
	@include inline-block;
	padding-right: gutter(4);
	text-align: right;
}


.i-menu {
  font-family: 'Exo 2', sans-serif;
  
  ul {
  	padding: 0;
  	display: block;
  	margin-bottom: u(100);
  }

  h4 {
    font-weight: 600;
    font-size: u(20);
    margin: 0 0 u(30) 0;
  }
  
  a {
  	font-size: u(14);
  	color: #000;
  	text-decoration: none;
  	padding: u(13 0);
  	line-height: u(20);
    &:hover {
      color: $active;
    }
  }

  li li{
  	display: block;
  	line-height: 20px;
  	padding: u(15 0);
  	border-bottom: 1px solid $h-border;
  }
}