@import "imports_and_variables";

.i-menu {
  font-family: 'Exo 2', sans-serif;
  
  h4 {
    font-weight: 500;
    font-size: u(22);
    margin-top: u(20);
    margin-bottom: u(20);
  }

  
  > ul {
  	> li {
  		>a {
  			font-size: u(18);
  		}
  	}
  }
}

.info-p, .info-p-1 {
	@include span(3 of 4 no-gutters);
	padding-top: u(30);
  padding-right: 13%;

  .section {
    border-bottom: 1px solid rgb(233,233,233);
    @include container;
    padding: u(20 0);
  }
  label {
    font-size: u(24);
    margin-left: u(10);
    display: block;
    width: 100%;
    margin-bottom: u(25);
  }
  
  input {
    @extend field;
    display: block;
    width: 40%;
  
  }
  textarea {
    @extend field;
    width: 40%;
    height: u(100);
  }
  input[type=submit] {
    border: none;
    padding: u(10);
    @include border-radius(3px);
    background-color: #000;
    color: #fff;
    margin: u(8);
    &:hover {
      background-color: $active;
    }
  }
}