.open-soon-add-email {
	text-align:center;
    display: inline-block;
    background: #393939;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#2a2a2a));
    background: -moz-linear-gradient(center top, #565656 0%, #2a2a2a 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 10px;
    display: inline-block;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    font-family: Arial;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
}
.open-soon-add-email:hover {
    background: #486816;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d921f), color-stop(100%,#335111));
    background: -moz-linear-gradient(center top, #6d921f 0%, #335111 100%);
}
.open-soon-wrapper {
	text-align:center;
	position: relative;
	margin-top: 30%;
}
.open-soon-admin {
	font-size: 12px;
	float: right;
}