@import "imports_and_variables";

.news-separator {
	clear: both;
	border-bottom: 1px solid #eee;
	height: u(20);
}
.news-item-image{
	width: u(300);
	padding-right: u(50);
	text-align: center;
	float: left;
}
.news-item-content{
	text-align: justify;
}

.aside-news {
	margin-top: u(100);

	a {
		color: $interface-link;
		text-decoration: none;
		span {
			font-size: u(14);
			background-color: $active;
			padding: u(0 6);
			color: #000;
		}
	}

	img {
		display: block;
	}

	p {
		text-align: justify;
	}
}