@import "imports_and_variables";

.p-main {
	padding-top: u(40);
	@include span(4 of 5 no-gutters);

}
.i-wrapper {
	background-color: $h-border;
	padding: u(35);
}
.p-wrapper {
	display: table-row;
	width: span(4 of 5);
	margin-top: u(20);
}
.p-images {
	display: table-cell;
	vertical-align: top;
	padding: u(10 0);
}
.p-main-properties {
	display: table-cell;
	padding: u(0 30);
	vertical-align: top;
}
.p-name {
	margin-bottom: u(30);
	font-weight: 500;
}
.p-price {
	border-top: 1px solid rgb(233,233,233);
	border-bottom: 1px solid rgb(233,233,233);
	h3 {
		font-weight: 500;
		padding: u(15 0);
		position: relative;
		@include inline-block;
		width: u(136);

	}
	> div {
		@include inline-block;
	}
}
.complectation-label {
	position: absolute;
	top: u(58);
	left: 0;
	color: #555;
	font-size: u(12);
}
.p-side {
	padding-top: u(40);
	@include span(1 of 5 no-gutters);
	text-align: center;
}
.p-short-description {
	text-align: justify;
	font-family: 'Exo 2', sans-serif;
	font-weight: 500;
	margin: u(30 0);
}
.main-features {
	width: 100%;
	font-size: u(18);
	border-bottom: 1px solid rgb(233,233,233);
	td {
		border-top: 1px solid rgb(233,233,233);
		padding: u(10 0);
	}
}
.p-feature-name {
	vertical-align: top;
	font-weight: 500;
	font-size: u(16);
	width: 30%;
}
.p-feature-value {
	vertical-align: top;
	padding-left: u(50);
	font-size: u(15);
}
.selectable-options {
	margin-top: u(30);
	margin-bottom: u(10);
	.p-feature-name {
		font-size: u(20);
	}
}
.p-options {
	@include container;
	margin-top: u(20);
	margin-bottom: u(20);
	border-bottom: 1px solid rgb(233,233,233);
}

.p-option-wrapper {
	@include gallery(1 of 4);
	padding: u(5 10 5 0);
	position: relative;
	height: 100%;
	.p-option {
		@include border-radius(3px);
		text-align: center;
		background-color: $h-border;
		cursor: pointer;
		padding: u(5);
		height: 100%;
		&:hover {
			background-color: adjust-lightness($h-border, -5);
		}
	}
	input {
		position: absolute;
		clip: rect(0 0 0 0);
		&:checked ~ .p-option {
			background-color: #000;
			color: #fff;
		}
	}
}

.c-description {
	text-align: justify;
	font-size: u(15);
	color: #555;
}

.add-to-cart {
	float: right;
    margin: 0;
    margin-top: u(25);
    width: u(200);
    font-family: Arial, sans-serif;
    > * {
    	height: u(45);
    }
}
.cart-submit:hover {
    @include background(linear-gradient(center top, #e5493a 0%, #f55a3a 100%));
	& ~ .quantity-input {
    	@include background(linear-gradient(center top, #e5493a 0%, #f55a3a 100%));
    }
}

.cart-submit {
	background-color: $active;
	border: none;
	float: left;
	padding: u(3 8);
	@include border-radius(4px 0 0 4px);
	color: #fff;
	font-weight: bolder;
	font-size: u(13);
}
.quantity-input {
	border-right: 1px solid #fff;
	@include box-sizing(border-box);
	background-color: $active;
	float: left;
    width: u(35);
    padding: u(0 5);
    position: relative;

    input {
    	@include border-radius(1px);
    	display: block;
    	margin: 0;
    	border: none;
    	width: u(25);
    	height: u(20);
    	position: relative;
    	top: 50%;
    	margin-top: u(-11);
    }
    input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
   		-webkit-appearance: none;
	}
	input[type="number"] {
    -moz-appearance:textfield;
	}
}
.quantity-ctrl {
	@include text-shadow(0 -1px 0 #000);
    width: u(18);
	float: left;
	a {
		font-size: u(14);
		line-height: u(22);
		text-align: center;
		color: #fff;
		cursor: pointer;
		background-color: $active;
		&:hover {
			background-color: adjust-lightness($active, 5);
		}
	}
    #quantity_increase {
    	position: relative;
    	display: block;
    	padding: 0;
    	@include box-sizing(border-box);
    	@include border-radius(0 5px 0 0);
    	width: u(18);
    	height: 50%;
    	border-bottom: 1px solid #fff;
    }
    #quantity_decrease {
    	position: relative;
    	display: block;
    	padding: 0;
    	@include border-radius(0 0 5px 0);
    	height:50%;
    	width: u(18);
    }
}

@include breakpoint(1100px) {
	.add-to-cart {
	    width: u(250);
	}


	.cart-submit {
		padding: u(8 10);
		font-size: u(15);
		@include border-radius(5px 0 0 5px);
	}
	.quantity-input {
		width: u(45);
	    padding: u(0 5);

	    input {
	    	width: u(30);
	    }
	}
	.quantity-ctrl {
	    width: u(18);
		a {
			font-size: u(14);
			line-height: u(22);
		}
	    #quantity_increase {
	    	@include border-radius(0 5px 0 0);
	    	width: u(18);
	    }
	    #quantity_decrease {
	    	@include border-radius(0 0 5px 0);
	    	height:50%;
	    	width: u(18);
	    }
	}

}



.p-description {
	text-align: justify;
}

.m-image-wrapper {
	width: 100%;
	background-color: $h-border;
	img {
		height: u(100);
		padding: u(10 0);
	}
}

.p-modification {
	figcaption {
		font-size: u(14);
		text-decoration: none;
		color: #000;
	}
}
.p-modifications > a {
	text-decoration: none;
}
.p-additional-pictures {
	margin-top: u(10);
	@include container;
}
.additional-picture {
	background-color: $h-border;
	text-align: center;
	padding: u(10 0);
	@include gallery(1 of 3	 split);
	img {
		height: u(70);
	}
}

.p-related-product {
	@include inline-block;
	padding: u(10 30);
	img {
		height: 150px;
	}
}
.mfp-img {
}