@import "imports_and_variables";

.m-header {
	text-align: center;
}
.r-aside {
	figure {
		@include gallery(1 of 3 split);
		position: relative;
		text-align: center;
	}
}

.r-aside, .p-search {
	figcaption {
		a {
			display: block;
			height: u(50);
			overflow: visible;
			color: #000;
			font-family: 'Exo 2', sans-serif;
			font-weight: 400;
			text-decoration: none;

			span {
				font-weight: 700;
			}
		}
	}
}

.p-search {
	figure {
		@include gallery(1 of 4 split);
		display: inline-block;
		text-align: center;
		margin-left: 0;
	}
}


.cat-header {
	display: block;
	clear: both;
	text-align: center;
}

.image-wrapper {
	padding: u(30 0);
	margin-bottom: u(5);
	background-color: $h-border;
	position: relative;
	
	.product-image {
		position: relative;
		z-index: 2;
	}
	.shadow {
		position: absolute;
		width: 86%;
		margin-left: 7%;
		height: u(40);
		left: 0;
		bottom: u(9);
		z-index: 1;
	}
}

.c-title {
	clear: both;
	text-align: center;
	margin-top: u(30);
}

#main .pagination {
	clear: both;
}
