@import "imports_and_variables";

.slider-wrapper {
	background-color: $h-divider;
	width:100%;
	margin-top:-100%;
	padding-top:100%;
	.slider-container {
		@include container(1400px);
		min-width: 960px;
		height: u(300);
	}

	.slider {
		@include container(1260px);
		height: auto;
		line-height: 100%;
		div {
			cursor: pointer;
			background-size: cover !important;
		}
	}
}