body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

#tree_editor li.placeholder {
  position: relative;
  /** More li styles **/
}
#tree_editor li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}