@mixin box-sizing($val) {
	-webkit-box-sizing: $val;
		 -moz-box-sizing: $val;
					box-sizing: $val;
}

@mixin user-select($val...) {
	-webkit-user-select: $val;
		 -moz-user-select: $val;
			-ms-user-select: $val;
					user-select: $val;
}

@mixin box-shadow($shadows...) {
	-webkit-box-shadow: $shadows;
					box-shadow: $shadows;
}

@function inverse-side($side) {
	@if			$side == top		{ @return bottom; }
	@else if $side == bottom { @return top; }
	@else if $side == left	 { @return right; }
	@else if $side == right	{ @return left; }
}

@mixin linear-gradient($gradientLine, $colorStops...) {
	background-image: -webkit-linear-gradient($gradientLine, $colorStops);
	background-image:		-moz-linear-gradient($gradientLine, $colorStops);
	background-image:			-o-linear-gradient($gradientLine, $colorStops);
	@if length($gradientLine) == 2 {
	background-image:				 linear-gradient(to #{inverse-side(nth($gradientLine, 1))} #{inverse-side(nth($gradientLine, 2))}, $colorStops);
	} @else {
	background-image:				 linear-gradient(to #{inverse-side($gradientLine)}, $colorStops);
	}
}

@mixin radial-gradient($gradient...) {
	background-image: -webkit-radial-gradient($gradient);
	background-image:		-moz-radial-gradient($gradient);
	background-image:			-o-radial-gradient($gradient);
	background-image:				 radial-gradient($gradient);
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
		 -moz-transition: $transition;
			 -o-transition: $transition;
					transition: $transition;
}

@mixin transition-property($properties...) {
	-webkit-transition-property: $properties;
		 -moz-transition-property: $properties;
			 -o-transition-property: $properties;
					transition-property: $properties;
}

@mixin transform($transform...) {
	-webkit-transform: $transform;
		 -moz-transform: $transform;
			-ms-transform: $transform;
			 -o-transform: $transform;
					transform: $transform;
}

@mixin clearfix {
	zoom: 1;

	&:before, &:after {
		content: '';
		display: table;
	}

	&:after { clear: both; }
}

@mixin inline-block {
	display: inline-block;
	vertical-align: baseline;
	zoom: 1;
	*display: inline;
	*vertical-align: auto;
}

@mixin hide-text() {
	font: 0/0 serif;
	text-shadow: none;
	color: transparent;
}

@mixin hidpi {
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
				 only screen and (min-resolution: 144dpi) {
		@content;
	}
}

$switchTransition: .15s ease-out;

.switch-form, .form-input {
	.normal {
		width: 56px;
		height: 20px;
        margin-left: 400px;

		.switch-input {
			top: 0;
			left: 0;
            width: 56px;
            height: 20px;
		}

        .switch-label {
            font-size: 10px;
        }

		.switch-handle {
			top: 4px;
			left: 4px;
			width: 18px;
			height: 18px;
			border-radius: 10px;
		}
    }
	.large {
		width: 76px;
		height: 35px;

		.switch-input {
			width: 76px;
			height: 35px;
			top: 5px;
			left: 4px;
		}

        .switch-label {
            font-size: 18px;
        }

		.switch-handle {
			top: 5px;
			left: 4px;
			width: 31px;
			height: 31px;
			border-radius: 18px;
        }
    }
}

.switch {
	position: relative;
	display: inline-block;
	vertical-align: middle;	
	padding: 3px;
	background-color: white;
	border-radius: 18px;
	box-shadow: inset 0 -1px white,
							inset 0 1px 1px rgba(black, .05);
	@include linear-gradient(top, #eee, white 25px);
}


.switch-input {
	position: absolute;
	display: inline-block;
	border-radius: inherit;
	opacity: 0;
	z-index: 5000;
	cursor: pointer;
}

.switch-label {
	position: relative;
	display: block;
	height: inherit;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(black, .12),
							inset 0 0 2px rgba(black, .15);
	@include transition($switchTransition);
	@include transition-property(opacity background);

	&:before, &:after {
		position: absolute;
		top: 50%;
		margin-top: -.5em;
		line-height: 1;
		@include transition(inherit);
	}

	&:before {
		content: attr(data-off);
		right: 11px;
		color: #aaa;
		text-shadow: 0 1px rgba(white, .5);
	}

	&:after {
		content: attr(data-on);
		left: 11px;
		color: white;
		text-shadow: 0 1px rgba(black, .2);
		opacity: 0;
	}

	.switch-input:checked ~ & {
		background: #e54939;
		box-shadow: inset 0 1px 2px rgba(black, .15),
								inset 0 0 3px rgba(black, .2);

		&:before { opacity: 0; }
		&:after { opacity: 1; }
	}
}

.switch-handle {
	position: absolute;
	background: white;
	box-shadow: 1px 1px 5px rgba(black, .2);
	@include linear-gradient(top, white 40%, #f0f0f0);
	@include transition(left #{$switchTransition});

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -6px 0 0 -6px;
		width: 12px;
		height: 12px;
		background: #f9f9f9;
		border-radius: 6px;
		box-shadow: inset 0 1px rgba(black, .02);
		@include linear-gradient(top, #eee, white);
	}

	.switch-input:checked ~ & {
		box-shadow: -1px 1px 5px rgba(black, .2);
	}
}
.large .switch-input:checked ~ .switch-handle {
    left: 46px;
}
.normal .switch-input:checked ~ .switch-handle {
    left: 40px;
}