<% categories.order(:order).each do |cat| %>
	<li data-id="<%= cat.id %>" class="tree-item-wrapper">
		<div class="line">
			<div class="t-category-name">
				<% unless cat.last %>
					<a class="collapse"></a>
				<% end %>
				<span><%= cat.name %></span>
			</div>
			<div class="tree-actions">
				<a class="tree-action delete-category">Удалить</a>
				<%= link_to 'Изменить', edit_category_path(cat.id), class: 'tree-action'%>
				<%= link_to 'Добавить', new_category_path(prev_id: cat.id), title: 'Добавить категорию', class: 'tree-action'%>
			</div>
		</div>
		<ul>
			<% unless cat.last %>
				<%= render partial: 'categories/category', locals: {categories: cat.categories} %>
			<% end %>
		</ul>
	</li>
<% end %>