<%= form_for @category, remote: @category.persisted?, :html => { :multipart => true } do |f| %>	
	<div class="block">
		<div class="section header">
			<h3>
				Основные свойства
			</h3>
		</div>

		<div class="section">
			<div class="form-input-2">
				<%= f.label :name, 'Наименование категории:'%>
				<%= f.text_field :name, required: true %>
			</div>
			<div class="form-input-2-l">
				<%= f.label :prev_id, 'Родительская категория:' %>
				<%= f.collection_select :prev_id, Category.all, :id, :name, include_blank: 'Без категории' %>
			</div>
		</div>
		
		<div class="section">
			<div class="form-input-2">
				<%= f.label :title, 'Заголовок:' %>
				<%= f.text_field :title %>
			</div>
			<div class="form-input-2-l">
				<%= f.label :product_prefix, 'Префикс (у товара):' %>
				<%= f.text_field :product_prefix %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-3">
				<%= f.label :special, 'Акция?' %>
				<%= f.check_box :special %>
				<span class="after-cb">Например: новинки, распродажа и т.п.</span>
			</div>
			<div class="form-input-3">
				<%= f.label :hidden, 'Скрытая?' %>
				<%= f.check_box :hidden %>
				<span class="after-cb">Если данное поле отмечено, то категория не будет отображаться в каталоге.</span>
			</div>
			<div class="form-input-3-l">
				<%= f.label :label, 'Ярлык:' %>
				<% if f.object.label.exists? %>
					<%= image_tag  f.object.label.url, id: 'f_label_preview'%>
				<% else %>
					
					<%= tag 'img', id: 'f_label_preview'  %>
				<% end %>
				<%= f.file_field :label, id: 'basic_image' %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= label_tag :features_template, 'Шаблон характеристик' %>
				<%= select_tag :features_template, options_from_collection_for_select(FeaturesTemplate.all, :id, :name, selected: @category.features_template.try(:id)), prompt: 'Нет' %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= f.label :description, 'Описание:' %>
				<%= f.text_area :description %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-2">
				<%= f.label :keywords, 'Ключевые слова:' %>
				<%= f.text_field :keywords %>
			</div>
			<div class="form-input-2-l">
				<%= f.label :meta_description, 'Описание (мета):' %>
				<%= f.text_area :meta_description %>
			</div>
		</div>
	</div>
<% end %>
<% content_for :top_bar do%>
	<h2 class="catalog">
		<% if @category.new_record? %>
			Новая категория товаров
		<% else %>
			Редактировать категорию
		<% end %>
	</h2>
<% end %>

<%= 
content_for :top_bar_buttons do
	link_to('Перейти к редактору каталога', edit_catalog_path, class: 'label-button') +
	content_tag(:a, 'Сохранить', data: {form: '#admin_workspace form'}, class: 'label-button submit')
end 
%>