<h1><%= @product.name %> <small><%= @product.modification %></small></h1>
<div class="row">
	<div class="col-md-6">
		<%= image_tag @product.basic_image.url %>
	</div>
	<div class="col-md-6"

		<div class="panel panel-primary">
		  	<div class="panel-body">
				<h2><%= @product.price %></h2>
				<table class="table">
					<% @product.features.where("basic = ?", true).each do |feat| %>
						<tr>
							<td>
								<strong><%=feat.name %></strong>
							</td>
							<% if feat.feature_type == 'text' %>
								<% values = feat.text_values.where("product_id = ?", @product.id) %>
								<% if values.size == 1 %>
									<% val = values.take %>
									<td contenteditable="true"><%= val.text %></td>
									<% @mod_text_values.where("features.id = ? and text != ?", feat.id, val.text).each do |modification| %>
										<td>
											<%= link_to modification.text, modification.product %>
										</td>
									<% end %>
								<% else %>
									<% values.each do |val| %>
										<td>
											<%= val.text %>
										</td>
									<% end %>
								<% end %>
								
								<td colspan="0"></td>
							<% else %>
								<% values = feat.pictures.where("product_id = ?", @product.id) %>
								<% if values.size == 1 %>
									<% val = values.take %>
									<td colspan="0"><%= image_tag val.image.url %></td>
									<% @mod_pictures.where("features.id = ? and image_file_name != ?", feat.id, val.image_file_name).each do |modification| %>
										<td>
											<%= link_to image_tag(modification.image.url), modification.product %>
										</td>
									<% end %>
								<% else %>
									<% values.each do |val| %>
										<td>
											<%= image_tag val.image.url %>
										</td>
									<% end %>
									
								<% end %>
								<td colspan="0"></td>
							<% end %>
						</tr>
					<% end %>
					<tr>
						<td colspan="0">
							<p><h4>Описание</h4></p>
							<p><%= @product.description %></p>
						</td>
					</tr>
				</table>




				<table class="table">
					<% @product.features.where("basic = ?", false).each do |feat| %>
						<tr>
							<td>
								<strong><%=feat.name %></strong>
							</td>
							<% if feat.feature_type == 'text' %>
								<% values = feat.text_values.where("product_id = ?", @product.id) %>
								<% if values.size == 1 %>
									<% val = values.take %>
									<td colspan="0"><%= val.text %></td>
								<% else %>
									<% values.each do |val| %>
										<td>
											<%= val.text %>
										</td>
									<% end %>
									<td colspan="0"></td>
								<% end %>
							<% else %>
								<% values = feat.pictures.where("product_id = ?", @product.id) %>
								<% if values.size == 1 %>
									<% val = values.take %>
									<td colspan="0"><%= image_tag val.image.url %></td>
								<% else %>
									<% values.each do |val| %>
										<td>
											<%= image_tag val.iamge.url %>
										</td>
									<% end %>
									<td colspan="0"></td>
								<% end %>
							<% end %>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>
