<% Category.where(prev_id: prev, hidden: false).order(:order).each do |main| %>
	<li>
		<%= link_to main.name, catalog_path(main.id),  class: main.style %>
		<% if main.categories.exists? %>
			<a class="expand"> </a>
			<ul>
				<%= render partial: 'catalog_category', locals: {prev: main.id} %>
			</ul>
		<% end %>
	</li>
<% end %>