<ul>
	<% Category.where(prev_id: prev_id, special: special).order(order: :asc).each do |category| %>
		<% if category.last %>
			<li>
				<%= radio_button_tag 'category_id[]', category.id, @product.categories.exists?(category) ? true : false, class: 'radio-cat-select' %><%= category.name %>
			</li>
		<% else %>
			<li>
				<%= category.name %>
				<%= render partial: 'category_select', locals: {f: f, special: special, prev_id: category.id} %>
			</li>
		<% end %>
	<% end %>
</ul>