<% categories.each do |c| %>
	<tr class="category-tr" data-id="<%= c.id %>">
		<td class="category-name-tr">
			<%= c.name %>
			<%= hidden_field_tag 'related_categories[]', c.id %>
		</td>
		<td class="delete">
			<a class="delete-related-category">Удалить</a>
		</td>
	</tr>
<% end %>
