<% unless single %>
	<h3 class="cat-header"><%= link_to category.title, catalog_path(category) %></h3>
<% end %>
<p class="c-description">
	<%= category.description %>
</p>
<div class="cat-products">
	<% 
	if category.special
		products = Product.joins(:categories).where(visible: true, categories: {id: subcategories(category)})
	else
		products = Product.where(category_id: subcategories(category), visible: true)
	end
	%>
	<%= render partial: 'products/product', collection: products, as: :product, locals: {page: 'main'} %>
</div>