<%= form_helper.fields_for :complectations, complectations, include_id: @action == :update do |c| %>
	<tr class="f-complectation">
		<td class="name">
			<%= c.text_field :name, required: true, placeholder: 'Наименование' %>
		</td>
		<td class="price">
			<%= c.number_field :price, required: true, min: 0, placeholder: 'Цена' %>
		</td>
		<td class="new_price">
			<%= c.number_field :new_price, min: 0, placeholder: 'Цена со скидкой' %>
		</td>
		<td class="description">
			<%= c.text_area :description, placeholder: 'Описание', rows: 2 %>
		</td>
		<td class="standart">
			<%= c.radio_button :standart, true %>
			<label></label>
		</td>
		<td class="delete">
			<a class="delete-complectation">Удалить</a>
			<%=
			if c.object.persisted?
				c.hidden_field :_destroy, value: 0
			end 
			%>
		</td>		
		<td class="order">
			<%= c.hidden_field :order %>
			<%= image_tag 'up_down.png' %>
		</td>
	</tr>
<% end %>