<% id = (value.id ? value.id.to_s : SecureRandom.hex) %>
<tr>
	<td class="value">
		<%= text_field_tag 'features['+feature_id+'][values]['+id+'][text]', value.text,data: {id: value.id}, placeholder: 'Значение' %>
	</td>
	<td class="value-picture">
		<% if value.picture %>
			<%= image_tag value.picture.image.url(:small), class: 'value-picture-preview' %>
			<%= hidden_field_tag 'features['+feature_id+'][values]['+id+'][pic_id]', value.picture.id %>
			<a class="open-file-input">Изменить</a>
		<% else %>
			<img class="value-picture-preview">
			<a class="open-file-input">Добавить изображение</a>
		<% end %>
		<%= file_field_tag 'features['+feature_id+'][values]['+id+'][picture]' %>
	</td>
	<td class="delete-value">
		<a class="delete-feature-value">&#215;</a>
	</td>
</tr>