<%
if product
	values = product.text_values.where(feature_id: feature.id)
elsif template_feature
	feature = template_feature.feature 
	values = TextValue.where(id: template_feature.template_values.pluck(:text_value_id))
end
%>
<tr class="feature-tr">
	<td class="feature-name" >
		<%= text_field_tag 'features['+feature.id.to_s+'][name]', feature.name, data: {id: feature.id}, placeholder: 'Наименование характеристики' %>
	</td>
	<td class="values">
		<table>
			<% if values.empty? %>
				<%= render partial: 'products/f_feature_values', locals: {feature_id: feature.id.to_s, value:TextValue.new} %>
			<% else %>
				<%= render partial: 'products/f_feature_values', collection: values, as: :value, locals: {feature_id: feature.id.to_s} %>
			<% end %>
			<tr>
				<td colspan=3 class="new-value">
					<a data-id="features_<%= feature.id.to_s %>" class="add-feature-value">Добавить значение</a>
				</td>
			</tr>
		</table>
	</td>
	<td class="basic" >
		<%= hidden_field_tag 'features['+feature.id.to_s+'][basic]', false %>
		<%= check_box_tag 'features['+feature.id.to_s+'][basic]', true, feature.basic %>
	</td>
	<td class="delete">
		<a class="delete-feature">Удалить</a>
	</td>
	<td class="order">
		<%= image_tag 'up_down.png' %>
	</td>
</tr>

