<% modifications.each do |mod|
	concat(
		content_tag(:tr) do
			content_tag(:td) do
				image_tag(mod.basic_image.url(:small))
			end +
			content_tag(:td, mod.name) +
			content_tag(:td) do
				content_tag(:a, '&#215;'.html_safe, class: 'delete-mod')
			end
		end +
		content_tag(:tr) do
			content_tag(:td) do
				m.hidden_field(:id, value: mod.id)
			end
		end
	)
end %>