<table class="table", name="<%= feat.object.id %>"> 
	<tr class="active">
		<td class="medium-3 columns">
			<strong><%= feat.object.name %></strong>
		</td>
		<td class="medium-13 columns">
			    <%= button_tag 'Удалить характеристику', :type => 'button', class: 'button del-prod-feat' %>
		</td>
	</tr>

<% col = (association == :text_values ? :text : :image_file_name) %>
	<% if feat.object.send(association).any? %>
	
				<%= f.fields_for association, feat.object.send(association).select(col).distinct do |af| %>
				<tr>
					<td class="medium-3 columns">
						<% if association == :pictures %>
							<%= af.hidden_field :image_file_name %>
						<% else %>
						<%= af.hidden_field :text %>
						<% end %>
						<% checked = false %>
						<% if @product.send(association).exists?(col => af.object.send(col)) %>
							<%= af.hidden_field :id, value: @product.send(association).find_by(col => af.object.send(col)).id %>
							<% checked = true %>
						<% end %>ra
						<%= af.hidden_field :feature_id, value: feat.object.id %>
						<%= af.check_box :_destroy, {checked: checked}, 0, 1%> 
					</td>
					<td class="medium-13 columns"><%= association == :pictures ? image_tag(Picture.find_by(:image_file_name => af.object.image_file_name).image.url) : af.object.text %></td>
				</tr>
				<% end %>
	<% end %>
<tr>
	<td colspan="0">
		<%= link_to_add_field f, feat.object.id, association %>
	</td>
</tr>
</table>