<% products.each do |p| %>
	<tr class="product-tr" data-id="<%= p.id %>">
		<td class="product-image-tr">
			<%= image_tag p.basic_image.url(:small) %>
		</td>
		<td>
			<%= p.name %>
		</td>
		<td class="delete">
			<a class="delete-<%= product_type.gsub('_', '-') %>">Удалить</a>
			<%= hidden_field_tag product_type+'s[]', p.id %>
		</td>
		<td class="order">
			<%= image_tag 'up_down.png' %>
		</td>
	</tr>
<% end %>
