<div class="block">
	<div class="section">
		<div class="panel-button">
			<a id="products_actions" class="open-dropdown disabled">Действия</a>
			<ul class="dropdown">
				<li> 
					<a id="open_mod_popup" data-popup="#move_products_popup">Переместить в... </a>
				</li>
				<li> 
					<a class="submit" data-confirmation="Вы уверены, что хотите удалить выбранные товары?">
						Удалить
						<%= radio_button_tag :products_action, :delete %>
					</a> 
				</li>
			</ul>
			<div id="move_products_popup">
				<a class="close-popup">&#215;</a>
				<h2>Выберите куда переместить выбранные товары</h2>
				<%= select_tag :category_to_products_move_in, options_from_collection_for_select(Category.all, :id, :name)%>
				<a class="batch-action submit">
					Переместить
					<%= radio_button_tag :products_action, :move %>
				</a>
			</div>
		</div>
		<div class="per-page panel-button">
			<a class="open-dropdown"><%= params[:per_page] ? params[:per_page] : Product.per_page %></a>
			<ul class="dropdown">
				<li> 
					<%= link_to_repaginate 10 %>
				</li>
				<li> 
					<%= link_to_repaginate 30 %>
				</li>
				<li> 
					<%= link_to_repaginate 50 %>
				</li>
				<li> 
					<%= link_to_repaginate 'Все' %>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="block">
	<div id="products_table_section" class="section">
		<table id="products_index" class="basic-table">
			<thead>
				<tr>
					<th>
						<%= check_box_tag :check_all %>
					</th>
					<th class="t-product-picture">
						Изображение товара
					</th>
					<th class="t-product-name">
						<%= link_to_sort_by 'Наименование продукта', 'name' %>
					</th>
					<th class="t-product-category">
						<%= link_to_sort_by 'Категория товаров', 'category' %>
					</th>
					<th class="t-product-price">
						<%= link_to_sort_by 'Текущая цена', 'price' %>
					</th>
					<th class="t-product-description">
						Короткое описание (мета)
					</th>
					<th class="t-product-visible">
						<%= link_to_sort_by 'Скрытый', :visible %>
					</th>
					<th class="t-product-on-main">
						На главной
					</th>
					<th class="edit">
						Страница товара
					</th>
				</tr>
			</thead>
			<tbody id="product_index_body">
				<%= render partial: 'products_table_tr', collection: @products, as: :product %>
			</tbody>
		</table>
		<%= paginate @products %>
	</div>
</div>
