<tr>
	<td>
		<%= check_box_tag 'checked_products[]', product.id %>
	</td>
	<td class="t-product-picture">
		<%= image_tag product.basic_image.url(:small) %>
	</td>
	<td class="t-product-name">
		<p><%=link_to product.name, edit_product_path(product.id) %></p>
		<p>(<%= link_to 'Редактировать товар', edit_product_path(product.id) %> / <%= link_to 'Добавить вариант товара', new_product_path(id: product.id) %>)</p>
	</td>
	<td class="t-product-category">
		<%= product.category.name %>
	</td>
	<td class="t-product-price">
		<% if product.new_price and product.new_price > 0 %>
			<%= product.new_price %>
		<% else %>
			<%= product.price %>
		<% end %>
	</td>
	<td class="t-product-description">
		<%= product.short_description %>
	</td>
	<td class="t-product-visible">
		<%= check_box_value(!product.visible) %>
	</td>
	<td class="t-product-on-main">
		<%= check_box_value(product.on_main_page) %>
	</td>
	<td class="edit">
		<%= link_to 'Перейти >>', product %>
	</td>
</tr>