
	<table>
		<% if feature_type == 'basic' %>
			<tr>
				<td colspan="0">
					<p><%= @product.description %></p>
				</td>
			</tr>
		<% end %>
		<% @product.features.where("basic = ?", basic).each do |feat| %>
			<% if feat.name != 'Дополнительные изображения' and (feat.text_values.where(product_id: @product.id).any?  or feat.pictures.where(product_id: @product.id).any?) %>
			<tr>
				<td>
					<strong><%=feat.name %>:</strong>
				</td>
				<% if feat.feature_type == 'text'%>
					<% values = feat.text_values.where("product_id = ?", @product.id) %>
					<% if values.size == 1 %>
						<% val = values.take %>
						<td><%= val.text %>
						<%unless @mod_text_values.where("features.id = ? and text != ?", feat.id, val.text).empty? %>
							<span class="mod">
								Варианты:
								<% @mod_text_values.where("features.id = ? and text != ?", feat.id, val.text).each do |modification| %>
									<% catch :next_mod do %>
										<% @text_features_with_one_child.where.not(id: feat.id).each do |t_feat| %>
										<% logger.debug t_feat.name %>
											<% throw :next_mod if t_feat.text_values.where(product_id: @product.id).first.text != t_feat.text_values.where(product_id: modification.product_id).first.text %>
										<% end %>
										<% @pic_features_with_one_child.where.not(id: feat.id).each do |t_feat| %>
											<% throw :next_mod if t_feat.pictures.where(product_id: @product.id).first.image_file_name != t_feat.pictures.where(product_id: modification.product_id).first.image_file_name %>
										<% end %>
										<%= link_to modification.text, modification.product %>
									<% end %>
								<% end %>
							</span>
						<% end %>
					</td>
					<% else %>
					<td>
						<%= f.fields_for :chosen_values, f.object.chosen_values.build do |feat_f| %>
							<span class="selected">
								<%= feat_f.radio_button :text_value_id, values.first.id, checked: true %>
								<%= values.shift.text%>
							</span>

							<% values.each do |val| %>
								 <span class="not-selected">
								 	<%= feat_f.radio_button :text_value_id, val.id %>
								 	<%= val.text %>
								 </span> 
							<% end %>
							<%= hidden_field_tag :feat, feat.id %>
						<% end %>
					</td>
					<% end %>
					
				<% else %>
					<% values = feat.pictures.where("product_id = ?", @product.id) %>
					<% if values.size == 1 %>
						<% val = values.take %>
						<td>
							<%= image_tag val.image.url %>
							<% unless @mod_pictures.where("features.id = ? and image_file_name != ?", feat.id, val.image_file_name).empty? %>
								<span class="mod">
									Варианты:
									<% @mod_pictures.where("features.id = ? and image_file_name != ?", feat.id, val.image_file_name).each do |modification| %>
										<% catch :next_mod do %>
											<% @text_features_with_one_child.where.not(id: feat.id).each do |t_feat| %>
												<% throw :next_mod if t_feat.text_values.where(product_id: @product.id).first.text != 
															   t_feat.text_values.where(product_id: modification.product_id).first.text %>
											<% end %>
											<% @pic_features_with_one_child.where.not(id: feat.id).each do |t_feat| %>
												<% throw :next_mod if t_feat.pictures.where(product_id: @product.id).first.image_file_name != t_feat.pictures.where(product_id: modification.product_id).first.image_file_name %>
											<% end %>
											<%= link_to image_tag(modification.image.url), modification.product %>
										<% end %>
									<% end %>
								</span>
							<% end %>
						</td>
					<% else %>
						<td>
							<%= f.fields_for :chosen_values, f.object.chosen_values.build do |feat_f| %>
								<%= feat_f.radio_button :picture_id, {}, value: values.first.id, checked: 'checked' %>
								<%= image_tag values.shift.image.url, class: 'image-feat img-selected'%>
								<%= hidden_field_tag :feat, feat.id %>
								<% values.each do |val| %>
									<%= feat_f.radio_button :picture_id, value: val.id %>
									<%= image_tag val.image.url, class: 'image-feat'%>
								<% end %>
							<% end %>
						</td
						
					<% end %>
				<% end %>
			</tr>
			<% end %>
		<% end %>
		
	</table>