<% if category.last %>
	<div class="row">
		<div class="large-16 columns">
	 		<% category.description %>
	 		<ul class="large-block-grid-3 products-list">
	 			<% @products = category.products %>
	 			<% if params[:filter] %>
	 				<% @products = @products.includes(:text_values, :pictures) %>
		 			<% params[:text_values].each_value {|val| @products = @products.where(text_values: {text: val}) } if params[:text_values] %>
	     			<% params[:pictures].each_value { |val| @products = @products.where(pictures: {image_file_name: val}) } if params[:pictures] %>
	      			<% @products = @products.where('price >= ?', params[:filter][:min_price]) if params[:filter][:min_price].present? %>
	      			<% @products = @products.where('price <= ?', params[:filter][:max_price]) if params[:filter][:max_price].present? %>
	      		<% end %>
				<% @products.order(params[:sort_by]).each do |product| %>
					<li>
						<%= render partial: 'product', locals: {page: nil, product: product} %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
<% else %>
	<% Category.where(prev_id: (category.name ? category.id : 0)).each do |cat| %>
 		<%= render partial: 'products_in_category', locals: {category: cat} %>
 	<% end %>
<% end %>