<figure>
	<%= link_to product, class: 'product' do %>
		<div class="image-wrapper">
			
			<%= image_tag(product.basic_image.url(:small), class: "product-image") %>
			<%= image_tag('shadow.jpg', class: "shadow") %>

			<% if product.categories.where(special: true).any? %>
				
				<% labels = Array.new %>
				
				<% product.categories.order(:order).where(special: true).each do |spec| %>
					<% labels.push(spec.label) if spec.label.exists? %>
				<% end %>
				
				<% if labels.any? %>
				
					<div class="labels">
						<% labels.each do |label|%>
							<%= image_tag(label.url(:small), class: 'label') %>
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>
	<% end %>
	<% if current_user.try(:admin?) %>
		<div class="products-ui">
			<%= link_to( image_tag('settings_white.png'), edit_product_path(product), class: 'product-ui') %>
			<%= content_tag :a, data: {id: product.id, catalog_page: params[:controller] == 'products'}, class: 'hide-product product-ui' do%>
				<%= image_tag 'eye_white.png' %>
			<% end %>
			<%= link_to({controller: :products, action: :destroy, id: product.id}, method: :delete, remote: true, class: 'product-ui', confirm: 'Вы уверены, что хотите удалить товар? Данное действие необратимо.') do%>
					<%= image_tag 'trash_white.png' %>
			<% end %>
		</div>
	<% end %>
	
	<figcaption>
		<%= link_to product, class: 'product' do %>
			<%= product.name%><br>

			<% if product.new_price and product.new_price > 0 %>
			
				<span><%= product.new_price %> <span class="rouble"><span>руб.</span></span></span>
				
				<span class="old-price"><%= product.price %> <span class="rouble"><span>руб.</span></span></span>
				
			<% else %>
				<span><%= product.price %> <span class="rouble"><span>руб.</span></span></span>
			<% end %>
		<% end %>
	</figcaption>
</figure>