<p>
	Сортировать по 
	<%= link_to 'умолчанию', {search: params[:search] } %> 
	
	<%= link_to_sort_by('новизне', 'created_at') %> 

	<%= link_to_sort_by('цене', 'price') %> 
</p>
<div class="p-search-list">
	<%= sort_column %>
	<% @products.each do |prod| %>
		<%= render partial: 'products/product', locals: {page: 'search', product: prod} %>
	<% end %>
</div>
<%= paginate @products %>