<%= link_to('Перейти на страницу товара', product_path(@product.id), id: 'go_product', class: 'label-button') %>
<%= link_to('Добавить вариант товара', new_product_path(id: @product.id), class: 'label-button') %>
<%= content_tag(:a, 'Сохранить изменения', id: 'save_changes', data: {form: '.edit_product'}, class: 'label-button submit') %>