<div class="block">
	<div class="section">
		<%= form_tag({action: :admin_index}, :method => :get, remote: true) do %>
			<div class="form-input-2">
				<%= label_tag :admin_products_search, 'Поиск по названию:' %>
				<%= text_field_tag :admin_products_search, '', name: :name, placeholder:'Введите наименование...' %>
				<a id="p_reset_fields">Очистить</a>
			</div>
			<div class="form-input-2-l">
				<%= label :admin_products_search_by_category, 'Показать товары из категории' %>
				<%= select_tag :admin_products_search_by_category, '<option value="nil">Без категории</option>' + option_groups_from_collection_for_select(Category.all, :categories, :name, :id, :name), :prompt => 'Все', name: 'category_id' %>
			</div>
			<%= hidden_field_tag :sort, params[:sort] %>
			<%= hidden_field_tag :direction, params[:direction] %>
		<% end %>
	</div>
</div>

<%= form_tag({action: :batch_action}, :method => :post, id: 'batch_action', remote: true) do %>
	<%= render partial: 'products_table' %>
<% end %>

<% content_for :top_bar do %>
	<h2 class="products">
		Товары
	</h2>
<% end %>

<%= 
content_for :top_bar_buttons do
	link_to 'Новый товар', new_product_path, class: 'label-button'
end 
%>