<% if @action == 'move' %>

	$('#product_index_body').find('input:checkbox').each( function() {
		$this = $(this);
		if($this.prop("checked") === true) {
			$this.closest('tr').find('.t-product-category').text("<%= @category.name %>");
		}
	});
	closePopup('#move_products_popup')
	successPopup('Изменения сохранены');

<% else %>

	$('#product_index_body').find('input:checkbox').each( function() {
		$this = $(this);
		if($this.prop("checked") === true) {
			$this.closest('tr').remove();
		}
	});
	successPopup('Товары удалены из каталога');

<% end %>