shadeRemove();
<% if params[:id] %>
	successPopup('Модификация сохранена');
	$('#go_product').attr('href', "<%= product_path(@product) %>");
<% else %>
	successPopup('Товар сохранен');
	$createButton = $('#create_product');
	$buttons = $createButton.parent().slideUp(200).html("<%= escape_javascript render(partial: 'top_bar_buttons') %>");
	setTimeout(function() {
		$buttons.slideDown(200);
	},500);
	$form = $('#new_product');
	$form.find('div').first().remove();
	$newForm = $("<%= escape_javascript form_for(@product, multipart:true, remote: true) {} %>");
	$newForm.insertBefore($form).append($form.html());
<% end %>