<%= form_for @product, :html => { :multipart => true } do |f| %>
<div class="row">
	<div class="small-4 columns category-select">
		
	  	<fieldset>
	  		<legend>Выберите категорию</legend>
	   		<%= render partial: 'category_select', locals: {f: f, special: false, prev_id: 0} %> 
	   		<%= link_to 'Редактировать каталог', edit_category_path, style: 'color: #000; float:right;'  %>
		</fieldset>
		<fieldset>
	  		<legend>Дополнительные категории</legend>
	  		<ul>
	   		<% Category.where(special: true).each do |special| %>
	   			<li>
	   				<%= check_box_tag 'category_id[]', special.id, @product.categories.exists?(special) ? true : false %> <%= special.name %>
	   			</li>
	   		<% end %>
	   	</ul>
		</fieldset>
	</div>
	<div id="center" class="small-12 columns">
		<fieldset id="main_features">
			<legend>Основные характеристики</legend>
		  		<%= f.label :name, "Название модели" %>
				<%= f.text_field :name, id: 'product_name' %>
				
				<%= f.label :modififation, "Модификация" %>
				<%= f.text_field :modification %>
				
				<%= f.label :price, "Цена" %>
				<%= f.text_field :price %>

				<% if @product.persisted? %>
					<%= f.label :new_price, "Цена" %>
					<%= f.text_field :new_price %>
				<% end %>
				
				<%= f.label :description, "Описание" %>
				<%= f.text_area :description %>
				
				<%= f.check_box :on_main_page %>
				<%= f.label :on_main_page, "Отображать товар на главной странице?" %>
				<BR>
				
				<%= f.label :basic_image, "Основное изображение" %>
				<% if f.object.basic_image.exists? %>
					<%= f.file_field :basic_image, value: f.object.basic_image.path, id: 'basic_image' %>
					<%= image_tag  f.object.basic_image.url, id: 'basic_image'%>
				<% else %>
					<%= f.file_field :basic_image, id: 'basic_image' %>
					<%= tag 'img', src: '#', id: 'preview'  %>
				<% end %>
		</fieldset>

		<fieldset id="complects">
		<legend>Комплекты поставки</legend></h3>
	  		<%= f.fields_for :complectations, (@product.complectations.empty? ? @product.complectations.build : @product.complectations) do |complectation| %>
	  			<% if complectation.object.description.nil? %>
		  			<%= complectation.label :name, "Наименование стандартного комплекта" %>
					<%= complectation.text_field :name %>
					<%= complectation.hidden_field :price, value: -1 %>
				<% else %>
					<%= complectation.label :name, "Название комплекта" %>
					<%= complectation.text_field :name %>

					<%= complectation.label :price, "Цена" %>
					<%= complectation.text_field :price %>

					<%= complectation.label :description, "Описание" %>
					<%= complectation.text_area :description %>
				<% end %>
			<% end %>
			<%= link_to_add_field f, :complectations %>
		</fieldset>

		<fieldset id="features" class="features">
		<legend>Дополнительные характеристики</legend>
				<%= render partial: 'features_fields' %>
		</fieldset>
	
		<fieldset id="add_features">
			<%= collection_select :ex_feat, :choosen, Feature.all,:id, :name %>
	    <a class="button add-feature">Добавить характеристику</a>
	    <%= link_to 'Редактировать характеристики', feature_path, style: 'color: #000; float:right;'  %>
	    </fieldset>
	    <div id="product_menu">
	    	<ul class="side-nav">
	    		<li> 
	    			<div class="fm-label"> &#9664;</div>
	    			<h4> Быстрое меню </h4>
	    		</li>
	    		<li> <a href="#main_features">Основные характеристики</a> </li>
	    		<li> <a href="#complects">Комплекты поставки</a> </li>
	    		<li> <a href="#features">Дополнтиельные характеристики</a> </li>
	    		<li> <a href="#add_features">Добавить характеристику</a> </li>
	    		<li> 
	    			<a id="save_and_go_away" class="save-button">
	    				<%= @product.new_record? ? '<b>Создать</b> продукт и перейти на его страницу'.html_safe : '<b>Сохранить изменения</b> и перейти на страницу товара'.html_safe %>
	    			</a>
	    		</li>
	    		<li>
	    			<a id="save_and_stay" class="save-button">
	    				<b>Сохранить и</b> остаться на странице, чтобы <b>добавить модификацию</b> товара
	    			</a>
	    		</li>
	    	</ul>
		</div>
	</div>
</div>
<%= f.submit %>
<% end %>
