<%= form_for @product, :url => {:action => @action}, method: @method, html: {class: @class, id: @id, multipart:true, remote: @remote} do |f| %>

	<div class="block">
		<div class="header section">
			<h3>Основные свойства</h3>
		</div>

		<div class="section">
			<div class="form-input-1">
				<%= f.label :name, 'Наименование товара (в каталоге):' %>
				<%= f.text_field :name, required: true %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-1">
				<%= f.label :full_name, 'Полное наименование товара:' %>
				<%= f.text_field :full_name, value: @product.new_record? ? Category.get_first_last_category_prefix : @product.full_name %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-2">
				<%= f.label :category_id, 'Основная категория:' %>
				<%= f.select :category_id, grouped_options_for_select(Category.get_lasts_parents.map{ |group| [group.name, group.categories.map{ |c| [c.name, c.id, {'data-template'=>c.features_template.try(:id), 'data-prefix'=>c.product_prefix}, selected: c.id == @product.category_id] } ] }) %>
			</div>
			<div class="form-input-2-l">
				<%= f.label :categories, 'Дополнительные категории:' %>
				<div class="checkboxes">
					<%= f.collection_check_boxes :categories, Category.special, :id, :name do |b| %>
						<div>
							<%= b.check_box(checked: @product.categories.exists?(b.object) ? true : false) %> <%= b.label %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="form-input-2">
				<%= f.label :price, 'Цена:' %>
				<%= f.number_field :price, min: 0, required: true %>
			</div>
			<div class="form-input-2-l">
				<%= f.label :new_price, 'Цена со скидкой:' %>
				<%= f.number_field :new_price, min: 0 %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-1">	
				<%= f.label :description, 'Краткое описание товара (мета):' %>
				<%= f.text_area :short_description %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-1">	
				<%= f.label :keywords, 'Ключевые слова (мета):' %>
				<%= f.text_area :keywords %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-1">	
				<%= f.label :description, 'Описание товара:' %>
				<%= f.text_area :description %>
			</div>
		</div>
		<div class="section">
			<div class="form-input-2">
				<%= f.label :basic_image, 'Основное изображение:' %>
				<div class="preview-image-wrapper">
					<% if @product.persisted? %>
						<%= image_tag @product.basic_image.url(:small), id: 'basic_img_preview'%>
					<% else %>
						<img id="basic_img_preview">
					<% end %>
				</div>
				<div class="after-preview-wrapper">
					
					<%= f.file_field :basic_image, required: @action == :create %>
				</div>
			</div>
			<div class="form-input-2-l">
				<%= f.label :additional_images, "Дополнительные изображения:" %>
				<%= f.fields_for :additional_pictures do |f_pic| %>
					<div class="f-additional-image">
						<a class="delete-additional-image">&#215;</a>
						<%= image_tag f_pic.object.image.url(:small) %>
						<%= f_pic.file_field :image %>
						<%= f_pic.hidden_field :_destroy, value: 0, class: 'additional-image-destroy' %>
					</div>
				<% end %>
				<a id="add_additional_image" class="f-additional-image">+</a>
			</div>
		</div>
		<div class="section">
			<div class="form-input-2">
				<%= f.label :on_main_page, "Отображать на главной?" %>
				<%= f.check_box :on_main_page %><span class="after-cb">Если данное поле отмечено, то товар будет показан на главной странице.</span>
			</div>

			<div class="form-input-2-l">
				<%= f.label :visible, "Скрыть?" %>
				<%= f.check_box :visible,{}, false, true %>
				<span class="after-cb">Если данное поле отмечено, то товар не будет отображаться в каталоге.</span>
			</div>
		</div>
	</div>

	<div class="block">
		<div class="header section">
			<h3>Характеристики</h3>
		</div>
		<div class="section">
			<table class="block-table" id="f_features">
				<thead>
					<tr>
						<td class="feature-name">
							Характеристика
						</td>
						<td>
							Значения
						</td>
						<td class="basic">
							Основная
						</td>
						<td class="delete">
							Удаление
						</td>
						<td class="order">
						</td>
					</tr>
				</thead>
				<tbody>
					<%= render partial: 'f_feature', :collection => @product.features.includes(text_values: :picture), as: :feature, locals: {product: @product} %>
				</tbody>	
			</table>
			<div class="form-input-2">
				<%= link_to_add_feature(@product) %>
			</div>
			<div class="form-input-2-l">
				<%= select_tag :f_features_templates, options_from_collection_for_select(FeaturesTemplate.all, :id, :name), prompt: 'Выберите шаблон' %>
			</div>
		</div>
	</div>
	<div class="block">
		<div class="header section">
			<h3>Комплектации</h3>
		</div>
		<div class="section">
			<table id="f_complectations" class="block-table">
				<thead>
					<tr>
						<th class="name">
							Отображемое название
						</th>
						<th class="price">
							Цена комплекта
						</th>
						<th class="new_price">
							Цена со скидкой
						</th>
						<th class="description">
							Описание комплекта
						</th>
						<th class="standart">
							Сдандартный
						</th>
						<th class="delete">
							Удаление
						</th>
						<th class="order">
						</th>
					</tr>
				</thead>
				<tbody>
					<%= render partial: 'f_complectation', locals: {form_helper: f, complectations: @product.complectations}%>
				</tbody>
			</table>
			<div class="footnote"><sup>*</sup> Цену стандартного комплекта изменить нельзя.</div>

			<%= link_to_add_complectation f %>
		</div>
	</div>

	<div class="block">
		<div class="header section">
			<h3>Модификации</h3>
		</div>
		<div class="section">
			<table id="f_modifications" class="block-table">
				<thead>
					<tr>
						<td class="product-image-tr">
							Изображение продукта
						</td>
						<td>
							Наименование продукта
						</td>
						<td class="delete">
							Удаление
						</td>
						<td class="order">
						</td>
					</tr>
				</thead>
				<tbody id="product_modifications">
					<%= render partial: 'product_tr', layout: false, locals: {products: @modifications, product_type: 'modification'}  %>
				</tbody>
			</table>
			<a id="open_mod_popup" class="open-popup" data-popup="#modifications_popup">Добавить</a>
			<div id="modifications_popup">
				<a class="close-popup">&#215;</a>
				<h2>Поиск модификаций</h2>
				<%= text_field_tag :add_modification,'', :placeholder => 'Начните вводить наименование модели'  %>
				<table class="block-table">
					<thead>
						<tr>
							<td class="product-image-tr">
								Изображение продукта
							</td>
							<td>
								Наименование продукта
							</td>
							<td class="delete">
							</td>
							<td class="order">
							</td>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>

		</div>
	</div>

	<div class="block">
		<div class="header section">
			<h3>Сопутствующие товары</h3>
		</div>
		<div class="section">
			<div class="table-section-2">
				<table id="f_related_products" class="block-table">
					<thead>
						<tr>
							<td class="product-image-tr">
								Изображение продукта
							</td>
							<td>
								Наименование продукта
							</td>
							<td class="delete">
								Удаление
							</td>
							<td class="order">
							</td>
						</tr>
					</thead>
					<tbody>
						<%= render partial: 'product_tr', locals: {products: @product.related_products, product_type: 'related_product'} %>
					</tbody>
				</table>
				<a id="open_mod_popup" class="open-popup" data-popup="#related_products_popup">Добавить</a>
				<div id="related_products_popup">
					<a class="close-popup">&#215;</a>
					<h2>Сопутствующие товары</h2>
					<%= text_field_tag :add_related_product,'', :placeholder => 'Начните вводить наименование модели'  %>
					<table class="block-table">
						<thead>
							<tr>
								<td class="product-image-tr">
									Изображение продукта
								</td>
								<td>
									Наименование продукта
								</td>
								<td class="delete">
								</td>
								<td class="order">
								</td>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
			</div>
			<div class="table-section-2-l">
				<table id="f_related_categories" class="block-table">
					<thead>
						<tr>
							<td class="f-category-name">
								Наименование категории
							</td>
							<td class="delete">
								Удаление
							</td>
						</tr>
					</thead>
					<tbody id="related_products">
						<%= render partial: 'category_tr', locals: {categories: @product.related_categories} %>
					</tbody>
				</table>
				<a id="open_mod_popup" class="open-popup" data-popup="#related_categories_popup">Добавить категорию целиком</a>
				<div id="related_categories_popup">
					<a class="close-popup">&#215;</a>
					<h2>Сопутствующие категории товаров</h2>
					<%= text_field_tag :add_related_category,'', :placeholder => 'Начните вводить название категории'  %>
					<table class="block-table">
						<thead>
							<tr>
								<td class="category-name-tr">
									Наименование категории
								</td>
								<td class="delete">
								</td>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<% if @product.persisted? %>
		<%= hidden_field_tag :id, @product.id %>
	<% end %>
<% end %>
<% content_for :top_bar do%>
	<h2 class="products">
		<% if @action == :create %>
			<%= params[:id] ? 'Создать вариант товара' : 'Новый товар' %>
		<% else %>
			Редактировать товар
		<% end %>
	</h2>
<% end %>

<% content_for :top_bar_buttons do %>
	<% if @action == :update %>
		<%= render partial: 'top_bar_buttons' %>
	<% else %>
		<%= content_tag(:a, (params[:id] ? 'Сохранить вариант' : 'Создать товар'), id: 'create_product',class: 'label-button submit', data: {form: '#new_product'}) %>
	<% end %>
<% end %>