<%= fields_for @product do |f| %>
	<%= f.fields_for :features do |feat| %>
		<%= render partial: 'feature', locals: {feat: feat, f: f, association: (feat.object.feature_type == 'text' ? :text_values : :pictures ) } %>
	<% end %>
<% end %>