<aside>
	<%= render partial: 'layouts/catalog' %>
	<% if false %>
		<%= form_tag({controller: 'products', action: 'index'}, {:remote => true, class: 'filters', method: 'GET'}) do%>
			<fieldset class="fs-filters">
				<legend>Выбор по параметрам</legend>
					<p><strong>Цена</strong></p>
					<div class="row">
						<div class="medium-8 columns">
							<%= text_field :filter, :min_price, class: 'price-filter', placeholder: 'От' %>
						</div>
						<div class="medium-8 columns">
							<%= text_field :filter, :max_price, class: 'price-filter', placeholder: 'до' %>
						</div>
					</div>
					<% if @category %>
						<% @category.features.where(use_as_filter: true).order(:order).each do |feat| %>
							<p><strong><%= feat.name %></strong></p>
								<% if feat.feature_type == 'text' %>
									<ul class="medium-block-grid-1">
									<% feat.text_values.joins(:product => :categories).where(:categories => {id: @category.id}).select(:text).distinct.each do |val| %>
										<li>
											<%= check_box(:text_values, feat.id, {:multiple => true, :class => 'filter-options'}, val.text, nil)%> <%= label :text_values, feat.id, val.text %>
										</li>
									<% end %>
								<% else %>
									<ul class="medium-block-grid-2">
									<% feat.pictures.joins(:product => :categories).where(:categories => {id: @category.id}).select(:image_file_name).distinct.each do |val| %>
										<li>
											<%= check_box(:pictures, feat.id, {:multiple => true, :class => 'filter-options'}, val.image_file_name, nil)%> <%= image_tag feat.pictures.find_by(image_file_name: val.image_file_name).image.url %>
										</li>
									<% end %>
								<% end %>
							</ul>
						<% end %>
					<% end %>
					<%= hidden_field_tag(:category_id, @category.id) if @category %>
			</fieldset>
		<% end %>
	<% end %>
</aside>
<main id="main" class="r-aside">
	<% if @category %>
		<% if @category.last %>
			<h2 class="m-header"><%= link_to @category.title, catalog_path(@category) %></h2>
			<%= render partial: 'category_products', locals: {category: @category, single: true} %>
		<% else %>
			<h2 class="m-header"><%= link_to @category.title, catalog_path(@category) %></h2>
			<%= render partial: 'category_products', collection: @category.categories, as: :category, locals: {single: false} %>
		<% end %>
	<% else %>
		<h2 class="m-header">Все товары</h2>
		<%= render partial: 'category_products', collection: Category.where(prev_id: nil), as: :category, locals: {single: false} %>
	<% end %>

</main>

<% content_for :title do 
		if @category
			@category.title
		else
			"Каталог"
		end 
	end %>

<%= content_for :meta do %>
	<% if @category
		description = @category.meta_description
		keywords = @category.keywords
	else
		description = GeneralContent.find_by(name: 'catalog_description').content
		keywords = GeneralContent.find_by(name: 'catalog_keywords').content
	end
	%>

	<meta name="Description" content="<%= description %>" >
	<meta name="Keywords" content="<%= keywords %>">
<% end %>



