<main id="main" class="p-search">
	<%= render partial: 'search' %>
</main>

<% content_for :divider do %>
	<div class="h-divider gray">
		<div class="container">
			<div class="info-category">
				<h4>Поиск</h4>
			</div>
			<div class="route">
				<span>Вы здесь: </span>
				<%= link_to 'Главная страница' %> / 
				Поиск товара
			</div>
		</div>
	</div>
<% end %>