<main id="main" class="p-main">
	<%= form_for @chosen_product, :url => {:controller => 'chosen_products', :action => 'create'}, remote:true, method: :post do |f| %>
		<h3 class="p-name">
			<%= @product_presenter.full_name %>
		</h3>
		<div class="p-wrapper">
			<div class="p-images">
				<div class="i-wrapper">
					<%= link_to image_tag(@product.basic_image.url(:normal)), @product.basic_image.url, id: 'basic_img' %>
				</div>
				<% if @product.additional_pictures.exists? %>
					<div class="p-additional-pictures">
						<% @product_presenter.product_pictures.each do |pic| %>
							<%= link_to image_tag(pic.image.url(:small)), pic.image.url, class: 'additional-picture'  %>
						<% end %>
					</div>
				<% end %>
				

				<div class="pr-info-1">
					
						<%= GeneralContent.find_by(name: 'product_page_content_left').content.html_safe %>
					
				</div>
			</div>
			<div class="p-main-properties">
				<div class="p-price">
					<h3 id="price_value">
						<%= @product.price %> <span class="rouble"><span>руб.</span></span>
						<% if @product.complectations.exists? %>
							<span class="complectation-label"><%= @product.complectations.first.name %></span>
						<% end %>
					</h3>
					<%= f.hidden_field :current_price, value: @product.current_price %>

					<div class="add-to-cart">
						<%= f.submit 'Добавить в корзину', id: @product.id, class: 'cart-submit' %>
						<div class="quantity-input">
							<%= f.number_field :quantity, value: 1, step: 1, min: 1 %>
						</div>
						<div class="quantity-ctrl">
							<a id="quantity_increase"> &#9650; </a>
							<a id="quantity_decrease"> &#9660; </a>
						</div>
					</div>
				</div>
				<p class="p-short-description">
					<%= @product.short_description %>
				</p>
				<table class="main-features">
					<% @product_presenter.basic_features_without_options.each do |feat| %>
						<tr>
							<td class="p-feature-name">
								<%= feat.name %>
							</td>
							<td class="p-feature-value">
								<% if @product_presenter.feature_values(feat).picture %>
									<%= image_tag @product_presenter.last.picture.image.url %>
								<% end %>
								<span><%= @product_presenter.last.text %></span>
							</td>
						</tr>
					<% end %>
				</table>
				<div class="selectable-options">
					<% @product_presenter.features_with_options.each do |feat| %>
						<div class="p-feature-name"><%= feat.name %></div>
						<div class="p-options">
							<% @product_presenter.feature_values(feat).each do |value| %>
								<div class="p-option-wrapper">
									<%= radio_button_tag @product_presenter.radio_name(feat), value.id, @product_presenter.checked?(value) %>
									<div class="p-option">
										<span><%= value.text %></span>
										<% if value.picture %>
											<%= image_tag value.picture.url %>
										<% end %>
									</div>
								</div>
							<% end %>
						</div>
					<% end %>
					<div class="p-feature-name">Комплектация</div>
					<div class="p-options">
						<% @product.complectations.each do |c| %>
							<div class="p-option-wrapper">
								<%= f.radio_button :complectation_id, c.id, checked: c.order == 1%>
								<%= f.radio_button :current_price, c.current_price, checked: c.order == 1 %>
								<div class="p-option p-complectation">
									<span class="p-complectation-name"><%= c.name %></span>
									<div class="c-price">
										<%= c.price %> <span class="rouble"><span>руб.</span></span>
									</div>
								</div>
							</div>
						<% end %>
					</div>
					<% @product.complectations.each do |c| %>
						<p class="c-description"><%= c.description %></p>
					<% end %>
				</div>
				
				<%= @product_presenter.info %>
			</div>
		</div>
	<%= f.hidden_field :product_id, value: @product.id %>
	<% end %>
	<div class="pr-info-2">
		
			<%= GeneralContent.find_by(name: 'product_page_content_bottom').content.html_safe %>
	</div>
	<div class="full-description">
		<h5>Описание</h5>
		<p class="p-description"><%= @product.description %></p>
		<h5>Характеристики</h5>
		<table class="p-additional-features">
			<% @product_presenter.additional_features_without_options.each do |feat| %>
				<tr>
					<td class="p-feature-name">
						<%= feat.name %>
					</td>
					<td class="p-feature-value">
						<%= @product_presenter.feature_values(feat).text %>
					</td>
				</tr>
			
			<% end %>
		</table>
	</div>
	<% if @product.related_products.exists? %>
		<h3>Сопутствующие товары</h3>
		<div class="related products">
			<% @product.related_products.each do |prod| %>
				<figure class="p-related-product">
					<%= image_tag prod.basic_image.url(:small) %>
					<figcaption>
						<%= prod.name %>
						<%= prod.current_price %> <span class="rouble"><span>руб.</span></span>
					</figcaption>
				</figure>
			<% end %>
		</div>
	<% end %>
	
</main>
<aside class="p-side">
	<div class="p-modifications">
		<% if @product.modifications.empty? %>
			<h4>Похожие товары</h4>
			<% @product_presenter.similiar_products.each do |prod| %>
				<%= link_to prod do%>
					<figure class="p-modification">
						<div class="m-image-wrapper">
							<%= image_tag prod.basic_image.url(:small) %>
						</div>
						<figcaption>
							<%= prod.name %>
							<span class="price"><%= prod.current_price %> <span class="rouble"><span>руб.</span></span></span>
						</figcaption>
					</figure>
				<% end %>
			<% end %>

		<% else %>
			<h4>Другие варианты</h4>
			<% @product.modifications.each do |prod| %>
				<%= link_to prod do%>
					<figure class="p-modification">
						<div class="m-image-wrapper">
							<%= image_tag prod.basic_image.url(:small) %>
						</div>
						<figcaption>
							<%= prod.name %>
							<span class="price"><%= prod.current_price %> <span class="rouble"><span>руб.</span></span></span>
						</figcaption>
					</figure>
				<% end %>
			<% end %>
		<% end %>
	</div>
</aside>

<% content_for :divider do %>
	<div class="h-divider gray">
		<div class="container">
			<div class="info-category">
				<h4>Просмотр товара</h4>
			</div>
			<div class="route">
				<span>Вы здесь: </span>
				<%= link_to 'Главная страница' %> / 
				<%= @product.category.name %>
			</div>
		</div>
	</div>
<% end %>

<% content_for :title do %>
	<%= @product.name %>
<% end %>

<% content_for :meta do %>
	<meta name="Description" content="<%= @product.short_description %>" >
	<meta name="Keywords" content="<%= @product.keywords %>">
<% end %>

<% content_for :admin_menu do %>
<li>
	<%= link_to 'Редактировать товар', edit_product_path(@product.id) %>
</li>
<li>
	<%= link_to 'Добавить вариант товара', new_product_path(id: @product.id) %>
</li>
<li>
	<%= link_to 'Удалить товар', product_path(@product), method: :delete %>
</li>
<% end %>