<%= form_helper.fields_for :text_values, values do |values_f| %>
	<tr>
		<td>
			<%= values_f.text_field :text, placeholder: 'Введите значение' %>
		</td>
		<td class="value-picture">
			<%= values_f.fields_for :picture, (pic = values_f.object.picture || Picture.new) do |pic_f| %>
				<% if pic.image.exists? %>
					<%= image_tag pic.image.url, class: 'value-picture-preview' %>
					<a class="open-file-input">Изменить</a>
				<% else %>
					<img class="value-picture-preview">
					<a class="open-file-input">Добавить изображение</a>
				<% end %>
				<%= pic_f.file_field :image %>
			<% end %>
		</td>
		<td class="delete">
			<a class="destroy-feature-value">Удалить</a>
			<%= values_f.hidden_field :_destroy, value: 0 %>
		</td>
	</tr>
<% end %>