<tr>
	<td class="t-feature-name">
		<%=feature.name %>
	</td>
	<td class="basic">
		<%= check_box_value(feature.basic) %>
	</td>
	<td class="searchable">
		<%= check_box_value(feature.searchable) %>
	</td>
	<td class="edit">
		<%=link_to 'Изменить', edit_feature_path(feature) %>
	</td>
	<td class="delete">
		<%=link_to 'Удалить', feature_path(feature), method: :delete, confirm: "Вы уверены, что хотите удалить характеристику? Данное действие необратимо." %>
	</td>
</tr>
