<table class="table">
	<tr>
		<td class='col-md-4'>
			Название: <%= feature.name %><br>
			Тип: <%= feature.feature_type %><br>
			
			<% if feature.basic %>
				Основная характеристика
			<% else %>
				Неосновная характеристика
			<% end %><br>
		</td>
		<td class='col-md-4'>
			<% if feature.categories.empty? %>
				Характеристика не принадлежит ни одной категории
			<% else %>
				Характеристика принадлежит следующим категориям:
			<% end %>
			<% feature.categories.each do |category| %>
				<br><%= category.name %>
			<% end %>
		</td>
		<td class='col-md-4'>
			<%= button_tag 'Редактировать', :type => 'button', class: 'btn btn-warning btn-xs edit-feat' %>
			<%= button_to 'Удалить', {:action => :destroy, :id => feature.id}, :method => :delete, remote: true, class: 'btn btn-danger btn-xs del-feat' %>
		</td>
	</tr>
</table>