<%if params[:id] %>
	<%= render partial: 'feat_create_link' %>
<% end %>
<fieldset>
	<legend>Редактировать характеристику</legend>
	<%= form_for @feature, url: {action: (params[:id] ? 'update' : 'create')}, remote:true, class: "edit-feat" do |f| %>
		<%= f.label :name, 'Название характеристики' %>
		<%= f.text_field :name %>

		<% unless params[:id] %>
			<%= f.label :feature_type, 'Тип характеристики' %>
			<%= f.radio_button :feature_type, 'text', checked: true %> Текст
			<%= f.radio_button :feature_type, 'image' %>Картинка<br>
		<% end %>

		<%= f.check_box :basic %> 
		<%= f.label :basic, 'Основная характеристика?' %> <br>
		
		<%= f.check_box :use_as_filter %>
		<%= f.label :use_as_filter, 'Использовать вкачестве фильтра?' %>

		<%= f.hidden_field :id %>
		
		<dl class="accordion" data-accordion>
  			<dd>
  				<%= link_to 'Раскрыть список категорий', '#panel1' %>
  				<div id="panel1" class="content">
  					<ul>
	  					<% Category.where(last: true).each do |cat| %>
	  						<li>
			  					<%= f.fields_for :categories, @feature.categories.build do |cat_f| %>
			  						<%= cat_f.check_box :_destroy, {checked: cat.features.exists?(@feature) ? true : false }, 0, 1 %>
			  						<%= cat_f.label :_destroy, cat.name %>
			  						<%= cat_f.hidden_field :id, value: cat.id %>
			  					<% end %>
			  				</li>
		  				<% end %>
		  			</ul>
  				</div>
  			</dd>
  		</dl>
  		<% if params[:id] %>
		<%= f.submit 'Сохранить изменения' %> или <%= button_tag 'Удалить характеристику', type: 'button', data: {path: '/feature', id: @feature.id}, class: 'feat-delete' %>
		<% else %>
			<%= f.submit 'Создать категорию' %>
		<% end %>
  		<% end %>
</fieldset>
