<ul class="<%= basic ? 'basic' : 'sec' %>-order">
	<% Feature.where(basic: basic).order(:order).each do |feat| %>
		<li name="<%= feat.id %>">
			<span class="move-icon"></span>
			<%= content_tag 'a', feat.name, name: 'edit', class: 'link-to-edit-feat' %>
		</li>
	<% end %>
</ul>