<%= form_for @feature, remote: @feature.persisted? do |f| %>
	<div class="block">
		<div class="section header">
			<h3>Основные свойства</h3>
		</div>
		<div class="section">
			<div class="form-input-3">
				<%= f.label :name, 'Наименование характеристики:' %>
				<%= f.text_field :name, required: true %>
			</div>
			<div class="form-input-3">
				<%= f.label :basic, 'Основная характеристика?' %> 
				<%= f.check_box :basic %> 
				<span class="after-cb">Основные характеристики отображаются более большим шрифтом.</span>
			</div>
			<div class="form-input-3-l">
				<%= f.label :searchable, 'Показывать в поиске?' %>
				<%= f.check_box :searchable %>
				<span class="after-cb">Если данное поле отмечено, то данную характеристику можно будет использовать в качестве фильтра в каталоге товаров.</span>
			</div>
		</div>
	</div>
	<div class="block">
		<div class="section header">
			<h3>Значения</h3>
		</div>
		<div class="section">
			<table id="feature_values" class="block-table">
				<thead>
					<tr>
						<th>
							Текстовое значение
						</th>
						<th>
							Изображение
						</th>
						<th class="delete">
							Удаление
						</th>
					</tr>
				</thead>
				<tbody>
					<%= render partial: 'feature_value', locals: {form_helper: f, values: @feature.text_values} %>
				</tbody>
			</table>
			<%= link_to_add_feature_value(f) %>
		</div>
	</div>
<% end %>
<% content_for :top_bar do%>
	<h2 class="features">
		<% if @feature.new_record? %>
			Создать характеристику
		<% else %>
			Редактировать характеристику
		<% end %>
	</h2>
<% end %>

<%= 
content_for :top_bar_buttons do
	link_to('Перейти к списку характеристик', features_path, class: 'label-button') +
	content_tag( :a, 'Сохранить', data: {form: '#admin_workspace form'}, class: 'label-button submit')
end 
%>
