<div class="block">
	<div class="section">
		<table id="t_features" class="basic-table">
			<thead>
				<tr>
					<td class="t-feature-name">
						Характеристика
					</td>
					<td class="basic">
						Основная
					</td>
					<td class="searchable">
						Показывать в поиске
					</td>
					<td class="edit">
						Редактирование
					</td>
					<td class="delete">
						Удаление
					</td>
				</tr>
			</thead>
			<tbody>
				<%= render partial: 'feature_tr', collection: Feature.all.order(basic: :desc, name: :asc), as: :feature %>
			</tbody>
		</table>
	</div>
</div>
<% content_for :top_bar do %>
	<h2 class="features">
		Характеристики
	</h2>
<% end %>

<%= 
content_for :top_bar_buttons do
	link_to 'Новая характеристика', new_feature_path, class: 'label-button'
end 
%>