<div class="row">
	<div class="medium-6 columns feat-order">
		<fieldset>
			<legend>Изменить порядок основных характеристик</legend>
			<%= render partial: 'list_of_features', locals: {basic:true} %>
		</fieldset>
		<fieldset>
			<legend>Изменить порядок второстепенных характеристик</legend>
			<%= render partial: 'list_of_features', locals: {basic:false} %>
		</fieldset>
		<%= button_tag 'Сохранить порядок', type: 'button', class: 'save-feat-order' %>
	</div>
	<div class="medium-6 columns place-for-form">
		<%= render partial: 'feat_create_link' %>
	</div>
</div>

