<% if current_user.try(:admin?) %>
	<div id="inform_popups">
	</div>

	<div id="admin_menu">
		<div id="am_label">
			&#9664;
		</div>
		<ul>
			<li class="am-header">
					<h5>Меню администратора</h5>
			</li>
			<li class="am-order-search">
				<%= form_tag("admin/orders", method: "get") do %>
					<%= text_field_tag :search, '',	id: 'search', placeholder: 'Поиск заказа...' %>
					<%= content_tag :a, image_tag('search.png'), id: 'search_icon' %>
				<% end %>
			</li>
			<li>
				<%= link_to 'Панель администратора', admin_path, title: 'Перейти в панель администратора' %>
			</li>
			<%= yield :admin_menu %>
			<li class="exit">
				<%= link_to 'Выход', destroy_user_session_path, method: :delete %>
			</li>
		</ul>
	</div>
<% end %>