<nav class="top-bar" data-topbar> 
	<ul class="title-area"> 
		<li class="name"> 
			<h1><a href="#">Админ манель</a></h1> 
		</li> 
		<li class="toggle-topbar menu-icon">
			<a href="#">Menu</a>
		</li> 
	</ul> 
	<section class="top-bar-section"> 
		<!-- Right Nav Section --> 
		<ul class="right"> 
				<li><%= link_to 'Опции сайта', site_options_path %></li>
				<li><%= link_to 'Заказы', edit_product_path(1) %></li>
				<li><%= link_to 'Добавить товар', new_product_path %></li>
				<li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
		</ul> 
	</section> 
</nav>

