<%=link_to '/cart', class: 'cart', id: 'header_cart' do%>
	<%concat image_tag('cart.jpg') %>
	<%concat ('<p>Товары (<span>'+ count_products_in_cart.to_s + '</span>)<br>').html_safe %>
	<%concat ('Общая сумма (<span>'+ price_sum.to_s + '</span>)</p>').html_safe %>
<% end %>