<% Category.where(prev_id: prev, hidden: false).order(:order).each do |main| %>
	<li class= "<%= main.style %>">
		<%= link_to main.name, catalog_path(main.slug) %>
		<% if main.categories.exists? %>
			<a class="expand checked"> </a>
			<ul>
				<%= render partial: 'layouts/catalog_category', locals: {prev: main.id} %>
			</ul>
		<% end %>
	</li>
<% end %>