<nav class="s-nav">
	<h2><%= link_to 'Каталог', catalog_path, class: 'cat-link' %></h2>
	<ul id="catalog" <%= @category ? '' : 'class=full-deep' %>>
		<%= render partial: 'layouts/catalog_category', locals: { prev: nil } %>
	</ul>
</nav>
