<div class="row">
	<div class=" side-menu <%= 'sticky-men' if @catalog_hide %>" <%= "id=drop0 data-dropdown-content style= 'position: absolute; left: -9999px;'".html_safe if @catalog_hide %>>
		<h2> Каталог </h2>
		<ul class="side-nav">
		<% if current_user.try(:admin?) %>
			<li>
				<%= link_to 'Редактировать каталог', '/catalog/edit', class: 'edit-button' %>
			</li>
		<% end %>
		
		<%= render partial: 'layouts/catalog_category', locals: { prev: 0, active: params[:category_id]} %>
		</ul>
	</div>
</div>