<footer>
	<div class="container">
		<div class="footer-block">
				<%= GeneralContent.find_by(name: 'footer_left').content.html_safe %>
		</div>
		<div class="footer-block">
			<%= GeneralContent.find_by(name: 'footer_right').content.html_safe %>
		</div>
	</div>
</footer>