<nav>
	<div class="row <%= 'sticky' if @catalog_hide %>">
		<div class="medium-3 columns">
			<a href="#" class="cat" <%= 'data-dropdown=drop0' if @catalog_hide %> >Каталог товаров</a>
			<%= render( partial: 'layouts/catalog_menu', locals: {hide: @catalog_hide} ) if @catalog_hide %>
		</div>	

		<div class="medium-6 columns nav-right">
			<%= text_field_tag :search, '',  class: 'search', placeholder: 'Поиск товара...' %>
			<%= link_to image_tag('search.png'), '#', class: 'search-icon' %>
		</div>	
		
		<div class="medium-6 medium-offset-1 columns nav-right">
			<ul class="inline-list">
				<li><%= link_to 'ГЛАВНАЯ', root_path, class: "main-menu-item"  %></li>
				<li><%= render partial: 'layouts/menu_link', locals: { name: 'УСЛУГИ', category: 'services', dropname: 'drop1'} %></li>
				<li><%= render partial: 'layouts/menu_link', locals: { name: 'ИНФОРМАЦИЯ', category: 'info', dropname: 'drop2'} %></li>
				<li><%= render partial: 'layouts/menu_link', locals: { name: 'КОНТАКТЫ', category: 'contacts', dropname: 'drop3'} %></li>
			</ul>
		</div>
	</div>
</nav>
