	<%= yield :meta %>
	<title><%= yield(:title).blank? ? "Двери возим" : yield(:title) %></title>
	<%= favicon_link_tag 'favicon.png' %>

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>

	<link href='http://fonts.googleapis.com/css?family=Exo+2:400,100,200,300,500,600,700,800,900&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= render 'layouts/ie' %>
	<% if current_user.try(:admin?) %>
		<%= javascript_include_tag("admin_js", "data-turbolinks-track" => true) %>
		<%= stylesheet_link_tag		"admin_css", media: "all", "data-turbolinks-track" => true %>
	<% end %>
	
	<noscript>
		<link rel="stylesheet" type="text/css" href=<%= asset_path 'nojs.css' %>>
	</noscript>
	<%= csrf_meta_tags %>