<header>
	<div id="header_container">
		<div class="top-info">
			<div class="container">
				<div class="col12">
					<div class="phone-email">
						<%= image_tag 'mail.png', class: 'icon' %> <span><%= email_link %></span>
						<%= image_tag 'phone.png', class: 'icon' %>
						<% @presenter.phones.each do |phone| %>
								<span class="callable"><%= link_to phone, 'tel://' + phone %> </span>
								<span class="phone-text"><%= phone %></span>
						<% end %>
					</div>
					<div class="callback">
						<span><a id="open_popup" data-popup="#callback_popup">Обратный звонок</a></span>
						<div id="callback_popup"> 
							<a class="close-popup">&#215;</a>
							<h2>Обратный звонок</h2>
							<%= form_tag("/callback", method: "post", remote: true) do %>
				  				<%= label_tag(:name, "Ваше Имя") %>
				 				<%= text_field_tag(:name) %>
				 				<%= label_tag(:phone, "Ваш телефон") %>
				 				<%= text_field_tag(:phone) %>
				 				<%= label_tag(:time, "Когда перезвонить?") %>
				 				<%= text_field_tag(:time) %>
				  				<%= button_tag("Отправить",type: 'button', class: 'accept-callback') %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="col4">
					<%= form_tag("/products/search", method: :get) do %>
				  		<%= text_field_tag :search, '',  id: 'search', placeholder: 'Поиск товара...' %>
						<%= content_tag :a, image_tag('search.png'), id: 'search_icon' %>
					<% end %>
				</div>
			</div>
		</div>
		
		<div id="header_main" class="container">
			<div class="logo">
				<%= link_to root_path do %>
					<%= image_tag 'logo.png' %>
				<% end %>
			</div>
			
			<nav class="h-nav">
				<ul>
					<li>
						<% if params[:action] == 'home' %>
							<%=	link_to("ГЛАВНАЯ", root_path, class: 'selected-nav-item') %>
		     			<% else %>
		     				<% css_class = params[:controller] == 'products' ? 'selected-nav-item' : '' %>
		     				<%= link_to("КАТАЛОГ", catalog_path, class: 'cat-nav-item ' + css_class) %>
		     				<div class="popover cat-dropdown">
		     					<ul>
		     						<li>
		     							<ul>
			     							<% @presenter.main_spec_cat_without_children.each do |special| %>
			     								<li>
			     									<%= link_to special.name, products_path(:category_id => special.id), class: 'special main'  %>
			     								</li>
			     							<% end %>
			     							<% @presenter.main_basic_cat_without_children.each do |main| %>
			     								<li>
			     									<%= link_to main.name, products_path(:category_id => main.id), class: ' main'  %>
			     								</li>
			     							<% end %>
			     						</ul>
			     					</li>
			     					<% @presenter.main_spec_cat_with_children.each do |special| %>
			     						<li>
			     							<%= link_to special.name, products_path(:category_id => special.id), class: 'special main'  %>
			     							<ul>
			     								<%= render partial: 'layouts/catalog_category', locals: { prev: special.id, active: params[:category_id]} %>
			     							</ul>
			     						</li>
			     					<% end %>
			     					<% @presenter.main_basic_cat_with_children.each do |special| %>
			     						<li>
			     							<%= link_to special.name, products_path(:category_id => special.id), class: 'main'  %>
			     							<ul>
			     								<%= render partial: 'layouts/catalog_category', locals: { prev: special.id, active: params[:category_id]} %>
			     							</ul>
			     						</li>
			     					<% end %>

		     					</ul>
		     				</div>
		     			<% end %>
	     			</li>
					<li><%= render partial: 'layouts/menu_link', locals: { name: 'УСЛУГИ', category: 'Услуги'} %></li>
					<li><%= render partial: 'layouts/menu_link', locals: { name: 'ИНФОРМАЦИЯ', category: 'Информация'} %></li>
					<li><%= link_to 'КОНТАКТЫ', info_page_path('kontakti'), class: (@page && @page.slug == 'kontakti') ? 'selected-nav-item' : nil %></li>
				</ul>
			</nav>

			<div class="cart-wrapper">
				<%= render partial: 'layouts/cart' %>
			</div>
		</div>
	</div>
</header>