<% if InfoPage.where(info_category: category).select(:subcategory).empty? %>
	
	<% if InfoPage.where(info_category: category).size == 1 %>
		
		<%= link_to name, info_page_path(InfoPage.where(info_category: category).first.slug), class: (@page && @page.info_category == category) ? 'selected-nav-item' : nil %>
	
	<% else %>
		
		<%=
			link_to_if(@page && @page.info_category == category, name, '#', class: 'selected-nav-item') do
 				link_to(name, '#')
 			end 
 		%>
			<ul class="popover">
				<% InfoPage.where(info_category: category).each do |menu_item| %>
					<li>
						<%= link_to strip_tags(menu_item.title), info_page_path(menu_item.slug) %>
					</li>
				<% end %>
			</ul>
	<% end %>
<% else %>

	<%=
		link_to_if(@page && @page.info_category == category, name, '#', class: 'selected-nav-item') do
				link_to(name, '#')
			end 
	%>
		<div class="popover with-<%= col_num(InfoPage.where(info_category: category).select(:subcategory).distinct.size) %>">
			<ul>
				<% InfoPage.where(info_category: category).select(:subcategory).distinct.each do |elem| %>
					<li>
						<span class="p-header"><%= elem.subcategory %></span>
						<ul>
							<% InfoPage.where(info_category: category, subcategory: elem.subcategory).each do |page| %>
								<li>
									<%= link_to strip_tags(page.title), info_page_path(page.slug) %>
								</li>
							<% end %>
						</ul>
					</li>
				<% end %>
			</ul>
		</div>
<% end %>