<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title).blank? ? "Панель администратора" : yield(:title) %></title>
  

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>

	<link href='http://fonts.googleapis.com/css?family=Exo+2:400,100,200,300,500,600,700,800,900&subset=latin,cyrillic' rel='stylesheet' type='text/css'>


	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= javascript_include_tag("admin_js", "data-turbolinks-track" => true) %>
	<%= stylesheet_link_tag    "admin_css", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>

	<%= render 'layouts/shim' %>
</head>
<body>
	<div class="fluid">
		<aside id="admin_panel">
			<div class="header">
				<span class="letter">А</span><span class="word-part">Панель администратора</span>
			</div>
			<div id="order_search">
				<%= form_tag("/admin" + orders_path, method: "get", remote: true) do %>
			  		<%= text_field_tag :orders_search, '',  id: 'search', placeholder: 'Поиск заказа...' %>
					<%= content_tag :a, image_tag('search.png'), id: 'search_icon' %>
				<% end %>
			</div>
			<ul>
				<li>
					<%= link_to 'Заказы', '/admin' + orders_path %>
				</li>
				<li>
					<%= link_to 'Каталог', edit_catalog_path %>
				</li>
				<li>
					<a class="top has-child">Товары</a>
					<ul>
						<li>
							<%= link_to 'Создать', new_product_path %>
						</li>
						<li>
							<%= link_to 'Список товаров', admin_products_path %>
						</li>
						<li>
							<a class="has-child">Характеристики</a>
							<ul>
								<li>
									<%= link_to 'Просмотреть все', features_path %>
								</li>
								<li>
									<%= link_to 'Шаблоны', features_templates_path %>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a class="has-child">Страницы</a>
					<ul>
						<li>
							<a class="has-child">Главная</a>
							<ul>
								<li>
									<%= link_to 'Слайдер', edit_slider_path %>
								</li>
								<li>
									<%= link_to 'Контент', edit_mp_content_path %>
								</li>
							</ul>
						</li>
						<li>
							<%= link_to 'Новости', edit_news_path %>
						</li>
						<li>
							<a class="has-child">Статьи и информация</a>
							<ul>
								<li>
									<%= link_to 'Услуги', admin_info_pages_path(:info_category => 'Услуги') %>
								</li>

								<li>
									<%= link_to 'Информация', admin_info_pages_path(:info_category => 'Информация') %>
								</li>
								<li>
									<%= link_to 'Контакты', edit_info_page_path('kontakti') %>
								</li>
							</ul>
						</li>
						<li>
							<%= link_to 'Страница продукта', edit_product_content_path %>
						</li>
						<li>
							<%= link_to 'Корзина', edit_cart_content_path %>
						</li>
						<li>
							<a class="has-child">Общее</a>
							<ul>
								<li>
									<%= link_to 'Шапка', edit_header_path %>
								</li>

								<li>
									<%= link_to 'Подвал', edit_footer_path %>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<%= link_to "Настройки e-mail'ов", edit_emails_path %>
				<li>
					<%= link_to 'Общие настройки', site_options_path %>
				<li>
					<%= link_to 'Вернуться на сайт', root_path %>
				</li>
			</ul>
		</aside>
		<div class="top-bar">
			<%= yield :top_bar %>
			<div class="buttons" >
				<%= yield :top_bar_buttons %>
			</div>
			
		</div>
		<main id="admin_workspace" >
			<%= yield %>
		</main>

	  	<div id="inform_popups">
		</div>
	</div>

</body>
</html>