<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Mystore</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div class="container">
  <%= render 'layouts/adminnav' %>
  <%= render 'layouts/gray_nav' %>        
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
