<!DOCTYPE html>
<html>
<head>
	<%= render 'layouts/head' %>
</head>
<body>
	<div class="page-wrapper">
		<%= render 'layouts/header' %>
		<%= yield :divider %>
     	<div class="wrapper">
     		<div id="main_container" class="container">
     			<!--	
				<aside>
					<%= render partial: 'static_pages/catalog', locals: {hide: @catalog_hide} %>
					<%= yield :aside_bottom %>
				</aside>
				-->
				<%= yield %>		
			</div>
     		<div id="popup">
			    <% if params[:controller] == 'products'%> 
			    	Выбрать
			    <% else %>
			      	Подробнее
			    <% end %>
			</div>
     	</div>
	    <%= render 'layouts/admin_menu' %>
		<div class="page-wrapper-footer"></div>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
