<!DOCTYPE html>
<html>
<head>
	<%= render 'layouts/head' %>
</head>
<body>
	<div class="page-wrapper">
		<%= render 'layouts/header' %>
		
		<%= yield :divider %>
     	<div class="wrapper">
     		<div id="main_container" class="container">
     			<main id="main" class="wide">
					<%= yield %>
				</main>
     		</div>
     	</div>
	    <div class="page-wrapper-footer"></div>

	<div id="popup">
	      <% if params[:controller] == 'products'%> 
	      	Выбрать
	      <% else %>
	      	Подробнее
	      <% end %>
	 </div>

	<%= render 'layouts/admin_menu' %>
	</div>
<%= render 'layouts/footer' %>
</body>
</html>
